<h4><{$smarty.const._AD_MCLLIBS_COMMENT}></h4>
<div class="foot"><strong><{$smarty.const._AD_MCLLIBS_COMMENT_VERI}></strong></div>
<div class="odd"><strong><{$smarty.const._MI_MCLLIBS_COMMENT_NAME}> : </strong><{$comm->getShow('com_name')}></div>
<div class="even"><strong><{$smarty.const._MI_MCLLIBS_COMMENT_COMMENT}> : </strong><{$comm->getShow('com_text')}></div>
<div class="odd"><strong><{$smarty.const._AD_MCLLIBS_IPADDRESS}> : </strong><{$comm->getShow('com_ip')}></div>
<div class="even"><strong><{$smarty.const._AD_MCLLIBS_COM_DATE}> : </strong><{$comm->get('com_time')|xoops_formattimestamp:'Y-m-d H:i:s'}></div>
<form method="post" action="index.php?action=commentVeri" class="foot">
<input type="hidden" name="com_modid" value="<{$comm->get('com_modid')}>" />
<input type="hidden" name="com_itemid" value="<{$comm->get('com_itemid')}>" />
<input type="hidden" name="com_id" value="<{$comm->get('com_id')}>" />
<select name="status">
<option value="0"<{if $comm->get('com_status')===0}> selected="selected"<{/if}>><{$smarty.const._AD_MCLLIBS_NOVIEW}></option>
<option value="1"<{if $comm->get('com_status')===1}> selected="selected"<{/if}>><{$smarty.const._AD_MCLLIBS_RELEASE}></option>
<option value="2"<{if $comm->get('com_status')===2}> selected="selected"<{/if}>><{$smarty.const._AD_MCLLIBS_PERMRELEASE}></option>
</select>
<input type="submit" value="<{$smarty.const._AD_MCLLIBS_UPDATE}>" class="formButton" />
</form>
