<div class="adminnavi">
  <a href="./index.php"><{$smarty.const._MI_LEGACY_NAME}></a>
  &raquo;&raquo; <span class="adminnaviTitle"><a href="./index.php?action=ModuleList"><{$smarty.const._MI_LEGACY_MENU_MODULELIST}></a></span>
</div>
<h3 class="admintitle"><{$smarty.const._MI_LEGACY_MENU_MODULELIST}></h3>
<ul class="toptab">
  <li><a href="<{$xoops_url}>/modules/legacy/admin/index.php?action=InstallList"><{$smarty.const._AD_LEGACY_LANG_MODINSTALL}></a></li>
  <li><a href="<{$xoops_url}>/modules/legacy/admin/index.php?action=ModuleList"><{$smarty.const._AD_LEGACY_LANG_MODLIST}></a></li>
</ul>

<table class="outer">
  <tr>
    <th><{$smarty.const._AD_LEGACY_LANG_MOD_MID}></th>
    <th><{$smarty.const._AD_LEGACY_LANG_WEIGHT}></th>
    <th><{$smarty.const._AD_LEGACY_LANG_MOD_NAME}></th>
    <th><{$smarty.const._AD_LEGACY_LANG_VERSION}></th>
    <th><{$smarty.const._AD_LEGACY_LANG_LASTUPDATE}></th>
    <th><{$smarty.const._AD_LEGACY_LANG_CONTROL}></th>
  </tr>
  <{foreach item=module from=$modlist}>
    <tr class="<{cycle values='odd,even'}>">
      <td class="legacy_list_id" style="text-align:right"><{$module.mid}></td>
      <td class="legacy_list_select" style="text-align:right"><{$module.weight}></td>
      <td class="legacy_list_image">
        <img src="<{$xoops_url}>/modules/<{$module.dirname}>/<{$module.image}>" alt="<{$module.name|xoops_escape}>" /><br />
        <{$module.name|xoops_escape}>
      </td>
      <td class="legacy_list_order">
        <{if $module.version==$module.fversion}>
        <{$module.version}>/<{$module.fversion}>
        <{else}>
        <{$module.version}>/<strong><{$module.fversion}></strong>
        <{/if}>
      </td>
      <td class="legacy_list_date"><{$module.last_update|xoops_formattimestamp:l}></td>
      <td class="legacy_list_control">
        <a href="index.php?action=ModuleUpdate&amp;mid=<{$module.mid}>"><img src="<{"icons/update.gif"|theme}>" alt="<{$smarty.const._AD_LEGACY_LANG_UPDATE}>" title="<{$smarty.const._AD_LEGACY_LANG_UPDATE}>" /></a>&nbsp;
        <{if $module.mid>2}>
        <a href="index.php?action=ModuleUninstall&amp;mid=<{$module.mid}>"><img src="<{"icons/uninstall.gif"|theme}>" alt="<{$smarty.const._AD_LEGACY_LANG_UNINSTALL}>" title="<{$smarty.const._AD_LEGACY_LANG_UNINSTALL}>" /></a>&nbsp;
        <a href="index.php?action=ModuleReinstall&amp;mid=<{$module.mid}>"><img src="<{$xoops_url}>/modules/mcllibs/admin/images/re.gif" alt="<{$smarty.const._AD_MCLLIBS_REINSTALL}>" title="<{$smarty.const._AD_MCLLIBS_REINSTALL}>" /></a>
        <{/if}>
      </td>
    </tr>
  <{/foreach}>
</table>
