<h4>My Blocks Admin</h4>
<{if $blocklist}>
<form method="post" action="#">
<table class="outer">
<tr>
  <th>Visible</th>
  <th>Title</th>
  <th>Side</th>
  <th>Order</th>
  <th>View Modules</th>
  <th>Action</th>
</tr>
<{foreach item=block from=$blocklist}>
<tr class="<{if $block.bl.visible==1}>active<{else}>inactive<{/if}>">
  <td class="center"><input type="checkbox" name="visible[<{$block.bl.bid}>]" value="1"<{if $block.bl.visible==1}> checked="checked"<{/if}> /></td>
  <td><input type="text" name="title[<{$block.bl.bid}>]" value="<{$block.bl.title|xoops_escape}>" size="30" /></td>
  <td>
    <div class="blockside <{if $smarty.const.XOOPS_SIDEBLOCK_LEFT==$block.bl.side}>active<{else}>inactive<{/if}>">
    <input name="side[<{$block.bl.bid}>]" type="radio" value="<{$smarty.const.XOOPS_SIDEBLOCK_LEFT}>"<{if $smarty.const.XOOPS_SIDEBLOCK_LEFT==$block.bl.side}> checked="checked"<{/if}> />
    </div>
    <div class="blockside_separator">-</div>
    <div class="blockside <{if $smarty.const.XOOPS_CENTERBLOCK_LEFT==$block.bl.side}>active<{else}>inactive<{/if}>">
    <input name="side[<{$block.bl.bid}>]" type="radio" value="<{$smarty.const.XOOPS_CENTERBLOCK_LEFT}>"<{if $smarty.const.XOOPS_CENTERBLOCK_LEFT==$block.bl.side}> checked="checked"<{/if}> />
    </div>
    <div class="blockside <{if $smarty.const.XOOPS_CENTERBLOCK_CENTER==$block.bl.side}>active<{else}>inactive<{/if}>">
    <input name="side[<{$block.bl.bid}>]" type="radio" value="<{$smarty.const.XOOPS_CENTERBLOCK_CENTER}>"<{if $smarty.const.XOOPS_CENTERBLOCK_CENTER==$block.bl.side}> checked="checked"<{/if}> />
    </div>
    <div class="blockside <{if $smarty.const.XOOPS_CENTERBLOCK_RIGHT==$block.bl.side}>active<{else}>inactive<{/if}>">
    <input name="side[<{$block.bl.bid}>]" type="radio" value="<{$smarty.const.XOOPS_CENTERBLOCK_RIGHT}>"<{if $smarty.const.XOOPS_CENTERBLOCK_RIGHT==$block.bl.side}> checked="checked"<{/if}> />
    </div>
    <div class="blockside_separator">-</div>
    <div class="blockside <{if $smarty.const.XOOPS_SIDEBLOCK_RIGHT==$block.bl.side}>active<{else}>inactive<{/if}>">
    <input name="side[<{$block.bl.bid}>]" type="radio" value="<{$smarty.const.XOOPS_SIDEBLOCK_RIGHT}>"<{if $smarty.const.XOOPS_SIDEBLOCK_RIGHT==$block.bl.side}> checked="checked"<{/if}> />
    </div>
  </td>
  <td><input type="text" name="weight[<{$block.bl.bid}>]" value="<{$block.bl.weight}>" size="4" /></td>
  <td class="center">
    <select name="bmodule[<{$block.bl.bid}>][]" size="4" multiple="multiple">
    <{foreach item=mod key=key from=$block.mod}>
    <option value="<{$key}>"<{$mod.sel}>><{$mod.name}></option>
    <{/foreach}>
    </select>
  </td>
  <td class="center">
    <{if $block.bl.visible==1}>
    <a href="<{$xoops_url}>/modules/legacy/admin/index.php?action=BlockEdit&amp;bid=<{$block.bl.bid}>">
    <img src="<{"icons/edit.gif"|theme}>" alt="<{$smarty.const._EDIT}>" title="<{$smarty.const._EDIT}>" />
    </a>
    <{/if}>
    <input type="hidden" name="bid[]" value="<{$block.bl.bid}>" />
    <input type="hidden" name="old_visible[<{$block.bl.bid}>]" value="<{$block.bl.visible}>" />
    <input type="hidden" name="old_title[<{$block.bl.bid}>]" value="<{$block.bl.title|xoops_escape}>" />
    <input type="hidden" name="old_side[<{$block.bl.bid}>]" value="<{$block.bl.side}>" />
    <input type="hidden" name="old_weight[<{$block.bl.bid}>]" value="<{$block.bl.weight}>" />
  </td>
</tr>
<{/foreach}>
<tr><td colspan="6" class="foot"><input type="submit" value="<{$smarty.const._SUBMIT}>" class="formButton" /></td></tr>
</table>
<input type="hidden" name="token" value="<{$token}>" />
</form>
<{else}>
No Block.
<{/if}>
