<h4><{$smarty.const._AD_MCLLIBS_COMMENT}></h4>
<div class="foot"><strong><{$smarty.const._AD_MCLLIBS_COMMENT_DELETE}></strong></div>
<div class="odd"><strong><{$smarty.const._MI_MCLLIBS_COMMENT_NAME}> : </strong><{$comm->getShow('com_name')}></div>
<div class="even"><strong><{$smarty.const._MI_MCLLIBS_COMMENT_COMMENT}> : </strong><{$comm->getShow('com_text')}></div>
<div class="odd"><strong><{$smarty.const._AD_MCLLIBS_IPADDRESS}> : </strong><{$comm->getShow('com_ip')}></div>
<div class="even"><strong><{$smarty.const._AD_MCLLIBS_COM_DATE}> : </strong><{$comm->get('com_time')|xoops_formattimestamp:'Y-m-d H:i:s'}></div>
<form method="post" action="index.php?action=commentDel" class="foot">
<input type="hidden" name="com_modid" value="<{$comm->get('com_modid')}>" />
<input type="hidden" name="com_itemid" value="<{$comm->get('com_itemid')}>" />
<input type="hidden" name="com_id" value="<{$comm->get('com_id')}>" />
<input type="submit" value="<{$smarty.const._DELETE}>" class="formButton" />
</form>
