<div class="adminnavi"><{$myname}> &raquo;&raquo; <{$smarty.const._MD_A_D3BLOG_H2_CSSMANAGER}></div>

<div class="resultMsg"><{$smarty.const._MD_A_D3BLOG_FORMAT_CSS_DIRECTORY|replace:"%s":$css_dir}></div>


<div class="tips">
<{$smarty.const._MD_A_D3BLOG_HELP_CSSMANAGER}>
</div>

<h4 class="head"><{$smarty.const._MD_A_D3BLOG_FORMAT_CSS_DIRECTORY|replace:"%s":$css_dir}></h4>

<{if $check_dir}>
	<{foreach item=msg from=$check_dir}>
	<div class="errorMsg"><{$msg}></div>
	<{/foreach}>
<{/if}>

<form name="cssmanagerform" action="" method="post">
<{$gticket_hidden}>
<table class="outer">
	<thead>
		<tr>
			<th><{$smarty.const._MD_A_D3BLOG_LANG_TEMPLATE_NAME}></th>
			<th><{$smarty.const._MD_A_D3BLOG_LANG_TEMPLATE_TYPE}></th>
			<th><{$smarty.const._MD_A_D3BLOG_LANG_CSS_FILE}></th>
			<th><{$smarty.const._MD_A_D3BLOG_LANG_TEMPLATE_FILE}></th>
<{foreach item=tplset from=$tplsets}>	
			<th<{if $tplset == $xoopsConfig.template_set}> style="color:orange;"<{/if}>><{if $num_by_tplset.$tplset > 0}><input type='checkbox' onclick="with(document.cssmanagerform){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].name.indexOf('<{$tplset|escape}>_check')>=0){elements[i].checked=this.checked;}}}" /><{/if}> <{$tplset|escape}></th>	
<{/foreach}>
	</thead>
	<tfoot class="head">
		<tr>
			<td class="foot" colspan="4">&nbsp;</td>
<{foreach item=tplset from=$tplsets}>
			<td class="foot"><{if $num_by_tplset.$tplset > 0}><input name='do_write[<{$tplset|escape}>]' type="submit" value="<{$smarty.const._MD_A_D3BLOG_LANG_WRITE_CSS_FILE}>" onclick="return confirm('<{$smarty.const._MD_A_D3BLOG_MESSAGE_ARE_YOU_SURE_TO_OVERWRITE_CSSFILE}>');" /><{else}>&nbsp;<{/if}></td>
<{/foreach}>
		</tr>
	</tfoot>
	<tbody>
<{foreach item=cssfile from=$cssfiles}>
		<tr class="<{cycle values="even, odd"}>">
			<td><{$cssfile.file_name}><br /><{$cssfile.file_description}></td>
			<td><{$cssfile.type}><br />(<{$cssfile.count}>)</td>
			<td><{$cssfile.css_file_name}><br /><{$cssfile.css_last_modified}><br /><{$cssfile.css_fingerprint}></td>
			<td><{$cssfile.file_last_modified}><br /><{$cssfile.file_fingerprint}></td>
	<{foreach item=tpl from=$cssfile.db_tpls}>
			<td<{if $tpl.style}> style="<{$tpl.style}>"<{/if}>><{$tpl.tpl_last_modified}><br /><{$tpl.tpl_fingerprint}><br /><{if $tpl.numrows > 0}><input type='checkbox' name='<{$tpl.tpl_tplset}>_check[<{$tpl.tpl_file}>]' value='1'<{if $tpl.tpl_tplset == $xoopsConfig.template_set and $tpl.tpl_lastmodified > $cssfile.css_lastmodified}> checked="checked"<{/if}> />&nbsp;<a href="?mode=admin&amp;lib=altsys&amp;page=mytplsform&amp;tpl_file=<{$tpl.tpl_file}>&amp;tpl_tplset=<{$tpl.tpl_tplset}>"><{$smarty.const._EDIT}></a> <{/if}>(<{$tpl.numrows}>)</td>
	<{/foreach}>
		</tr>
<{/foreach}>
	</tbody>
</table>
</form>
