<h3><{$myname}> : <{$smarty.const._MD_A_D3BLOG_LANG_PERMISSION_MANAGER}></h3>
<hr />
<h4><{$smarty.const._MD_A_D3BLOG_LANG_CATEGORY_NAME}> : <{$category_name}></h4>

<form name="groupperms" action="" method="post" style="margin:20px 0px">
	<{$gticket_hidden}>
	<input type="hidden" name="cid" value="<{$cid}>" />
	<table class="outer">
		<thead>
			<tr>
				<th><{$smarty.const._MD_A_D3BLOG_LANG_GROUP_NAME}></th>
<{foreach from=$gperm_config item=gperm_name key=gperm_term name=configloop}>
				<th><{$smarty.const.$gperm_name}>
					<span style="display:block;text-align:center;"><input type="checkbox" onclick="with(document.groupperms){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].id.indexOf('gcol_<{$smarty.foreach.configloop.iteration}>_')>=0){elements[i].checked=this.checked;}}}"></span>
</th>
<{/foreach}>
		</thead>
		<tbody>
<{foreach from=$group_list item=gname key=gid}>
			<tr class="<{cycle values='odd,even'}>">
				<td style="text-align:center;"><{$gname}>
				<span style="display:block;text-align:center;"><input type="checkbox" onclick="with(document.groupperms){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].id.indexOf('_gid<{$gid}>_')>=0){elements[i].checked=this.checked;}}}"></span>
	<{foreach from=$groupperms[$cid][$gid].perms item=gperm_value key=gperm_name name=gpermloop}>
				<td style="text-align:center;"><input type="checkbox" name="<{$gperm_name}>[<{$gid}>]" id="gcol_<{$smarty.foreach.gpermloop.iteration}>_gid<{$gid}>_" value="1"<{if $gperm_value}> checked="checked"<{/if}> />
	<{/foreach}>
<{/foreach}>
		</tbody>
        <tfoot>
        <tr>
        <td class="foot" colspan="6"><input type="submit" name="gperm_renew" value="<{$smarty.const._SUBMIT}>" /></td>
        </tr>
        </tfoot>
	</table>

</form>