<{assign var=archive value=$block.archives}>
<{if $archive.months}>
<ul class="<{$block.mydirname}>BlockArchive">
<{foreach item=arch from=$archive.months}>
<li><a href="<{$block.mod_url}>/index.php?date=<{$arch.year}><{$arch.month}>">
<{$arch.year}> <{$arch.monthname}></a><span>(<{$arch.entries}>)</span></li>
<{/foreach}>
</ul>
<{/if}>
<{if $archive.page_navigator}><p class="<{$block.mydirname}>BlockArchNav"><{$archive.page_navigator}></p><{/if}>
<p class="<{$block.mydirname}>BlockArchSort"><a href="<{$xoops_url}>/modules/<{$block.mydirname}>/archives.php"><{$archive.lang_sort_archives}></a></p>
