<{if $actionForm->hasError()}>
  <ul class="error">
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message|xoops_escape}></li>
    <{/foreach}>
  </ul>
<{/if}>
<ul class="toptab">
  <li><a href="index.php?action=PostEdit&amp;topic_id=<{$topic->getShow('topic_id')}>"><{$smarty.const._MD_BIZFORUM_LANG_ADD_A_NEW_POST}></a></li>
</ul>

<div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
<form action="index.php?action=PostEdit" method="post">
<div class="item bizforumTopic">
	<div class="itemHead">
		<{foreach item=catPath from=$catPathArr.cat_title name=cat}>
		<{assign var=catId value=$smarty.foreach.cat.iteration-1}>
			<a href="./index.php?action=TopicList&amp;cat_id=<{$catPathArr.cat_id[$catId]}>"><{$catPath}></a> &raquo; 
		<{/foreach}>
		<a href="./index.php?action=TopicList&amp;cat_id=<{$topic->getShow('cat_id')}>"><{$catTitle}></a> : 
		<h3 class="itemTitle">
			<{$topic->getShow('topic_title')}>
		</h3>
	</div>
	<div class="itemInfo">
		<span class="itemPostDate">
			<{$topic->get('reg_unixtime')|xoops_formattimestamp:l}> &nbsp;
		</span>
		<span class="itemStats">
			by: 
			<{if $topic->get('uid')>0}><a href="./index.php?action=TopicList&amp;uid=<{$topic->getShow('uid')}>"><{$topic->getShow('uid')|xoops_user:"uname"}></a>
			<{else}><{$topic->get('guest_name')}><{/if}>
		</span>
		<{if $isEditor || (intval($topic->get('uid'))>0 && $topic->get('uid')==$xoops_userid)}>
			<span class="itemStats">
				<a href="./index.php?action=TopicEdit&amp;topic_id=<{$topic->getShow('topic_id')}>"><img src="<{$xoops_url}>/images/icons/edit.gif" alt="edit" /></a>
				<a href="./index.php?action=TopicDelete&amp;topic_id=<{$topic->getShow('topic_id')}>"><img src="<{$xoops_url}>/images/icons/delete.gif" alt="delete" /></a>
			</span>
		<{/if}>
	</div>
	<div class="itemBody">
		<{$topic->getShow('bodytext')}>
	</div>
	<div class="itemFoot">
		<span class="itemStats">
		<span id="<{$dirname}>_reply_0" class="replyPost"><{$smarty.const._MD_BIZFORUM_LANG_REPLY_POST}></span>
		</span>
	</div>
	<div id="bizforum_replyField_0" class="bizforum_replyField"></div>
</div>
<{foreach item=obj from=$objects}>
<div class="item bizforumPost">
	<div class="itemHead">
		<h3 class="itemTitle">
			<{$obj->getShow('post_id')}>
		</h3>
	</div>
	<div class="itemInfo">
		<span class="itemStats">
			<{foreach item=replyPath from=$obj->mReplyPath name=replyPath}>
			<span class="replyPath loadPost" id="<{$dirname}>_path_<{$replyPath}>" title="<{$replyPath}>" rel="text.php?action=PostView&amp;post_id=<{$replyPath}>"> [ <{$replyPath}> ] </span> &raquo; 
			<{/foreach}>
		</span>
		<span class="itemPostDate">
			<{$obj->get('reg_unixtime')|xoops_formattimestamp:l}> &nbsp;
		</span>
		<span class="itemStats">
			by: 
			<{if $obj->get('uid')>0}><a href="./index.php?action=TopicList&amp;uid=<{$obj->getShow('uid')}>"><{$obj->getShow('uid')|xoops_user:"uname"}></a>
			<{else}><{$obj->get('guest_name')}><{/if}>
		</span>
		<{if $isEditor || (intval($obj->get('uid'))>0 && $obj->get('uid')==$xoops_userid)}>
			<span class="itemStats">
				<a href="./index.php?action=PostEdit&amp;post_id=<{$obj->getShow('post_id')}>"><img src="<{$xoops_url}>/images/icons/edit.gif" alt="edit" /></a>
			</span>
		<{/if}>
	</div>
	<div class="itemBody">
		<{$obj->getShow('bodytext')}>
	</div>
	<div class="itemFoot">
		<span class="itemStats">
		<span id="<{$dirname}>_reply_<{$obj->get('post_id')}>" class="replyPost"><{$smarty.const._MD_BIZFORUM_LANG_REPLY_POST}></span>
		</span>
	</div>
	<div id="<{$dirname}>_replyField_<{$obj->get('post_id')}>" class="<{$dirname}>_replyField"></div>
</div>
<{/foreach}>

<{xoops_token form=$actionForm}>
<{xoops_input type=hidden name=post_id value=$actionForm->get('post_id')}>
<{xoops_input type=hidden name=uid value=$actionForm->get('uid')}>
<{xoops_input type=hidden name=p_id value=$actionForm->get('p_id')}>
<{xoops_input type=hidden name=topic_id value=$actionForm->get('topic_id')}>
</form>

<div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
