<dl>
  <dt><{$smarty.const._MD_BIZFORUM_LANG_TOPIC_ID}></dt>
  <dd><{$object->getShow('topic_id')}></dd>
  <dt><{$smarty.const._MD_BIZFORUM_LANG_TOPIC_TITLE}></dt>
  <dd><{$object->getShow('topic_title')}></dd>
  <dt><{$smarty.const._MD_BIZFORUM_LANG_CAT_ID}></dt>
  <dd><{$object->getShow('cat_id')}></dd>
  <dt><{$smarty.const._MD_BIZFORUM_LANG_UID}></dt>
  <dd><{$object->getShow('uid')}></dd>
  <dt><{$smarty.const._MD_BIZFORUM_LANG_GUEST_NAME}></dt>
  <dd><{$object->getShow('guest_name')}></dd>
  <dt><{$smarty.const._MD_BIZFORUM_LANG_EXTERNAL_LINK}></dt>
  <dd><{$object->getShow('external_link')}></dd>
  <dt><{$smarty.const._MD_BIZFORUM_LANG_BODYTEXT}></dt>
  <dd><{$object->getShow('bodytext')}></dd>
  <dt><{$smarty.const._MD_BIZFORUM_LANG_OPTION}></dt>
  <dd><{$object->getShow('option')}></dd>
  <dt><{$smarty.const._MD_BIZFORUM_LANG_REG_UNIXTIME}></dt>
  <dd><{$object->get('reg_unixtime')|xoops_formattimestamp:l}></dd>
</dl>
