<form name="commentf" method="post" action="<{$xoops_url}>/index.php?moddir=mcllibs">
<table border="0">
<tr><th colspan="2" style="text-align: center;"><{$smarty.const._MI_MCLLIBS_COMMENT_ADDEDT}></th></tr>
<tr>
<td class="head"><{$smarty.const._MI_MCLLIBS_COMMENT_COMMENT}></td>
<td class="even"><textarea name="com_txt" cols="50" rows="10"><{$comobj->get('com_text')|xoops_escape}></textarea></td>
</tr>
<tr>
<td colspan="2" class="odd" style="text-align: center;">
<input type="hidden" name="com_token" value="<{$comment_token}>" />
<input type="hidden" name="com_modid" value="<{$comobj->get('com_modid')}>" />
<input type="hidden" name="com_itemid" value="<{$comobj->get('com_itemid')}>" />
<input type="hidden" name="com_id" value="<{$comobj->get('com_id')}>" />
<input type="hidden" name="action" value="comedit" />
<input type="submit" name="subbtn" value="<{$smarty.const._EDIT}>" />
</td>
</tr>
</table>
</form>
