<div>
<{if $comment_objs}>
<{foreach item=obj from=$comment_objs}>
<div class="odd"><{$smarty.const._MI_MCLLIBS_COMMENT_NAME}> : 
<{if $obj->get('com_uid') == 0}>
<{$obj->getShow('com_name')}>
<{else}>
<a href="<{$xoops_url}>/userinfo.php?uid=<{$obj->getShow('com_uid')}>"><{$obj->getShow('com_name')}></a>
<{/if}>
(<{$obj->getShow('com_time')|xoops_formattimestamp:l}>)
</div>
<div class="even"><{$obj->getShow('com_text')}></div>
<{if $xoops_isuser && $obj->getShow('com_uid')==$xoops_userid}>
<div class="odd" style="text-align:right;">
<a href="<{$xoops_url}>/index.php?moddir=mcllibs&amp;action=comedit&amp;com_modid=<{$obj->get('com_modid')}>&amp;com_itemid=<{$obj->get('com_itemid')}>&amp;com_id=<{$obj->get('com_id')}>"><{$smarty.const._EDIT}></a>
&middot;
<a href="<{$xoops_url}>/index.php?moddir=mcllibs&amp;action=comdelete&amp;com_modid=<{$obj->get('com_modid')}>&amp;com_itemid=<{$obj->get('com_itemid')}>&amp;com_id=<{$obj->get('com_id')}>"><{$smarty.const._DELETE}></a>
</div>
<{/if}>
<br />
<{/foreach}>
<{else}>
<div class="odd">NONE</div>
<{/if}>
</div>
