<table width="100%" class="outer">
  <tr>
    <td class="head"><{$smarty.const._MD_USER_LANG_NICKNAME}></td>
    <td class="<{cycle values="odd,even"}>">
      <{$actionForm->get('uname')|xoops_escape}>
    </td>
  </tr>
  <tr>
    <td class="head"><{$smarty.const._MD_USER_LANG_EMAIL}></td>
    <td class="<{cycle values="odd,even"}>">
      <{$actionForm->get('email')|xoops_escape}>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="foot" style="text-align:center;">
      <input type="button" value="<{$smarty.const._MD_USER_LANG_FINISH}>" onclick="javascript:confirmok.confirm.value='ok';confirmok.submit();" />
      <input type="button" value="<{$smarty.const._CANCEL}>" onclick="javascript:confirmok.confirm.value='no';confirmok.submit();" />
    </td>
  </tr>
</table>
<form action="#" method="post" name="confirmok">
<{xoops_token form=$actionForm}>
<input type="hidden" name="confirm" value="ok" />
</form>
