<div>
  <div style="font-weight: bold;"><{$smarty.const._LOGIN}></div>
  <form action="<{$smarty.const.XOOPS_URL}>/user.php" method="post" >
    <{$smarty.const._USERNAME}> <{xoops_input type=text name=uname size=26 maxlength=25 value=$usercookie}><br />
    <{$smarty.const._PASSWORD}> <{xoops_input type=password name=pass size=21 maxlength=32}><br />
    <{xoops_input type=hidden name=op value=login}>
    <{xoops_input type=hidden name=xoops_redirect value=$redirect_page}>
    <input type="submit" value="<{$smarty.const._LOGIN}>" />
  </form>
  <div><{$smarty.const._MD_USER_LANG_NOTREGISTERED}><br /></div>
</div>
