<ul class="toptab">
  <li><a href="index.php?action=ModEdit"><{$smarty.const._MD_XCAT_LANG_ADD_A_NEW_MOD}></a></li>
</ul>

<table class="outer">
  <tr>
    <th><{$smarty.const._MD_XCAT_LANG_MOD_ID}><br />
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.XCAT_MOD_SORT_KEY_MOD_ID}>"><img src="<{$xoops_url}>/modules/xcat/images/up.gif"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.XCAT_MOD_SORT_KEY_MOD_ID}>"><img src="<{$xoops_url}>/modules/xcat/images/up.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a></th>
    <th><{$smarty.const._MD_XCAT_LANG_GR_ID}><br />
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.XCAT_MOD_SORT_KEY_GR_ID}>"><img src="<{$xoops_url}>/modules/xcat/images/up.gif"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.XCAT_MOD_SORT_KEY_GR_ID}>"><img src="<{$xoops_url}>/modules/xcat/images/up.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a></th>
    <th><{$smarty.const._MD_XCAT_LANG_MID}><br />
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.XCAT_MOD_SORT_KEY_MID}>"><img src="<{$xoops_url}>/modules/xcat/images/up.gif"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.XCAT_MOD_SORT_KEY_MID}>"><img src="<{$xoops_url}>/modules/xcat/images/up.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a></th>
    <th><{$smarty.const._MD_XCAT_LANG_DIR_NAME}><br />
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.XCAT_MOD_SORT_KEY_DIR_NAME}>"><img src="<{$xoops_url}>/modules/xcat/images/up.gif"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.XCAT_MOD_SORT_KEY_DIR_NAME}>"><img src="<{$xoops_url}>/modules/xcat/images/up.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a></th>
    <th><{$smarty.const._MD_XCAT_LANG_WEIGHT}><br />
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.XCAT_MOD_SORT_KEY_WEIGHT}>"><img src="<{$xoops_url}>/modules/xcat/images/up.gif"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.XCAT_MOD_SORT_KEY_WEIGHT}>"><img src="<{$xoops_url}>/modules/xcat/images/up.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a></th>
    <th><{$smarty.const._MD_XCAT_LANG_OPTION}><br />
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.XCAT_MOD_SORT_KEY_OPTION}>"><img src="<{$xoops_url}>/modules/xcat/images/up.gif"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.XCAT_MOD_SORT_KEY_OPTION}>"><img src="<{$xoops_url}>/modules/xcat/images/up.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a></th>
    <th><{$smarty.const._MD_XCAT_LANG_CONTROL}></th>
  </tr>
  <{foreach item=obj from=$objects}>
    <tr class="<{cycle values='odd,even'}>">
      <td><{$obj->getShow('mod_id')}></td>
      <td><{$obj->getShow('gr_id')}></td>
      <td><{$obj->getShow('mid')}></td>
      <td><{$obj->getShow('dir_name')}></td>
      <td><{$obj->getShow('weight')}></td>
      <td><{$obj->getShow('option')}></td>
      <td>
        <a href="./index.php?action=ModView&amp;mod_id=<{$obj->getShow('mod_id')}>"><{$smarty.const._VIEW}></a>
        <a href="./index.php?action=ModEdit&amp;mod_id=<{$obj->getShow('mod_id')}>"><{$smarty.const._EDIT}></a>
        <a href="./index.php?action=ModDelete&amp;mod_id=<{$obj->getShow('mod_id')}>"><{$smarty.const._DELETE}></a>
      </td>
    </tr>
  <{/foreach}>
</table>
<div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
