<div class="confirm"><{$smarty.const._MD_XCAT_MESSAGE_CONFIRM_DELETE}></div>

<form action="./index.php?action=CatDelete" method="POST">
  <{xoops_token form=$actionForm}>
  <{xoops_input type=hidden name=cat_id value=$actionForm->get('cat_id')}>
  <table class="outer">
    <tr>
      <th colspan="2"><{$smarty.const._MD_XCAT_LANG_CAT_DELETE}></th>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_XCAT_LANG_CAT_ID}></th>
      <td class="<{cycle values="odd,even"}>"><{$object->getShow('cat_id')}></td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_XCAT_LANG_CAT_TITLE}></th>
      <td class="<{cycle values="odd,even"}>"><{$object->getShow('cat_title')}></td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_XCAT_LANG_GR_ID}></th>
      <td class="<{cycle values="odd,even"}>"><{$object->getShow('gr_id')}></td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_XCAT_LANG_P_ID}></th>
      <td class="<{cycle values="odd,even"}>"><{$object->getShow('p_id')}></td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_XCAT_LANG_CAT_DESC}></th>
      <td class="<{cycle values="odd,even"}>"><{$object->getShow('cat_desc')}></td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_XCAT_LANG_WEIGHT}></th>
      <td class="<{cycle values="odd,even"}>"><{$object->getShow('weight')}></td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_XCAT_LANG_OPTIONS}></th>
      <td class="<{cycle values="odd,even"}>"><{$object->getShow('options')}></td>
    </tr>
    <tr>
      <td class="foot" colspan="2">
        <input type="submit" class="formButton" value="<{$smarty.const._DELETE}>"/>
        <input type="submit" class="formButton" value="<{$smarty.const._MD_XCAT_LANG_CANCEL}>" name="_form_control_cancel"/>
      </td>
    </tr>
  </table>
</form>
