<ul class="toptab">
  <li><a href="index.php?action=PermitEdit"><{$smarty.const._MD_XCAT_LANG_ADD_A_NEW_PERMIT}></a></li>
  <li><a href="index.php?action=GrList"><{$smarty.const._MD_XCAT_LANG_GR}></a></li>
</ul>

<table class="outer">
  <tr>
    <th><{$smarty.const._MD_XCAT_LANG_PERMIT_ID}><br />
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.XCAT_PERMIT_SORT_KEY_PERMIT_ID}>"><img src="<{$xoops_url}>/modules/xcat/images/up.gif"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.XCAT_PERMIT_SORT_KEY_PERMIT_ID}>"><img src="<{$xoops_url}>/modules/xcat/images/up.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a></th>
    <th><{$smarty.const._MD_XCAT_LANG_CAT_ID}><br />
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.XCAT_PERMIT_SORT_KEY_CAT_ID}>"><img src="<{$xoops_url}>/modules/xcat/images/up.gif"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.XCAT_PERMIT_SORT_KEY_CAT_ID}>"><img src="<{$xoops_url}>/modules/xcat/images/up.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a></th>
    <th><{$smarty.const._MD_XCAT_LANG_UID}><br />
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.XCAT_PERMIT_SORT_KEY_UID}>"><img src="<{$xoops_url}>/modules/xcat/images/up.gif"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.XCAT_PERMIT_SORT_KEY_UID}>"><img src="<{$xoops_url}>/modules/xcat/images/up.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a></th>
    <th><{$smarty.const._MD_XCAT_LANG_GROUPID}><br />
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.XCAT_PERMIT_SORT_KEY_GROUPID}>"><img src="<{$xoops_url}>/modules/xcat/images/up.gif"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.XCAT_PERMIT_SORT_KEY_GROUPID}>"><img src="<{$xoops_url}>/modules/xcat/images/up.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a></th>
    <th><{$smarty.const._MD_XCAT_LANG_PERMISSIONS}><br />
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=<{$smarty.const.XCAT_PERMIT_SORT_KEY_PERMISSIONS}>"><img src="<{$xoops_url}>/modules/xcat/images/up.gif"|theme}>" alt="<{$smarty.const._ASCENDING}>" title="<{$smarty.const._ASCENDING}>" /></a>
      <a href="<{$pageNavi->renderUrlForSort()}>&amp;<{$pageNavi->getPrefix()}>sort=-<{$smarty.const.XCAT_PERMIT_SORT_KEY_PERMISSIONS}>"><img src="<{$xoops_url}>/modules/xcat/images/up.gif" alt="<{$smarty.const._DESCENDING}>" title="<{$smarty.const._DESCENDING}>" /></a></th>
    <th><{$smarty.const._MD_XCAT_LANG_CONTROL}></th>
  </tr>
  <{foreach item=obj from=$objects}>
    <tr class="<{cycle values='odd,even'}>">
      <td><{$obj->getShow('permit_id')}></td>
      <td><{$obj->getShow('cat_id')}></td>
      <td><{$obj->getShow('uid')}></td>
      <td><{$obj->getShow('groupid')}></td>
      <td><{$obj->getShow('permissions')}></td>
      <td>
        <a href="./index.php?action=PermitView&amp;permit_id=<{$obj->getShow('permit_id')}>"><{$smarty.const._VIEW}></a>
        <a href="./index.php?action=PermitEdit&amp;permit_id=<{$obj->getShow('permit_id')}>"><{$smarty.const._EDIT}></a>
        <a href="./index.php?action=PermitDelete&amp;permit_id=<{$obj->getShow('permit_id')}>"><{$smarty.const._DELETE}></a>
      </td>
    </tr>
  <{/foreach}>
</table>
<div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
