<dl>
  <dt><{$smarty.const._MD_XCAT_LANG_PERMIT_ID}></dt>
  <dd><{$object->getShow('permit_id')}></dd>

  <dt><{$smarty.const._MD_XCAT_LANG_CAT_ID}></dt>
  <dd><{$object->getShow('cat_id')}></dd>

  <dt><{$smarty.const._MD_XCAT_LANG_UID}></dt>
  <dd><{$object->getShow('uid')}></dd>

  <dt><{$smarty.const._MD_XCAT_LANG_GROUPID}></dt>
  <dd><{$object->getShow('groupid')}></dd>

  <dt><{$smarty.const._MD_XCAT_LANG_PERMISSIONS}></dt>
  <dd><{$object->getShow('permissions')}></dd>

</dl>
