<{if $actionForm->hasError()}>
  <div class="error">
    <ul>
      <{foreach item=message from=$actionForm->getErrorMessages()}>
        <li><{$message|xoops_escape}></li>
      <{/foreach}>
    </ul>
  </div>
<{/if}>
<form action="index.php?action=ModEdit" method="post">
  <{xoops_token form=$actionForm}>
  <{xoops_input type=hidden name=mod_id value=$actionForm->get('mod_id')}>
  <table class="outer">
    <tr>
    <{if $actionForm->get('mod_id')}>
      <th colspan="2"><{$smarty.const._MD_XCAT_LANG_MOD_EDIT}></th>
  <{else}>
      <th colspan="2"><{$smarty.const._MD_XCAT_LANG_ADD_A_NEW_MOD}></th>
  <{/if}>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_XCAT_LANG_GR_ID}></td>
      <td class="<{cycle values="odd,even"}>">
      	<select name=gr_id id=legacy_xoopsform_gr_id>
	        <{xoops_optionsArray from=$grArr value=gr_id label=gr_title default=$actionForm->get('gr_id')}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_XCAT_LANG_MID}></td>
      <td class="<{cycle values="odd,even"}>">
      	<select name=mid id=legacy_xoopsform_mid>
	        <{xoops_optionsArray from=$modArr value=mid label=dirname default=$actionForm->get('mid')}>
        </select>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_XCAT_LANG_WEIGHT}></td>
      <td class="<{cycle values="odd,even"}>">
        <{xoops_input type=text name=weight value=$actionForm->get('weight')}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_XCAT_LANG_OPTION}></td>
      <td class="<{cycle values="odd,even"}>">
        <{xoops_dhtmltarea type=text name=option value=$actionForm->get('option')}>
      </td>
    </tr>
    <tr>
      <td class="foot" colspan="2">
        <input type="submit" class="formButton" value="<{$smarty.const._SUBMIT}>"/>
        <input type="submit" class="formButton" value="<{$smarty.const._MD_XCAT_LANG_CANCEL}>" name="_form_control_cancel"/>
      </td>
    </tr>
  </table>
</form>
