<div class="confirm"><{$smarty.const._MD_XCAT_MESSAGE_CONFIRM_DELETE}></div>

<form action="./index.php?action=ModDelete" method="POST">
  <{xoops_token form=$actionForm}>
  <{xoops_input type=hidden name=mod_id value=$actionForm->get('mod_id')}>
  <table class="outer">
    <tr>
      <th colspan="2"><{$smarty.const._MD_XCAT_LANG_MOD_DELETE}></th>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_XCAT_LANG_MOD_ID}></th>
      <td class="<{cycle values="odd,even"}>"><{$object->getShow('mod_id')}></td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_XCAT_LANG_GR_ID}></th>
      <td class="<{cycle values="odd,even"}>"><{$object->getShow('gr_id')}></td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_XCAT_LANG_MID}></th>
      <td class="<{cycle values="odd,even"}>"><{$object->getShow('mid')}></td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_XCAT_LANG_DIR_NAME}></th>
      <td class="<{cycle values="odd,even"}>"><{$object->getShow('dir_name')}></td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_XCAT_LANG_WEIGHT}></th>
      <td class="<{cycle values="odd,even"}>"><{$object->getShow('weight')}></td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_XCAT_LANG_OPTION}></th>
      <td class="<{cycle values="odd,even"}>"><{$object->getShow('option')}></td>
    </tr>
    <tr>
      <td class="foot" colspan="2">
        <input type="submit" class="formButton" value="<{$smarty.const._DELETE}>"/>
        <input type="submit" class="formButton" value="<{$smarty.const._MD_XCAT_LANG_CANCEL}>" name="_form_control_cancel"/>
      </td>
    </tr>
  </table>
</form>
