<dl>
  <dt><{$smarty.const._MD_XCAT_LANG_MOD_ID}></dt>
  <dd><{$object->getShow('mod_id')}></dd>

  <dt><{$smarty.const._MD_XCAT_LANG_GR_ID}></dt>
  <dd><{$object->getShow('gr_id')}></dd>

  <dt><{$smarty.const._MD_XCAT_LANG_MID}></dt>
  <dd><{$object->getShow('mid')}></dd>

  <dt><{$smarty.const._MD_XCAT_LANG_DIR_NAME}></dt>
  <dd><{$object->getShow('dir_name')}></dd>

  <dt><{$smarty.const._MD_XCAT_LANG_WEIGHT}></dt>
  <dd><{$object->getShow('weight')}></dd>

  <dt><{$smarty.const._MD_XCAT_LANG_OPTION}></dt>
  <dd><{$object->getShow('option')}></dd>

</dl>
