<div class="xcat">
	<div class="catDetail">
		<h1><{$smarty.const._MD_XCAT_LANG_CAT_TITLE}>: <{$object->getShow('cat_title')}> <a href="./index.php?action=CatEdit&amp;cat_id=<{$object->getShow('cat_id')}>"><img src="<{$xoops_url}>/images/icons/edit.gif" alt="<{$smarty.const._EDIT}>" /></a></h1>
		<div class="description">
			<{$object->getShow('cat_desc')}>
		</div>
		<dl>
		  <dt><{$smarty.const._MD_XCAT_LANG_GR}>:</dt>
		  <dd><a href="./index.php?action=GrView&amp;gr_id=<{$object->getShow('gr_id')}>"><{$object->mGr->getShow('gr_title')}></a></dd>

		  <dt><{$smarty.const._MD_XCAT_LANG_P_ID}>:</dt>
		  <dd><{if $object->mPcat}><a href="./index.php?action=CatView&amp;cat_id=<{$object->getShow('p_id')}>"><{$object->mPcat->getShow('cat_title')}></a><{else}><{$smarty.const._MD_XCAT_LANG_TOP_CAT}><{/if}></dd>

		  <dt><{$smarty.const._MD_XCAT_LANG_WEIGHT}>:</dt>
		  <dd><{$object->getShow('weight')}></dd>

		</dl>
		<h3><{$smarty.const._MD_XCAT_LANG_MODULES_CONFINEMENT}></h3>
		<ul>
			<{foreach item=module from=$modulesArr}>
			<li><{$module}></li>
			<{/foreach}>
		</ul>
	</div>
	<div class="catTree">
		<h2><{$smarty.const._MD_XCAT_LANG_CAT}></h2>
		<{xcat_tree tree=$childrenTree url="./index.php?action=CatView&amp;cat_id="}>
	</div>
	<hr style="clear:both;" />
	<div>
	<h2><{$smarty.const._MD_XCAT_LANG_PERMISSIONS}></h2>
	<form action="index.php?action=PermitEdit" method="post">
	  <{xoops_token form=$actionFormPermit}>
	  <{xoops_input type=hidden name=permit_id value=$actionFormPermit->get('permit_id')}>
	  <{xoops_input type=hidden name=cat_id value=$actionFormPermit->get('cat_id')}>
		<{assign var=targetCat value=$permitObj->getTargetCat()}>
		<{if $targetCat=='cur'}>
		<table class="curCatPermit">
		<{elseif $targetCat=='anc'}>
		<table class="ancCatPermit">
		<{else}>
		<table class="ngCatPermit">
		<{/if}>
			<tr>
				<th style="width:150px;">Group</th>
				<{foreach item=act from=$permitObj->mActionArr.name}>
					<th><{$act}></th>
				<{/foreach}>
			</tr>
			<{foreach item=group key=gKey from=$permitObj->mGroupArr.groupid}>
				<tr>
				<{if $targetCat=='cur'}>
					<{xoops_input type=hidden name=permit_ids[$group] value=$permitObj->mPermit.permit_id[$gKey].$targetCat}>
				<{/if}>
					<th><{$permitObj->mGroupArr.name[$gKey]}></th>
					<{foreach item=permitKey key=oKey from=$permitObj->mActionArr.key}>
						<{if $targetCat}>
							<td>
							<input type="checkbox" name="permit_options[<{$group}>][<{$permitKey}>]" value="1"<{if $permitObj->checkPermitGroup($gKey, $oKey)==1}> checked="checked"<{/if}>>
							</td>
						<{else}>
							<td>NG</td>
						<{/if}>
					<{/foreach}>
				</tr>
			<{/foreach}>
		</table>
		<table id="usersPermit">
			<tr>
				<th style="width:150px;">User</th>
				<{foreach item=actUser from=$permitObj->mActionArr.name}>
					<th><{$actUser}></th>
				<{/foreach}>
			</tr>
			<{foreach item=user key=uKey from=$permitObj->mUserPermit.key.user name=users}>
     		<{assign var=iter1 value=$smarty.foreach.users.iteration-1}>
				<tr>
				<{if $targetCat=='cur'}>
					<{xoops_input type=hidden name=user_permit_ids[$iter1] value=$permitObj->mUserPermit.permit_id[$uKey].$targetCat}>
				<{/if}>
					<th><input type="text" name="user_names[<{$iter1}>]" value="<{$uKey|xoops_user:"uname"}>"></th>
					<{foreach item=permitKey key=oKey2 from=$permitObj->mActionArr.key}>
						<{if $targetCat}>
							<td><input type="checkbox" name="user_permit_options[<{$iter1}>][<{$permitKey}>]" value="1"<{if $permitObj->checkPermitUser($uKey, $oKey2)==1}> checked="checked"<{/if}>></td>
						<{else}>
							<td>NG</td>
						<{/if}>
					<{/foreach}>
				</tr>
			<{/foreach}>
		</table>
		<input type="button" value="<{$smarty.const._MD_XCAT_LANG_ADD_A_NEW_USER}>" onClick="addUserField()">
		<input type="submit" class="formButton" value="<{$smarty.const._SUBMIT}>"/>
	</form>
	<{if $permitObj->getTargetCat()=='cur'}>
		<hr />
		<p>
			<a href="./index.php?action=PermitDelete&amp;cat_id=<{$object->getShow('cat_id')}>"><{$smarty.const._MD_XCAT_LANG_DELEET_ALL_PERMIT}></a>
		</p>
	<{/if}>
	</div>
</div>
<br style="clear:both;" />
