.curCatPermit td{
	background-color:	#DDDDDD;
}

.ancCatPermit td{
	background-color:	#DDFFFF;
}

.catDetail{
	width:	500px;
	float:	left;
}

.catDetail dt{
	margin-right:20px;
	float:	left;
}

.catDetail dd{
}

.grDetail{
	float:	left;
}

.grDetail table{
	width:	400px;
}

.catTree{
	float:	right;
	width:	250px;
	border:	1px solid #DDDDDD;
	background-color:	#EFEFEF;
	padding:	10px;
}

.xcat_tree li{
	border-bottom:	1px dashed #999999;
	line-height:	3em;
}

