#content noscript { color:#f00; }
.content noscript { color:#f00; }
#content form { margin-left:10px; }
.content form { margin-left:10px; }
#xcsearch { display:none; }
#gasearch { display:none; }

/* basic tabs */
#tabs10 img { border: none; }
#tabs10 {
    font: bold 0.8em/1em Verdana "MS P¥´¥·¥Ã¥¯" ;
    float:left;
    width:100%;
    border-bottom:1px solid #2763A5;
    line-height:normal;
    padding:0;
}
#tabs10 ul {
    margin:0;
    padding:10px 10px 0 10px;
    list-style:none;
}
#tabs10 li {
    display:inline;
    margin:0;
    padding:0;
}
#tabs10 a {
    float:left;
    background:url("../images/tableft10.gif") no-repeat left top;
    margin:0 3px 0 0;
    padding:0 0 0 4px;
    text-decoration:none;
}
#tabs10 a span {
    float:left;
    display:block;
    background:url("../images/tabright10.gif") no-repeat right top;
    padding:5px 15px 4px 6px;
    color:#FFF;
}
/*#tabs10 a:hover      { background-position:0% -42px; }
#tabs10 a:hover span { background-position:100% -42px; }*/
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs10 a span { float:none; }


/* search this site */
#nosearch { padding:10px; display:block; }
div.nos-tabsArea { width:100%; margin:6px 0; font-size:90%; border-bottom:1px solid #999; }
a.nos-tabHeader { 
	float:left; 
	cursor: pointer;
	background:#DDD;
	margin:3px 3px 0 0;
	padding:2px 6px;
	border-top:1px solid #CCC; border-left:1px solid #CCC; border-right:1px solid #CCC; 
	font-weight:normal;
}
a#nos-tabActive { background:#FFF; border-top:3px solid #F90; padding:1px 6px; }
.nos-resultsArea { padding:10px; clear:both; margin:0; }
.nos-rlt { display:block; }
#nos-result0 { display:block; }
#nosearch form { margin:0; }

.xcCredit { text-align:right; font-size:86%; }