<div class="bookmark">

	<!-- Cubookmarken Menu -->
	<{if $allow_useredit=="true"}>
	<ul class="toptab">
	  <li><a href="./index.php?action=BmList"><{$smarty.const._MD_CUBOOKMARKEN_LANG_BOOKMARK}></a></li>
	  <li><a href="./index.php?action=BmTopics"><{$smarty.const._MD_CUBOOKMARKEN_LANG_POPBOOKMARK}></a></li>
	<{if $xoops_userid}>
	  <li><a href="./index.php?action=BmList&amp;uid=<{$xoops_userid}>">My <{$smarty.const._MD_CUBOOKMARKEN_LANG_BOOKMARK}></a></li>
	  <li><a href="index.php?action=BmEdit"><{$smarty.const._MD_CUBOOKMARKEN_LANG_ADD_A_NEW_BM}></a></li>
	  <li><a href="./rss.php?action=BmExport"><{$smarty.const._MD_CUBOOKMARKEN_LANG_EXPORT}></a></li>
	  <li><a href="javascript:window.location='<{$xoops_url}>/modules/cubookmarken/index.php?action=BmEdit&ret=1&bm_title='+encodeURIComponent(document.title)+'&url='+encodeURIComponent(location.href);" onclick="return false;">bookmarklet</a> (<a href="#bookmarklet">?</a>)</li>
	<{/if}>
	</ul>
	<br class="clear" />
	<{/if}>

<!-- Google CSE Search Box Begins  -->
<!-- Use of this code assumes agreement with the Google Custom Search Terms of Service. -->
<!-- The terms of service are available at http://www.google.com/coop/docs/cse/tos.html -->
<p>
<form id="cref" action="http://www.google.com/cse">
  <input type="hidden" name="cref" value="<{$xoops_url}>/modules/cubookmarken/rss.php?action=BmCse" />
  <input type="text" name="q" size="40" />
  <input type="submit" name="sa" value="Search" />
</form>
</p>
<!-- Google CSE Search Box Ends -->


	<!-- Tag Cloud -->
	<div class="tagCloudColumn">
	<h3><{$smarty.const._MD_CUBOOKMARKEN_LANG_TAG_CLOUD}></h3>
	<{$tagCloud}>
	</div>

	<!-- Main -->
	<h1>
		<{if $myCubookmarken == 'true' and $objects[0]}>
			<{$objects[0]->getShow('uid')|xoops_user:"uname"}>'s <{$smarty.const._MD_CUBOOKMARKEN_LANG_BOOKMARK}>
		<{else}>
			<{$smarty.const._MD_CUBOOKMARKEN_LANG_BOOKMARK}><{$smarty.const._LIST}>
		<{/if}>
		&nbsp;<a href="./rss.php?action=BmRss<{if $myCubookmarken == 'true' and $objects[0]}>&amp;uid=<{$objects[0]->getShow('uid')}><{/if}>"><img src="./images/icon_rss20.gif" alt="RSS" /></a>
	</h1>
	<div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
	<hr />
	<ul class="bookmarkList">
	<{foreach item=obj from=$objects}>
	  <li>
	    <a href="<{$obj->getShow('url')}>" target="_blank"><img src="images/icon_home_s.gif" alt="URL" /></a>
	  	<strong><a href="./index.php?action=BmView&amp;bm_id=<{$obj->getShow('bm_id')}>"><{$obj->getShow('bm_title')}></a></strong>
			&nbsp;(<{$obj->get('reg_unixtime')|xoops_date_format:"%Y.%m.%d"}>
			<{if $myCubookmarken != 'true'}>
			&nbsp; by <a href="./index.php?action=BmList&amp;uid=<{$obj->getShow('uid')}>"><{$obj->getShow('uid')|xoops_user:"uname"}></a>
			<{/if}>)
			<{$obj->bm_count}>users
	  	<{if $obj->getShow('uid') == $xoops_userid}>
				<a href="./index.php?action=BmEdit&amp;bm_id=<{$obj->getShow('bm_id')}>"><img src="images/icon_edit.gif" alt="<{$smarty.const._EDIT}>" /></a>
	      <a href="./index.php?action=BmDelete&amp;bm_id=<{$obj->getShow('bm_id')}>"><img src="images/icon_delete.gif" alt="<{$smarty.const._DELETE}>" /></a>
	    <{/if}>
	    <br />
	    <span class="tagList">
			<{foreach item=tag from=$obj->mTag}>
				[<a href="./index.php?action=TagList&amp;tag_name=<{$tag->getShow('tag_name')|escape:"url"}><{if $myCubookmarken == 'true'}>&amp;uid=<{$objects[0]->getShow('uid')}><{/if}>"><{$tag->getShow('tag_name')}></a>]
			<{/foreach}>
			</span>
	    <br />
	    <{$obj->getShow('memo')}>
	  </li>
	<{/foreach}>
	</ul>
	<hr />
	<div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>


	<!--
	<h2><{$smarty.const._LIST}></h2>
	<{foreach from=$userArr item=user}>
	<li><a href="./index.php?action=BmList&amp;uid=<{$user}>"><{$user|xoops_user:"uname"}></a></li>
	<{/foreach}>
	</ul>
	-->

<!-- Google CSE Search Box Begins  -->
<!-- Use of this code assumes agreement with the Google Custom Search Terms of Service. -->
<!-- The terms of service are available at http://www.google.com/coop/docs/cse/tos.html -->
<p>
<form id="cref" action="http://www.google.com/cse">
  <input type="hidden" name="cref" value="<{$xoops_url}>/modules/cubookmarken/rss.php?action=BmCse" />
  <input type="text" name="q" size="40" />
  <input type="submit" name="sa" value="Search" />
</form>
<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cref"></script>
</p>
<!-- Google CSE Search Box Ends -->

	<!-- Guidance -->
	<{if ($allow_useredit=="true"||$xoops_isadmin=="true")&&$xoops_isuser=="true"}>
	<h3><a name="bookmarklet"><{$smarty.const._MD_CUBOOKMARKEN_LANG_BOOKMARKLET_USAGE}></a></h3>
	<a href="javascript:window.location='<{$xoops_url}>/modules/cubookmarken/index.php?action=BmEdit&ret=1&bm_title='+encodeURIComponent(document.title)+'&url='+encodeURIComponent(location.href);" onclick="return false;">bookmarklet</a>
	<ol>
	<li><{$smarty.const._MD_CUBOOKMARKEN_LANG_BOOKMARKLET_EXPLAIN}></li>
	<li><{$smarty.const._MD_CUBOOKMARKEN_LANG_BOOKMARKLET_EXPLAIN2}></li>
	<li><{$smarty.const._MD_CUBOOKMARKEN_LANG_BOOKMARKLET_EXPLAIN3}></li>
	</ol>

	<h3><{$smarty.const._MD_CUBOOKMARKEN_LANG_EXPORT}></h3>
		<ul>
	  <li><a href="./rss.php?action=BmExport"><{$smarty.const._MD_CUBOOKMARKEN_LANG_EXPORT}></a></li>
		</ul>
	<{/if}>
</div>
