<script language="JavaScript">
<!--
window.onload = function() {
	document.getElementById("bm_url").value = document.URL;
}

//-->
</script>
<{if $actionForm->hasError()}>
  <div class="error">
    <ul>
      <{foreach item=message from=$actionForm->getErrorMessages()}>
        <li><{$message|xoops_escape}></li>
      <{/foreach}>
    </ul>
  </div>
<{/if}>
<form action="<{$xoops_url}>/modules/cubookmarken/index.php?action=BmImplement" method="post">
  <{xoops_token form=$actionForm}>
  <{xoops_input type=hidden name=bm_id value=$actionForm->get('bm_id')}>
  <{xoops_input type=hidden name=uid value=$actionForm->get('uid')}>
  <{xoops_input type=hidden name=reg_unixtime value=$actionForm->get('reg_unixtime')}>
  <table class="outer">
    <tr>
    <{if $actionForm->get('bm_id')}>
      <th colspan="2"><{$smarty.const._MD_CUBOOKMARKEN_LANG_BM_EDIT}></th>
  <{else}>
      <th colspan="2"><{$smarty.const._MD_CUBOOKMARKEN_LANG_ADD_A_NEW_BM}></th>
  <{/if}>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_CUBOOKMARKEN_LANG_BM_TITLE}></td>
      <td class="<{cycle values="odd,even"}>">
        <{xoops_input type=text name=bm_title value=$actionForm->get('bm_title') size=15 maxlength=255}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_CUBOOKMARKEN_LANG_URL}></td>
      <td class="<{cycle values="odd,even"}>">
        <{xoops_input type=text id=bm_url name=url value=$actionForm->get('url') size=15 maxlength=255}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_CUBOOKMARKEN_LANG_MEMO}></td>
      <td class="<{cycle values="odd,even"}>">
        <{xoops_dhtmltarea type=text name=memo value=$actionForm->get('memo')}>
      </td>
    </tr>
    <tr>
      <td class="foot" colspan="2">
        <input type="submit" class="formButton" value="<{$smarty.const._SUBMIT}>"/>
        <input type="submit" class="formButton" value="<{$smarty.const._MD_CUBOOKMARKEN_LANG_CANCEL}>" name="_form_control_cancel"/>
      </td>
    </tr>
  </table>
</form>
