

/************** forum genelic *************/


div.notification {clear:both; margin:10px 0; padding:10px 0px;}



/* boopCode */
#post_reference dd div.boopCode,
#post_preview dd div.boopCode,
div.d3f_body div.boopCode{
	border				:1px #ccc solid;
<{if stristr($smarty.server.HTTP_USER_AGENT,'msie')}>
	width:95%;
<{else}>
	width:auto;
<{/if}>
	overflow:auto;
	padding:0;
	margin:10px 0;
	}
	
	
div.boopCode pre{
<{if stristr($smarty.server.HTTP_USER_AGENT,'Safari')}>
	white-space	:normal !important;/* bug?? */
<{else}>
	white-space	:pre;
<{/if}>
<{if stristr($smarty.server.HTTP_USER_AGENT,'MSIE')}>
	overflow :visible;
<{/if}>
}



/* boopQuote */
div.d3f_body blockquote{
	margin	:0 0 5px;
	padding	:5px;
	}
div.d3f_body div.boopQuote{
	border:1px #ccc solid;
	margin:0;
	padding	:0;
	}
	
#post_reference dd blockquote,
#post_preview dd blockquote{
	margin:0;
	padding	:5px;}

/************** forum CSS *************/

/* em.d3f_attn */

em.d3f_attn{
	font-style:normal;
	border-bottom:1px #333 dotted;
	cursor:help;}

/* d3f_breadcrumbs */

div.d3f_breadcrumbs{
	font-size:95%;
	padding	:0 0 3px;
	border-bottom:1px #aaa solid;}

/* h1 */

.d3f_title{
	font-size:130%;
	margin:3px 0 15px;}
	
.d3f_title *{
	vertical-align:middle;}

/* avatar */

.d3f_avatar{
/*	position:relative;*/
	z-index:110;
	float:right;
	border:4px #aaa solid;
	margin:-4px -8px 0 0;
	float:right;}

/* each post */

.d3f_head {
	padding	:5px;
	line-height	:100%;	
	background-color:#FAFAFF;
	}

.d3f_head h2 {
/*	position:relative;*/
/*	float:left;*/
/*	z-index	:101;*/
	font-size:1.6em;
	margin:0px;
	padding:10px;

	}
	
	
.d3f_head h2 a{
	text-decoration	:none;}
/*.d3f_head h2 a:link{color	:;}
.d3f_head h2 a:active{color	:;}
.d3f_head h2 a:visited{color:;}
.d3f_head h2 a:hover{color	:;}*/

.d3f_head h2.invisible {
	border-bottom:1px #f00 solid;
	}
.d3f_head h2.yetapproval {
	background-color:#0ff;
	}
.d3f_head h2 img{
	vertical-align:middle;
	}
	
.d3f_msgnum{
float:right;
	font-size:95%;
	font-weight:normal;
	}
	
.d3f_info{
clear:both;
	position:relative;
	margin:2px 0 0;
	padding	:3px 8px;
	background-color:#E8E8FF;
	border-top:1px solid #D7D7FF;
}



	.d3f_head_tree_depth{
		z-index	:100;
		position:absolute;
		top	:0;
<{if stristr($smarty.server.HTTP_USER_AGENT,'MSIE')}>
		left:-8px;
<{else}>
		left:0;
<{/if}>
		margin:0;
		padding	:3px 0;
		background:transparent;
		}
		
	dl.d3f_head_tree_depth dt,
	dl.d3f_head_tree_depth dd{
		width				:1px;
		visibility			:hidden;
		float				:left;}
		
		
	dl.d3f_head_tree_depth dt{
		position			:absolute;}
<{else}>
	.d3f_head_tree_depth{
		display				:none;}
<{/if}>

.d3f_info_val{/* just only for indicator... */
	/*z-index:101;*/
	position:relative;}
	
.d3f_info_sub{
	padding				:2px 8px 3px;
		border-bottom:1px solid #D7D7FF;
	}
	
	
.d3f_body{
	width				:auto;
	clear				:right;
	line-height			:150%;
	margin				:0 -2px;
	padding				:15px 8px;
	}
	
	
.d3f_info_ctrl{
	clear				:both;
	line-height			:100%;
	text-align			:right;
	margin				:8px 0px;
	padding				:4px 10px;
	background-color	:#FAFAFF;
	border		:1px #D8D8D8 solid;
	}
	
	.d3f_info_ctrl a {text-decoration:none;}
	
	
.d3f_info_ctrl form input,
.d3f_info_ctrl img{
	vertical-align		:middle;}

/* h2 */
h2.d3f_head {
	font-size			:120%;
	padding				:3px 8px;
	}
	
h2.d3f_tree{
	margin-bottom		:4px;
	}

/* main_listposts.html */

.d3f_wrap{
	width				:100%;
	clear				:both;
	border-top			:2px #FAFAFF solid;
	padding				:2px 2px 0;}

/* d3f_form */

form.d3f_form { float:right; margin-top: 10px;}
form.d3f_form p input{
	vertical-align		:middle;}

/* d3f_ctrl */

.d3f_ctrl{
	width				:100%;
	margin				:5px 0;
	padding				:2px;
	line-height			:150%;
	clear				:both;
	background-color:#FAFAFF;
	border-bottom:1px solid #D7D7FF;
	
	}
	
ul.d3f_ctrl li {
	margin-left			:10px; list-style: none; }


div.d3f_order_ctrl {
	float				:right;}
	
div.d3f_order_ctrl a{
	margin-left			:10px;}


/* h3 */

h3.d3f_head_h3{
	font-size			:120%;
	margin				:0px;
	padding				:10px;
	background-color:#FAFAFF;
	border-bottom		:1px #d8d8d8 solid;}

/* d3f_orderctrl */

p.d3f_viewctrl{
	margin				:0;
	padding				:3px;
	text-align			:right;}

/* d3f_topicinfo */

.d3f_topicinfo{
	text-align			:left;
	margin				:0;
	padding				:2px;}

/* main_viewpost.html */
/* eachbranch */

ul.d3f_eachbranch{
	margin				:0;
	padding				:0;}
ul.d3f_eachbranch li{
	list-style			:none outside;
	margin				:0;
	padding				:0;}
ul.d3f_eachbranch li img{
	vertical-align		:middle;}

/* d3f_currenttopic */

.d3f_eachbranch li.d3f_eachbranchitem{
	padding-top			:2px;
	padding-bottom		:2px;
}
.d3f_eachbranch li.d3f_currenttopic{
	}
.d3f_eachbranch li.d3f_currenttopic > span,
.d3f_eachbranch li.d3f_currenttopic > span a {
	}

/* main_listforums.html */
/* d3f_subcategories */

ul.d3f_subcategories { 
	margin:10px 30px;
	}

ul.d3f_subcategories li{
	list-style			:none outside;
	}

ul.d3f_subcategories li a {
	font-size:1.3em;
	}

/* forum_main_listcategories.html */
/* infomations*/

dl.d3f_bbsinfo{
	font-size				:95%;
	margin				:0;
	float				:right;}
dl.d3f_bbsinfo dt,dl.d3f_bbsinfo dd{
	display				:inline;
	margin				:0;}
dl.d3f_bbsinfo dd{
	margin				:0 5px 0 0;}
dl.d3f_timeinfo{
	clear				:both;
	font-size				:95%;
	margin				:0;
	padding				:0 0 10px;
	float				:right;}
dl.d3f_timeinfo dt,dl.d3f_timeinfo dd{
	display				:inline;
	margin				:0;}
dl.d3f_timeinfo dd{
	margin				:0 5px 0 0;}


ul.d3f_listforums {
	margin:10px 30px;
	}
ul.d3f_listforums li{
	list-style			:none outside;}

/* main_listtopics.html */
/* d3f_bbsviewctrl */

div.d3f_bbsviewctrl{
	line-height			:100%;
	float				:left;
	padding-bottom		:3px;}
div.d3f_bbsviewctrl form{
	margin				:0;
	padding				:0;}
div.d3f_bbsviewctrl form *,p.d3f_bbsviewctrl *{
	vertical-align		:middle;
	margin				:0;
	padding				:0;}

/* d3f_pagenav */

.d3f_pagenav{
	text-align			:right;
	padding				:3px;}

table.d3f_table{
	width				:100%;
	clear				:both;}
table.d3f_table thead th{

	background-color		:#FAFAFF;
	}
table.d3f_table thead th,
table.d3f_table td{
	text-align			:center !important;
	padding				:3px;
	vertical-align		:middle;
	}
table.d3f_table td.d3f_topictitle,
table.d3f_table td.d3f_posters{
	text-align			:left !important;}
table.d3f_table td.d3f_mainicon{
	padding				:0;}

table.d3f_table td img{
	vertical-align		:middle;
	margin-right			:3px;}

table.d3f_table td dl{
	text-align			:left !important;
	margin				:0 -3px;
	padding				:0;}
table.d3f_table td dt{
	margin				:0;
	padding				:3px 3px 5px;}
table.d3f_table td dd{
	margin				:0;
	padding				:0 3px 5px;}
table.d3f_table td dd.d3f_td_topicinfo{
	margin				:0;
	padding				:3px 3px 1px;
	border-top			:1px #000 dashed;
	font-size				:95%;}

/* d3f_iconexp */

div.d3f_iconexps ul.d3f_iconexp{
/*	width				:45%;*/
	float				:left;}

ul.d3f_iconexp{
	padding-bottom		:15px;}

ul.d3f_iconexp li{
	list-style			:none outside;
	padding				:3px 0;}

ul.d3f_iconexp li img{
	vertical-align		:middle;
	margin-right			:3px;}

/* forum forms */

#post_reference dd,
#post_preview dd{
	margin				:0;}

/* table.d3f_form_table */

table.d3f_form_table td,
table.d3f_form_table th{
	vertical-align		:top !important;
	text-align			:left;}

/* d3f_submit */

p.d3f_submit{
	text-align			:center;
	margin				:0;
	padding				:10px;}

