<noscript><{$smarty.const._MD_XCSEARCH_NOSCRIPT}></noscript>
<p style="margin-bottom:10px;">
  <a href="<{$xoops_url}>/modules/<{$xoops_modulename}>/">
    <img src="./images/title.gif" alt="<{$xoops_modulename}>" />
  </a>
</p>

<{* <!------- XCSEARCH --------> *}>
<form name="searchbox" id="searchbox_<{$ccx}>" action="<{$xoops_url}>/modules/<{$xoops_modulename}>/">
  <{if count($xcsearch_id)==1}>
    <{$xcsearch_id[0].title}> - SEARCH<br />
  <{else}>
    <select id="cx_selector" onChange="change_cx(this);">
    <{foreach item=xcs_id from=$xcsearch_id}>
        <option value="<{$xcs_id.cx|escape}>" <{if $ccx == $xcs_id.cx}>SELECTED<{/if}> ><{$xcs_id.title}></option>
    <{/foreach}>
    </select>
  <{/if}>

    <!-- Google CSE Search Box Begins -->
  <input type="hidden" name="cx" id="cx" value="<{$ccx}>" />
  <input name="q" type="text" size="40" id="query_str" value="<{$query_str}>" />
  <input type="submit" name="sa" value="Search" />
  <input type="hidden" name="cof" value="FORID:11" />
  <input name="ie" value="<{$smarty.const._CHARSET}>" type="hidden">
  <input name="oe" value="<{$smarty.const._CHARSET}>" type="hidden">
  <input type="hidden" name="tabno" id="tabno2" value="<{$tabno}>" />
  <input type="hidden" name="andor" id="andor" value="<{$andor}>" />
    <!-- Google CSE Search Box Ends -->
</form>
<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=searchbox_<{$ccx|escape}>"></script>


<{* <!------- Basic Tabs --------> *}>
<div id="tabs10">
  <ul>
    <li><a href="#" title="<{$smarty.const._MD_XCSEARCH_XCS}>" onClick="changetab(1,this)" onMouseover="mover(1,this)" onMouseout="mout(1,this)" id="xcs"><span><{$smarty.const._MD_XCSEARCH_XCS}></span></a></li>
    <{if $xcsearch_apikey!=""}>
    <li><a href="#" title="<{$smarty.const._MD_XCSEARCH_GAS}>" onClick="changetab(2,this)" onMouseover="mover(2,this)" onMouseout="mout(2,this)" id="gas"><span><{$smarty.const._MD_XCSEARCH_GAS}></span></a></li>
    <{/if}>
    <{if $enable_search==1}>
    <li><a href="#" title="<{$smarty.const._MD_XCSEARCH_NOS}>" onClick="changetab(3,this)" onMouseover="mover(3,this)" onMouseout="mout(3,this)" id="nos"><span><{$smarty.const._MD_XCSEARCH_NOS}></span></a></li>
    <{/if}>
  </ul>
</div><br style="clear:both;" />


<!-- Google Search Result Snippet Begins -->
<script type="text/javascript"><!--
  var googleSearchIframeName = "results_<{$ccx}>";
  var googleSearchFormName = "searchbox_<{$ccx}>";
  var googleSearchFrameWidth = 600;
  var googleSearchFrameborder = 0;
  var googleSearchDomain = "www.google.com";
  var googleSearchPath = "/cse";

function change_cx( cx_selector ){
  document.getElementById("cx").value = cx_selector.value ;
  window.document.searchbox.submit();
}
//--></script>
<div id="xcsearch">
<div id="results_<{$ccx}>" style="padding:10px;"></div>
<script type="text/javascript" src="http://www.google.com/afsonline/show_afs_search.js"></script>
<!-- Google Search Result Snippet Ends -->

<{if $xoops_isadmin}>
  <div style="text-align:right;">
    <a href="http://www.google.com/coop/manage/cse/code?cx=<{$ccx}>" target="_blank">Google Co-op admin</a>
  </div>
<{/if}>
</div>
<{* <!------- END of XCSEARCH --------> *}>


<{* <!------- Google Ajax Search --------> *}>
<div id="gasearch">
<{if $xcsearch_apikey!="" && $query_str!="" }>
  <style type="text/css">@import url(./gsc/gsearch.css);</style>

    <script src="http://www.google.com/uds/api?file=uds.js&amp;v=1.0&amp;
        key=<{$xcsearch_apikey}>" 
        type="text/javascript"></script>

    <script language="Javascript" type="text/javascript">
    //<![CDATA[
      function gscOnLoad() {
        // create a tabbed mode search control
        var tabbed = new GSearchControl();
        tabbed.addSearcher(new GwebSearch());
        tabbed.addSearcher(new GblogSearch());
        tabbed.addSearcher(new GnewsSearch());
        tabbed.addSearcher(new GimageSearch());
        tabbed.addSearcher(new GvideoSearch());
        tabbed.addSearcher(new GlocalSearch());
        tabbed.addSearcher(new GbookSearch());
        tabbed.setResultSetSize(GSearch.LARGE_RESULTSET);

        // draw in tabbed layout mode
        var drawOptions = new GdrawOptions();
        drawOptions.setDrawMode(GSearchControl.DRAW_MODE_TABBED);
        tabbed.draw(document.getElementById("search_control_tabbed"), drawOptions);

        tabbed.execute("<{$query_str}>");
      }
      GSearch.setOnLoadCallback(gscOnLoad);
    //]]>
    </script>
    <div class="search-control" id="search_control_tabbed"><img src="./gsc/load.gif" alt="loading.." /></div>
<{/if}>
</div>
<{* <!------- END of Google Ajax Search --------> *}>


<{* <!------- Search this site --------> *}>
<div id="nosearch">
  <form>
    <input type="radio" name="cAndor" value="AND" onclick="changeAndor('AND')" <{if $andor=='AND'}>CHECKED<{/if}> ><{$smarty.const._MD_XCSEARCH_AND}>
    <input type="radio" name="cAndor" value="OR" onclick="changeAndor('OR')" <{if $andor=='OR'}>CHECKED<{/if}> ><{$smarty.const._MD_XCSEARCH_OR}>
  </form>
  <{foreach item=notice from=$nos_notice}><{$notice}><br /><{/foreach}>
  <{if $searchresult}>
    <div class="nos-tabsArea">
    <{foreach item=module from=$searchresult key=count}>
      <a class="nos-tabHeader" <{if $count==0}>id="nos-tabActive"<{/if}> onclick="nosChange(<{$count}>,this)"><{$module.name}></a>
    <{/foreach}><br style="clear:both;" />
    </div>

    <div class="nos-resultsArea">
    <{foreach item=module from=$searchresult key=count}>
      <div class="nos-rlt" id="nos-result<{$count}>">
      <noscript><{$module.name}><br /></noscript>
      <{foreach item=result from=$module.results key=rslt_count name=i}>
        <img src="<{$result.image}>" alt="<{$module.name}>" title="<{$module.name}>" /><a href="<{$result.link}>">&nbsp;<{$result.title}></a>&nbsp;<small>(<{$result.time}>)</small><br />
        <{if $smarty.foreach.i.last && $rslt_count>=$per_page-1}>
          <div style="padding:8px 0;">
          <a href="javascript:void(0);" onclick="showAll(<{$module.mid}>,<{$count}>,1);"><{$smarty.const._MD_XCSEARCH_SHOWALL}></a>
          </div>
        <{/if}>
      <{/foreach}>
      </div>
    <{/foreach}>
    </div>
  <{/if}>
  <div style="text-align:right;"><a href="<{$xoops_url}>/search.php"><{$smarty.const._MD_XCSEARCH_NOS}></a></div>
</div>
<{* <!------- END of Search this site --------> *}>


<{* <!------- CREDIT --------> *}>
<div class="xcCredit"><{$smarty.const._MD_XCSEARCH_CREDIT}></div>


<script type="text/javascript"><!--
var xcsearch = document.getElementById("xcsearch") ;
var gasearch = document.getElementById("gasearch") ;
var nosearch = document.getElementById("nosearch") ;
var xcs = document.getElementById("xcs") ;
var gas = (document.getElementById("gas")) ? document.getElementById("gas") : undefined ;
var nos = (document.getElementById("nos")) ? document.getElementById("nos") : undefined ;

var present = <{$tabno}>;

if( present == 1 ) {
  xcs.style.backgroundPosition ="0% -42px";
  xcs.childNodes[0].style.backgroundPosition ="100% -42px";
  xcsearch.style.display ="block";
  nosearch.style.display ="none";
}else if( present == 2 ){
  if(gas!=undefined) gas.style.backgroundPosition ="0% -42px";
  if(gas!=undefined) gas.childNodes[0].style.backgroundPosition ="100% -42px";
  gasearch.style.display ="block";
  nosearch.style.display ="none";
}else if( present == 3 ){
  if(nos!=undefined) nos.style.backgroundPosition ="0% -42px";
  if(nos!=undefined) nos.childNodes[0].style.backgroundPosition ="100% -42px";
  nosearch.style.display ="block";
}

var nosrlts = getElementsByClass("nos-rlt","div");
for( i=0; i<nosrlts.length; i++ ){
    nosrlts[i].style.display = "none" ;
}
if( document.getElementById("nos-result0") ) document.getElementById("nos-result0").style.display = "block" ;

var perpage = <{$next_num}>;
//--></script>
