<{strip}>
<table width="100%" cellspacing="0" class="outer">
  <tr>
    <td class="even"><br />
      <{include file="db:`$mydirname`_header.html"}>
      <table broder='0' cellpadding='0' cellspacing='0' width='100%'>
        <tr>
          <td align='left'>
          	<span style="font-weight:bold;">
       		<a href='index.php'><{$lang_album_main}></a>&nbsp;<{$album_sub_title}>&nbsp;<{$photo.title}>
            </span>
          </td>
          <td align='right'>
          	<{if $lang_add_photo}>
       		<a href="index.php?page=submit"><{$lang_add_photo}><img src="<{$mod_url}>/images/img_add.png" border="0" alt="<{$lang_add_photo}>" title="<{$lang_add_photo}>" align="absmiddle" /></a>
            <{/if}>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br />

<!-- Photo Navigation -->
<div align='center'>
	<{$photo_nav}>
</div>
<br />

<!-- Display Main Image & Details -->
<table width="100%" border="0" align="center" cellspacing="5">
	<tr>
    	<!-- Image Title -->
    	<td colspan="4">
        	<div align="center">
            	<h3><{$photo.title}></h3>
            </div>        </td>
    </tr>
	<tr>
    	<!-- Image -->
		<td colspan="4">
        	<div align="center">
            	<{if $enable_ajax}>
                	<!-- Ajax Enabled Content -->
            		<a href="<{$mod_url}>/index.php?page=image&id=<{$photo.lid}>&sz=2" rel="lightbox" title="Uploaded by <{$photo.submitter_name}>"><img src="<{$mod_url}>/index.php?page=image&id=<{$photo.lid}>&sz=1" alt="<{$photo.title}>" border="0" title="<{$photo.title}>" /></a>
				<{else}>
                	<!-- Standard Image Display -->
            		<a href="<{$mod_url}>/index.php?page=image&id=<{$photo.lid}>&sz=2" title="Uploaded by <{$photo.submitter_name}>" target="_blank"><img src="<{$mod_url}>/index.php?page=image&id=<{$photo.lid}>&sz=1" alt="<{$photo.title}>" border="0" title="<{$photo.title}>" /></a>
            	<{/if}>             </div>        </td>
    </tr>
	<tr>
	  <td colspan="4" align="center">
      	<b><{$lang_imginfo}><br />
      	<br />
      	</b></td>
  </tr>
	<tr>
	  <td width="30%" align="right">
      	<{if $photo.can_edit}>
        	<a href='<{$mod_url}>/index.php?page=editphoto&lid=<{$photo.lid}>'><img src='<{$mod_url}>/images/img_edit.png' border='0' alt='<{$lang_editthisphoto}>' title='<{$lang_editthisphoto}>' /></a>
        <{/if}>&nbsp;
        <{if $photo.is_newphoto}>
        	<img src='<{$mod_url}>/images/img_new.png' border='0' alt='<{$lang_new}>' title='<{$lang_new}>' align="absmiddle"/>&nbsp;
   		<{/if}>
        <{if $photo.is_updatedphoto}>
        	<img src='<{$mod_url}>/images/update.gif' border='0' alt='<{$lang_updated}>' title='<{$lang_updated}>' align="absmiddle"/>
        	<{/if}>
        <{if $photo.is_popularphoto}>
        	<img src='<{$mod_url}>/images/img_pop.png' border='0' alt='<{$lang_popular}>' title='<{$lang_popular}>' align="absmiddle"/>
   		<{/if}>      </td>
      <td width="16%" align="center">
      	<{if $photo.submitter > 0 }>
        	<a href='<{$xoops_url}>/userinfo.php?uid=<{$photo.submitter}>'><img src='<{$mod_url}>/images/submitter.png' width='16' height='16' alt='<{$lang_submitter}>' title='<{$lang_submitter}>' border='0' align="absmiddle" /></a> <{$photo.submitter_name}> <a href='<{$mod_url}>/index.php?page=viewcat&uid=<{$photo.submitter}>'><img src='<{$mod_url}>/images/img_more.png' width='16' height='16' alt='<{$photo.info_morephotos}>' title='<{$photo.info_morephotos}>' border='0' align="absmiddle" /></a>
        <{else}>
            <img src='<{$mod_url}>/images/submitter.png' width='16' height='16' alt='<{$lang_submitter}>' title='<{$lang_submitter}>' align="absmiddle" /> <{$photo.submitter_name}>
        <{/if}>      </td>
      <td width="24%" align="center">
      	<{if $canrateview}>
   			<{if $photo.rating > 0}>
            	<img src='<{$mod_url}>/images/vote<{$photo.rank}>.png' alt='<{$photo.rating}>' title='<{$photo.rating}>' border='0' align="absmiddle" /><{$photo.info_votes}>
   			<{else}>
                <img src='<{$mod_url}>/images/vote_none.png' alt='<{$photo.info_votes}>' title='<{$photo.info_votes}>' border='0' align="absmiddle" /><{$photo.info_votes}>
   			<{/if}>
   		<{/if}>      </td>
      <td width="30%" align="left">
      	<{if $canratevote}>
      		<a href='<{$mod_url}>/index.php?page=ratephoto&lid=<{$photo.lid}>'><img src='<{$mod_url}>/images/vote.png' alt='<{$lang_ratethisphoto}>' title='<{$lang_ratethisphoto}>' border='0' align="absmiddle" /><{$lang_ratethisphoto}></a>
        <{/if}>      </td>
  </tr>
	<tr>
	  <td colspan="2" align="right">
      	<img src='<{$mod_url}>/images/img_hits.png' width='16' height='16' alt='<{$lang_hitsc}>' title='<{$lang_hitsc}>' align="absmiddle" /><{$photo.hits}>&nbsp;&nbsp;<img src='<{$mod_url}>/images/img_comment.png' width='16' height='16' alt='<{$lang_commentsc}>' title='<{$lang_commentsc}>' align="absmiddle" /><{$photo.comments}><{if $d3imgtag_extendedinfo}>&nbsp;&nbsp;<img src="<{$mod_url}>/images/img_size.png" width='16' height='16' alt='<{$lang_filesize}>' title='<{$lang_filesize}>' align="absmiddle" /> <{$photo.size}>&nbsp;&nbsp;<img src="<{$mod_url}>/images/img_res.png" width='16' height='16' alt='<{$lang_fileres}>' title='<{$lang_fileres}>' align="absmiddle" /> <{$photo.res_x}> X <{$photo.res_y}><{/if}>      </td>
      <td colspan="2" align="center">
      	<{if $photo.description}>
	      	<{$photo.description}>
        <{/if}>
      </td>
  </tr>
</table>

<{if $d3imgtag_share}>
	<{if $photo.share}>
    	<br />
		<br />
<table width="100%" border="0">
          <tr>
            <td colspan="2" align="center"><b><{$lang_shareimg}></b></td>
            </tr>
          <tr>
            <td width="35%" align="right">&nbsp;</td>
            <td width="65%" align="left">&nbsp;</td>
         </tr>
          <tr>
            <td align="right"><em><{$lang_sharedirect}></em></td>
            <td align="left"><input name="" type="text" size="75" value="<{$mod_url}>/index.php?page=share&id=<{$photo.lid}>"/></td>
          </tr>
          <tr>
            <td align="right"><em><{$lang_sharehtml}></em></td>
            <td align="left"><input name="" type="text" size="75" value="<img src='<{$mod_url}>/index.php?page=share&id=<{$photo.lid}>' alt='<{$photo.title}>'>"/></td>
          </tr>
          <tr>
            <td align="right"><em><{$lang_sharehtmllink}></em></td>
            <td align="left"><input name="" type="text" size="75" value="<a href='<{$xoops_url}>' target='_blank' /><img src='<{$mod_url}>/index.php?page=share&id=<{$photo.lid}>' alt='<{$photo.title}>'></a>"/></td>
          </tr>
      </table>
      <br />
	  <br />
    <{/if}>
<{/if}>
<!-- Photo Navigation -->
<div align='center'>
	<{$photo_nav}>
</div>

<!-- Comment Bar -->
<div style="text-align: center; padding: 3px; margin: 3px;">
	<{$commentsnav}>
	<{$lang_notice}>
</div>

<!-- Display Comments -->
<div style="margin: 3px; padding: 3px;">
	<{if $comment_mode == "flat"}>
		<{include file="db:system_comments_flat.html"}>
	<{elseif $comment_mode == "thread"}>
  		<{include file="db:system_comments_thread.html"}>
  	<{elseif $comment_mode == "nest"}>
 	 	<{include file="db:system_comments_nest.html"}>
  	<{/if}>
</div>

<!-- Notifcation * Footer -->
<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tr>
    	<td align="center">
        	<{include file='db:system_notification_select.html'}>
            <br />
            <{include file="db:`$mydirname`_footer.html"}>
        </td>
	</tr>
</table>
<{/strip}> 