<{if $block.type eq 2}>
  <table cellspacing="1" class="outer" summary="<{$block.lang_latesttrackbacks_summary}>">
    <tr>
      <th><{$block.lang_tbtitle}></th>
      <th><{$block.lang_entrytitle}></th>
      <th><{$block.lang_blogname}></th>
      <th><{$block.lang_posted}></th>
    <{foreach item=trackback from=$block.trackbacks}>
    <tr class="<{cycle values="odd,even"}>" valign="middle">
      <td><a href="<{$trackback.entry_url}>#d3blogTrackbackReceive"><{$trackback.tb_title}></a></td>
      <td align="center"><a href="<{$trackback.entry_url}>"><{$trackback.entry_title}></a></td>
      <td><a href="<{$trackback.url}>" target="_blank"><{$trackback.blog_name}></a></td>
      <td align="right"><{$trackback.date}></td>
    </tr>
    <{/foreach}>
  </table>
<{else}>
<ul class="<{$block.mydirname}>BlockTB">
  <{foreach item=trackback from=$block.trackbacks}>
  <li><a href="<{$trackback.entry_url}>"><{$trackback.tb_title}></a>
  <span class="tbdate">(<{$trackback.date}><{*<{$trackback.date|xugj_date:"":"new!":"new"}>*}>)</span></li>
  <{/foreach}>
</ul>
<{/if}>