<{if $preview_comment}>
<dl id="d3blogPreviewComment">
	<dt id="d3blogPreviewCommentTitle"><{$preview_comment.title}></dt>
	<dd id="d3blogPreviewCommentBody"><{$preview_comment.text}></dd>
</dl>
<{/if}>
<{if $confer_comment}>
<div id="d3blogConferComment">
	<h3 id="d3blogConferCommentTitle"><{$confer_comment.title}></h3>
	<dl><dt id="d3blogConferCommentHead"><{$confer_comment.head}></dt><dd id="d3blogConferCommentBody"><{$confer_comment.text}></dd></dl>
</div>
<{/if}>
<h4 id="d3blogCommentPost"><{$smarty.const._MD_D3BLOG_LANG_POST_COMMENT}></h4>
<form name='d3blogCommentForm' id='d3blogCommentForm' action='<{$xoops_url}>/modules/<{$mydirname}>/index.php?page=comment_post' method='post' onsubmit='return xoopsFormValidate_d3blogCommentForm();'>
<fieldset>
<!-- comment rule -->
<legend><em><{$smarty.const._CM_COMRULES}></em> : <{$rule_text}></legend>
<!-- hidden items -->
<input type='hidden' name='com_pid' id='com_pid' value='<{$com_pid}>' />
<input type='hidden' name='com_rootid' id='com_rootid' value='<{$com_rootid}>' />
<input type='hidden' name='com_id' id='com_id' value='<{$com_id}>' />
<input type='hidden' name='com_itemid' id='com_itemid' value='<{$com_itemid}>' />
<input type='hidden' name='com_order' id='com_order' value='<{$com_order}>' />
<input type='hidden' name='com_mode' id='com_mode' value='<{$com_mode}>' />
<{foreach item=extra from=$extra_params}>
<input type="hidden" name="<{$extra.param}>" id="<{$extra.param}>" value="<{$extra.value}>" />
<{/foreach}>
<!-- title -->
<label class="label" for="com_title"><{$smarty.const._CM_TITLE}></label>
<div class="control"><input type="text" name="com_title" id="com_title" maxlength="255" size="50" value="<{$com_title}>" /></div>
<!-- entry -->
<div class="label"><label for="com_text"><{$smarty.const._CM_MESSAGE}></label>
<input type="checkbox" id="switch_bbcode" name="switch_bbcode" onclick="if(this.checked){document.getElementById('com_text_bbcode_buttons_pre').style.display='block';document.getElementById('com_text_bbcode_buttons_post').style.display='block'}else{document.getElementById('com_text_bbcode_buttons_pre').style.display='none';document.getElementById('com_text_bbcode_buttons_post').style.display='none'};" />
<label for="switch_bbcode"><{$smarty.const._MD_D3BLOG_LANG_DISPLAY_XCODE_PALLET}></label>
</div>
<div class="control">
<{xoopsdhtmltarea name=com_text cols=50 rows=5 value=$com_text pre_style="display:none;" post_style="display:none;"}>
</div>
<{*   com status   *}>
<{if $xoops_isadmin and $com_id}>
<label class="label" for="com_status"><{$smarty.const._CM_STATUS}></label>
<div class="control">
	<select name="com_status">
		<{html_options options=$com_status_option selected=$com_status}>
	</select>
</div>
<{/if}>
<div class="label"><input type="checkbox" id="switch_options" name="switch_options" onclick="if(this.checked){document.getElementById('com_options').style.display='block';}else{document.getElementById('com_options').style.display='none';};" /><label for="switch_options"><{$smarty.const._MD_D3BLOG_LANG_DISPLAY_OPTIONS}></label></div>
</fieldset>
<fieldset id="com_options">
<{*   options   *}>
<!-- noname -->
<{if $xoops_isuser and $moduleConfig.com_anonpost}>
<div class="control"><input type="checkbox" name="noname" id="noname" value="1"<{if $noname}> checked="checked"<{/if}> />
<label for="noname"><{$smarty.const._POSTANON}></label>
</div>
<{/if}>
<{if $xoops_isadmin}>
<!-- dohtml -->
<div class="control"><input type="checkbox" name="dohtml" id="dohtml" value="1"<{if $dohtml}> checked="checked"<{/if}> />
<label for="dohtml"><{$smarty.const._CM_DOHTML}></label>
</div>
<{/if}>
<!-- smiley -->
<div class="control"><input type='checkbox' name='dosmiley' id='dosmiley' value='1'<{if $dosmiley}> checked='checked'<{/if}> />
<label for="dosmiley"><{$smarty.const._CM_DOSMILEY}></label>
</div>
<!-- xcode -->
<div class="control"><input type='checkbox' name='doxcode' id='doxcode' value='1'<{if $doxcode}> checked='checked'<{/if}> />
<label for="doxcode"><{$smarty.const._CM_DOXCODE}></label>
</div>
<!-- dobr -->
<div class="control"><input type="checkbox" name="dobr" id="dobr" value="1"<{if $dobr}> checked="checked"<{/if}> />
<label for="dobr"><{$smarty.const._CM_DOAUTOWRAP}></label>
</div>
</fieldset>
<{*   submit   *}>
<fieldset>
<div class="control">
<{if $xoops_isadmin and $com_id}><input type='submit' class='formButton' name='com_delete' id='com_delete' value='<{$smarty.const._DELETE}>' /><{/if}>
<input type='submit' class='formButton' name='com_dopreview' id='com_dopreview' value='<{$smarty.const._PREVIEW}>' />
<input type='submit' class='formButton' name='com_dopost'  id='com_dopost' value='<{$smarty.const._CM_POSTCOMMENT}>' />
</div>
</fieldset>
</form>
<!-- Start Form Vaidation JavaScript //-->
<script type='text/javascript'>
<!--//
function xoopsFormValidate_d3blogCommentForm() {
    myform = window.document.d3blogCommentForm;
	if ( myform.com_title.value == "" ) { window.alert("<{$smarty.const._FORM_ENTER|replace:'%s':$smarty.const._CM_TITLE}>"); myform.com_title.focus(); return false; }
	if ( myform.com_text.value == "" ) { window.alert("<{$smarty.const._FORM_ENTER|replace:'%s':$smarty.const._CM_MESSAGE}>"); myform.com_text.focus(); return false; }
	return true;
}
//--></script>
<!-- End Form Vaidation JavaScript //-->