div#pico_container a, 
div#pico_container a:link, 
div#pico_container a:visited {
text-decoration:none;
}

div#pico_container div.pico_breadcrumbs{
	padding: 5px; 
	background-color:#fafaff; 
	color:#323d56;
	border-bottom:1px #d7d7ff solid;
}

div#pico_container div.pico_controllers{
	width				:100%;
	margin				:5px 0;
	padding				:5px 0;
	line-height			:150%;
	clear				:both;
	text-align			:right;
}

div#pico_container h1 { margin: 10px 0 0 0; padding: 5px; background-color:#fafaff; color:#323d56}
div#pico_container h2 { margin: 10px 0 0 0; padding: 5px; background-color:#fafaff; color:#323d56; border-bottom:1px solid #d8d8d8}

div#pico_container p.info { 
	margin:2px 0 0 0; 
	padding:3px 8px; 
	background-color:#e8e8ff; 
	color:#323d56; 
	border-top:1px #d7d7ff solid;
}

dl.pico_subcategory {padding:10px 20px;}
dl.pico_subcategory dt {}
dl.pico_subcategory dd {}


div.bottom_of_content_body { clear: right; }

ul.pico_list_contents li { list-style: none outside; }
ul.pico_list_contents_in_menu li { list-style: none outside; }

div.pico_print_icon { float: right; width: 40px; height: 40px; }
div.pico_tellafriend_icon { float: right; width: 40px; height: 40px; }
div.pico_vote form { display: inline; }

table.pico_pagenavigation { border-top: 1px #aaa solid; margin-top: 20px;}


table.pico_form_table th.pico_waiting { color: red; }
table.pico_form_table td.pico_waiting { color: red; background-color: white ; }

table.pico_form_table td,
table.pico_form_table th{
        color: black;
        vertical-align          :top !important;
        text-align                      :left;}
p.pico_submit{
        text-align                      :center;
        margin                          :0;
        padding                         :10px;}

input.pico_ascii_only { ime-mode: disabled; }
input.pico_number_only { ime-mode: disabled; text-align: right; }

pre.pico_history_diff del { color: red; }
pre.pico_history_diff ins { color: blue; }
