<form action="<{$xoops_url}>/index.php?moddir=mcllibs&amp;action=login" method="post" style="margin-top: 0px;">
  <{$block.uname_cap}><br />
  <{xoops_input type=text name=uname size=12 value=$block.unamevalue maxlength=25 id="`$smarty.const.XOOPS_INPUT_DEFID_PREFIX`block_uname"}><br />
  <{$smarty.const._MB_USER_PASSWORD}><br />
  <{xoops_input type=password name=pass size=12 maxlength=32 id="`$smarty.const.XOOPS_INPUT_DEFID_PREFIX`block_pass"}><br />
  <input type="hidden" name="xoops_redirect" value="<{$xoops_requesturi}>" />
  <{if $block.autologin}>
  <input type="checkbox" name="autologin" id="autologin" value="1" /><label for="autologin"><{$smarty.const._MI_MCLLIBS_AUTOLOGIN_DESC}></label>
  <{/if}>
  <{xoops_input type=submit name=submit value=$smarty.const._MB_USER_LOGIN id="`$smarty.const.XOOPS_INPUT_DEFID_PREFIX`block_submit"}><br />
</form>
<a href="<{$xoops_url}>/index.php?moddir=mcllibs&amp;action=lostpass"><{$smarty.const._MB_USER_LOSTPASS}></a>
<br /><br />
<{if $block.allow_register == '1'}>
  <a href="<{$xoops_url}>/index.php?moddir=mcllibs&amp;action=register"><{$smarty.const._MB_USER_USERREG}></a>
<{/if}>
