@charset "iso-8859-1";

div.xpwiki_wiki {
	background-color:inherit;
	width:100%;
}

div.xpwiki_wiki h1,
div.xpwiki_wiki h2,
div.xpwiki_wiki h3,
div.xpwiki_wiki h4,
div.xpwiki_wiki h5,
div.xpwiki_wiki h6,
div.xpwiki_wiki pre,
div.xpwiki_wiki dl,
div.xpwiki_wiki p,
div.xpwiki_wiki blockquote { line-height:130%; }

div.xpwiki_wiki p { margin-left: 1em; }

div.xpwiki_wiki blockquote { margin-left:32px; }

div.xpwiki_wiki table { width: auto; }

div.xpwiki_wiki,
div.xpwiki_wiki td {
	color:black;
	/*background-color:white;*/
	font-size:100%;
	font-family:verdana, arial, helvetica, Sans-Serif;
}

div.xpwiki_wiki a:link {
	color:#215dc6;
	background-color:inherit;
	text-decoration:none;
	font-weight: inherit;
}

div.xpwiki_wiki a:active {
	color:#215dc6;
	background-color:#CCDDEE;
	text-decoration:none;
	font-weight: inherit;
}

div.xpwiki_wiki a:visited {
	color:#a63d21;
	background-color:inherit;
	text-decoration:none;
	font-weight: inherit;
}

div.xpwiki_wiki a:hover {
	color:#215dc6;
	background-color:#CCDDEE;
	text-decoration:underline;
	font-weight: inherit;
}

div.xpwiki_wiki a.ext {
	border-bottom: 1px blue dotted;
	background-image: url(./loader.php?src=ext.png);
	background-repeat: no-repeat;
	background-position: left 3px;
	padding-left: 12px;
}

div.xpwiki_wiki a.extWithFavicon {
	border-bottom: 1px blue dotted;
}

div.xpwiki_wiki a.pagelink {
	/*border-bottom: 1px silver dotted;*/
}
div.xpwiki_wiki a.pagelink_popup {
	/*border-bottom: 1px silver dotted;*/
	cursor: help;
}
div.xpwiki_wiki a.autolink {
	/*border-bottom: 1px silver dotted;*/
}
div.xpwiki_wiki a.autolink_popup {
	/*border-bottom: 1px silver dotted;*/
	cursor: help;
}

div.xpwiki_wiki a.ext_autolink {
	border-bottom: 1px silver dotted;
	color: inherit;
	font-weight: inherit;
}

div.xpwiki_wiki .nowrap {
	white-space: nowrap;
}

div.xpwiki_wiki div.level1 {}
div.xpwiki_wiki div.level2 {}
div.xpwiki_wiki div.level3 {
	margin-left: 1em;
}
div.xpwiki_wiki div.level4 {
	margin-left: 2em;
}
div.xpwiki_wiki div.level5 {
	margin-left: 3em;
}
div.xpwiki_wiki div.level6 {
	margin-left: 4em;
}
div.xpwiki_wiki div.level1_highlight {
	background-color: #ffe4e1;
}
div.xpwiki_wiki div.level2_highlight {
	background-color: #ffe4e1;
}
div.xpwiki_wiki div.level3_highlight {
	background-color: #ffe4e1;
	margin-left: 1em;
}
div.xpwiki_wiki div.level4_highlight {
	background-color: #ffe4e1;
	margin-left: 2em;
}
div.xpwiki_wiki div.level5_highlight {
	background-color: #ffe4e1;
	margin-left: 3em;
}
div.xpwiki_wiki div.level6_highlight {
	background-color: #ffe4e1;
	margin-left: 4em;
}

div.xpwiki_wiki h1,
div.xpwiki_wiki h2 {
	font-family:verdana, arial, helvetica, Sans-Serif;
	color:inherit;
	background-color:#DDEEFF;
	padding:.3em;
	border:0px;
	margin:0px 0px .5em 0px;
	text-align: left;
}
div.xpwiki_wiki h3 {
	font-family:verdana, arial, helvetica, Sans-Serif;
	border-bottom:  3px solid #DDEEFF;
	border-top:     1px solid #DDEEFF;
	border-left:   10px solid #DDEEFF;
	border-right:   5px solid #DDEEFF;

	color:inherit;
	background-color:#FFFFFF;
	padding:.3em;
	margin:0px 0px .5em 0px;
	text-align: left;
}
div.xpwiki_wiki h4 {
	font-family:verdana, arial, helvetica, Sans-Serif;
	border-left:   18px solid #DDEEFF;

	color:inherit;
	background-color:#FFFFFF;
	padding:.3em;
	margin:0px 0px .5em 0px;
	text-align: left;
}
div.xpwiki_wiki h5,
div.xpwiki_wiki h6 {
	font-family:verdana, arial, helvetica, Sans-Serif;
	color:inherit;
	background-color:#DDEEFF;
 	padding:.3em;
 	border:0px;
 	margin:0px 0px .5em 0px;
	text-align: left;
}

div.xpwiki_wiki h1.title {
	font-size: 30px;
	font-weight:bold;
	background-color:transparent;
	padding: 10px 0px 0px 0px;
	border: 0px;
	margin: 10px 0px 0px 0px;
}

div.xpwiki_wiki dt {
	font-weight:bold;
	margin-top:1em;
	margin-left:1em;
}

/* contents */
div.xpwiki_wiki div.contents {
	float: right;
	width: 30%;
	font-size: 80%;
	border: none;
	margin: 0px 0px 5px 20px;
	padding: 5px;
}
div.xpwiki_wiki div.contents span.toc_open,
div.xpwiki_wiki div.contents span.toc_close {
	border: 0.4em solid #F5F5F5;
	display: block;
	float: right;
	margin: 0.4em 3px 0 0;
}
div.xpwiki_wiki div.contents span.toc_open {
	border-top: 0.4em solid #0000CD;
	margin-top: 0.4em;
}
div.xpwiki_wiki div.contents span.toc_close {
	border-bottom: 0.4em solid #0000CD;
	margin-top: 0px;
}
div.xpwiki_wiki div.contents span.toc_open span,
div.xpwiki_wiki div.contents span.toc_close span {
	display: none;
}
div.xpwiki_wiki div.toc_header {
	font-size: 120%;
	font-weight: bold;
	background-color: #F5F5F5;
	border: gray 1px solid;
	padding: 2px 2px 2px 5px;
}
div.xpwiki_wiki div.toc_body {
	font-weight: normal;
	background-color: #FDFDFF;
	border: gray 1px solid;
	border-top: none;
	padding: 0.4em 0.2em 0 0.4em;
}
div.xpwiki_wiki div.contents ul,
div.xpwiki_wiki div.contents ol {
	margin-left: 0.5em;
	padding-left: 0.5em;
}

/* Pre base */
div.xpwiki_wiki div.pre {
	width: auto;
	overflow: auto;
	margin: 10px;
}

div.xpwiki_wiki pre {
	border-top:#DDDDEE 1px solid;
	border-bottom:#888899 1px solid;
	border-left:#DDDDEE 1px solid;
	border-right:#888899 1px solid;
	padding:.5em;
	margin-left:1em;
	margin-right:2em;
	color:black;
	background-color:#F0F8FF;
	width: auto;

	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: pre-wrap;      /* CSS3 */
	word-wrap: break-word;      /* IE 5.5+ */
}

/* For renderer on XOOPS */
div.xpwiki_wiki div.xoopsCode pre {
	border: none;
	padding: 0px;
	margin: 3px;
	color:black;
	background-color:transparent;
	
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: pre-wrap;      /* CSS3 */
	word-wrap: break-word;      /* IE 5.5+ */
}

div.xpwiki_wiki img {
	border:none;
	vertical-align:middle;
}

div.xpwiki_wiki form {
	margin-top: 10px;
	margin-bottom: 10px;
}

div.xpwiki_wiki form label {
	cursor: pointer;
}

div.xpwiki_wiki em { font-style:italic; }

div.xpwiki_wiki strong { font-weight:bold; }

div.xpwiki_wiki thead td.style_td,
div.xpwiki_wiki tfoot td.style_td {
	color:inherit;
	background-color:#D0D8E0;
}
div.xpwiki_wiki thead th.style_th,
div.xpwiki_wiki tfoot th.style_th {
	color:#000;
	background-color:#E0E8F0;
}
div.xpwiki_wiki .style_table {
	padding:0px;
	border:0px;
	margin: 10px auto;
	text-align:left;
	color:inherit;
	background-color:#ccd5dd;
}
div.xpwiki_wiki .style_th {
	padding:5px;
	margin:1px;
	text-align:center;
	color:inherit;
	background-color:#EEEEEE;
}
div.xpwiki_wiki .style_td {
	padding:5px;
	margin:1px;
	color:inherit;
	background-color:#FDFDFF;
}

div.xpwiki_wiki ul,
div.xpwiki_wiki ol {
	margin-left: 1em;
	padding-left: 1em;
/*	margin-top:.5em;
	margin-bottom:.5em;*/
	line-height:130%;
	
	list-style-type:inherit;
	list-style-position:outside;
	list-style-image:none;
	marker-offset:auto;
	color: inherit;
}

div.xpwiki_wiki li {
	list-style-type:inherit;
	list-style-position:outside;
	list-style-image:none;
	marker-offset:auto;
	color: inherit;
}

div.xpwiki_wiki li.list_none {
	list-style: none none inside !important;
	margin: 0px !important;
	padding: 0px !important;
	display: inline;
	height: 0px;
	width: 0px;
}

div.xpwiki_wiki ul.list1 li { list-style-type:disc; }
div.xpwiki_wiki ol.list1 li { list-style-type:decimal; }

div.xpwiki_wiki ul.list2 li { list-style-type:circle; }
div.xpwiki_wiki ol.list2 li { list-style-type:lower-roman; }

div.xpwiki_wiki ul.list3 li { list-style-type:square; }
div.xpwiki_wiki ol.list3 li { list-style-type:lower-alpha; }

div.xpwiki_wiki div.ie5 { text-align:center; }

div.xpwiki_wiki span.noexists {
	color:inherit;
	background-color:#FFFACC;
}

div.xpwiki_wiki .small { font-size:80%; }

div.xpwiki_wiki .super_index {
	color:#DD3333;
	background-color:inherit;
	font-weight:bold;
	font-size:60%;
	vertical-align:super;
}

div.xpwiki_wiki a.note_super {
	color:#DD3333;
	background-color:inherit;
	font-weight:bold;
	font-size:60%;
	vertical-align:super;
}

div.xpwiki_wiki div.jumpmenu {
	font-size: 60%;
	float: right;
}

div.xpwiki_wiki hr.full_hr {
	border-style:ridge;
	border-color:#333333;
	border-width:1px 0px;
}
div.xpwiki_wiki hr.note_hr {
	width:90%;
	border-style:ridge;
	border-color:#333333;
	border-width:1px 0px;
	text-align:center;
	margin:1em auto 0em auto;
}

div.xpwiki_wiki span.size1 {
	font-size:xx-small;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
div.xpwiki_wiki span.size2 {
	font-size:x-small;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
div.xpwiki_wiki span.size3 {
	font-size:small;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
div.xpwiki_wiki span.size4 {
	font-size:medium;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
div.xpwiki_wiki span.size5 {
	font-size:large;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
div.xpwiki_wiki span.size6 {
	font-size:x-large;
	line-height:130%;
	text-indent:0px;
	display:inline;
}
div.xpwiki_wiki span.size7 {
	font-size:xx-large;
	line-height:130%;
	text-indent:0px;
	display:inline;
}

div.xpwiki_wiki div.commentbody {
	margin-left:30px;
	margin-right:10px;
}

div.xpwiki_wiki div.commentbody h2 {
	background-color: transparent;
}

div.xpwiki_wiki div.commentbody textarea {
	height: 7em;
}

div.xpwiki_wiki div.system_notification {
	margin-left:30px;
	margin-right:10px;
}

div.xpwiki_wiki div.system_notification h4 {
	/*
	background-color: transparent;
	border: none;
	*/
}

div.system_notification table {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

/* html.php/catbody() */
div.xpwiki_wiki strong.word0 {
	background-color:#FFFF66;
	color:black;
}
div.xpwiki_wiki strong.word1 {
	background-color:#A0FFFF;
	color:black;
}
div.xpwiki_wiki strong.word2 {
	background-color:#99FF99;
	color:black;
}
div.xpwiki_wiki strong.word3 {
	background-color:#FF9999;
	color:black;
}
div.xpwiki_wiki strong.word4 {
	background-color:#FF66FF;
	color:black;
}
div.xpwiki_wiki strong.word5 {
	background-color:#880000;
	color:white;
}
div.xpwiki_wiki strong.word6 {
	background-color:#00AA00;
	color:white;
}
div.xpwiki_wiki strong.word7 {
	background-color:#886800;
	color:white;
}
div.xpwiki_wiki strong.word8 {
	background-color:#004699;
	color:white;
}
div.xpwiki_wiki strong.word9 {
	background-color:#990099;
	color:white;
}
div.xpwiki_wiki div.commentbody table {
	width: 100%;
}
div.xpwiki_wiki div.context {
	background-color: #FFFFEE;
	border: 1px dotted blue;
	font-size: 90%;
	margin: 5px 5px 5px 25px;
	padding: 3px 10px;
	text-align: left;
}

/* html.php/edit_form() */
div.xpwiki_wiki .edit_form {	clear: both; }
div.xpwiki_wiki .edit_form textarea {
	font-size: 100%;
	width: 98%;
	max-height: 350px;
	margin: 0px;
	padding: 0px;
}
div.xpwiki_wiki .edit_form_ajax {
	border: 1px gray solid;
	padding: 5px;
}
div.xpwiki_wiki .edit_form_ajax textarea {
	font-size: 100%;
	width: 98%;
	max-height: 250px;
	margin: 0px;
	padding: 0px;
}

/* pukiwiki.skin.php */
div.xpwiki_wiki div.header {
	padding:0px;
	margin:0px;
	background-color: transparent;
}

div.xpwiki_wiki div.navigator {
	clear:both;
	padding:4px 0px 0px 0px;
	margin:0px;
	font-size:90%;
}

div.xpwiki_wiki div.navigator_wiki {
	width: auto;
	float: right;
	padding-top: 15px;
	padding-left: 1em;
}

div.xpwiki_wiki div.navigator_page {
	text-align: center;
}

div.xpwiki_wiki div.navigator_info {
	text-align: right;
	margin-bottom: 10px;
}

div.xpwiki_wiki td.menubar {
	width:10em;
	vertical-align:top;
}

div.xpwiki_wiki div.menubar {
	/*width:9em;*/
	padding:0px;
	margin:4px;
	word-break:break-all;
	font-size:90%;
	overflow:hidden;
}

div.xpwiki_wiki div.menubar ul {
	margin:0px 0px 0px .5em;
	padding:0px 0px 0px .5em;
}

div.xpwiki_wiki div.menubar ul li { line-height:110%; }

div.xpwiki_wiki div.menubar h4 { font-size:110%; }

div.xpwiki_wiki div.body {
	padding:0px;
	margin:0px 0px 0px 0px;
}

div.xpwiki_wiki div.footnotes {
	clear:both;
	padding:0px;
	margin:0px;
}

div.xpwiki_wiki div.attach {
	clear:both;
	padding:0px;
	margin:0px;
	font-size:90%;
}

div.xpwiki_wiki div.toolbar {
	clear:both;
	padding:0px;
	margin:0px;
	text-align:right;
}

div.xpwiki_wiki div.lastmodified {
	font-size:80%;
	padding:0px;
	margin:0px;
}

div.xpwiki_wiki div.related {
	font-size:80%;
	padding:0px;
	margin:16px 0px 0px 0px;
}

div.xpwiki_wiki div.footer {
	font-size:70%;
	padding:0px;
	margin:16px 0px 0px 0px;
}

div.xpwiki_wiki div.banner {
	float:right;
	margin-top:24px;
}

div.xpwiki_wiki div.preview {
	color:inherit;
	background-color:#F5F8FF;
	overflow: auto;
	max-height: 300px;
}

div.xpwiki_wiki div.ajax_preview {
	overflow: auto;
	max-height: 250px;
	border: 1px gray solid;
}

div.xpwiki_wiki img.logo {
	float:left;
	margin-right:20px;
}

/* aname.inc.php */
div.xpwiki_wiki .anchor {}
div.xpwiki_wiki .anchor_super {
	font-size:xx-small;
	vertical-align:super;
}

/* br.inc.php */
div.xpwiki_wiki br.spacer {}

/* calendar_viewer.inc.php */
div.xpwiki_wiki div.calendar_viewer {
	color:inherit;
	background-color:inherit;
	margin-top:20px;
	margin-bottom:10px;
	padding-bottom:10px;
}
div.xpwiki_wiki span.calendar_viewer_left {
	color:inherit;
	background-color:inherit;
	float:left;
}
div.xpwiki_wiki span.calendar_viewer_right {
	color:inherit;
	background-color:inherit;
	float:right;
}

/* areaedit.inc.php */
div.xpwiki_wiki .highlight
{
	background-color: #ffe4e1;
}
/*
div.xpwiki_wiki .area_off
{
	background-color: transparent;
}
*/

/* clear.inc.php */
div.xpwiki_wiki .clear {
	margin:0px;
	clear:both;
}

/* counter.inc.php */
div.xpwiki_wiki div.counter { font-size:70%; }

/* diff.inc.php */
div.xpwiki_wiki span.diff_added {
	color:blue;
	background-color:inherit;
}

div.xpwiki_wiki span.diff_removed {
	color:red;
	background-color:inherit;
}

/* hr.inc.php */
div.xpwiki_wiki hr.short_line {
	text-align:center;
	width:80%;
	border-style:solid;
	border-color:#333333;
	border-width:1px 0px;
}

/* include.inc.php */
div.xpwiki_wiki h5.side_label { text-align:center; }

/* navi.inc.php */
div.xpwiki_wiki ul.navi {
	margin:0px;
	padding:0px;
	text-align:center;
}
div.xpwiki_wiki li.navi_none {
	display:inline;
	float:none;
}
div.xpwiki_wiki li.navi_left {
	display:inline;
	float:left;
	text-align:left;
}
div.xpwiki_wiki li.navi_right {
	display:inline;
	float:right;
	text-align:right;
}

/* new.inc.php */
div.xpwiki_wiki span.comment_date { font-size:x-small; }
div.xpwiki_wiki span.new1 {
	color:red;
	background-color:transparent;
	font-size:x-small;
}
div.xpwiki_wiki span.new5 {
	color:green;
	background-color:transparent;
	font-size:xx-small;
}

/* popular.inc.php */
div.xpwiki_wiki span.counter { font-size:70%; }
div.xpwiki_wiki ul.popular_list {
/*
	padding:0px;
	border:0px;
	margin:0px 0px 0px 1em;
	word-wrap:break-word;
	word-break:break-all;
*/
}

/* recent.inc.php,showrss.inc.php */
div.xpwiki_wiki ul.recent_list {
/*
	padding:0px;
	border:0px;
	margin:0px 0px 0px 1em;
	word-wrap:break-word;
	word-break:break-all;
*/
}

/* ref.inc.php */
div.xpwiki_wiki div.img_margin {
	margin-left:32px;
	margin-right:32px;
}

/* vote.inc.php */
div.xpwiki_wiki td.vote_label {
	color:inherit;
	background-color:#FFCCCC;
}
div.xpwiki_wiki td.vote_td1 {
	color:inherit;
	background-color:#DDE5FF;
}
div.xpwiki_wiki td.vote_td2 {
	color:inherit;
	background-color:#EEF5FF;
}

