<{include file="db:`$mydirname`_header.html"}>

<{if $lang_thereare}>
  <{if count($categories) gt 0}>
  <div style="margin:16px 0 3px 0; border-top:1px solid #AAA;border-bottom:1px solid #AAA;width:100%;padding:6px 0 0 0;">
    <{foreach item=category from=$categories name=i key=count}>
      <div style="float:left;width:32%;margin:3px 3px 8px 3px;">
        <{if $category.image != ""}>
          <a href="<{$myurl}>/index.php?cid=<{$category.id}>"><img src="<{$xoops_url}>/<{$catimgpath}>/<{$category.image}>" border="0" alt="" style="vertical-align:text-top;" /></a>
        <{/if}>
        <a href="<{$myurl}>/index.php?cid=<{$category.id}>"><{$category.title}></a>&nbsp;(<{$category.totallink}>)<br /><{$category.subcategories}>
      </div>
      <{if ($count+1) is div by 3 || $smarty.foreach.i.last}>
        <br style="clear:both;">
      <{/if}>
    <{/foreach}>
  </div>

  <div style="margin-bottom:16px;"><{$lang_thereare}></div>
  <{else}>
    <{$smarty.const._MD_NO_CATEGORY}>
  <{/if}>
<{else}>
  <div style="margin:16px 8px;"><{$linkuid_number}></div>
<{/if}>

<{if $coupons != ""}>

	<{*
    <div style="text-align:center; margin:16px;">
      <{$lang_sortby}>&nbsp;&nbsp;
      <{$lang_title}> (<a href="<{$myurl}>/index.php?orderby=titleA<{if $linkuid}>&amp;uid=<{$linkuid}><{/if}>"><img src="<{$myurl}>/images/up<{if $order=='title ASC'}>_red<{/if}>.png" border="0" alt="" style="vertical-align:text-top" /></a><a href="<{$myurl}>/index.php?orderby=titleD<{if $linkuid}>&amp;uid=<{$linkuid}><{/if}>"><img src="<{$myurl}>/images/down<{if $order=='title DESC'}>_red<{/if}>.png" border="0" alt="" style="vertical-align:text-top" /></a>)
      <{$lang_date}> (<a href="<{$myurl}>/index.php?orderby=dateA<{if $linkuid}>&amp;uid=<{$linkuid}><{/if}>"><img src="<{$myurl}>/images/up<{if $order=='date ASC'}>_red<{/if}>.png" border="0" alt="" style="vertical-align:text-top" /></a><a href="<{$myurl}>/index.php?orderby=dateD<{if $linkuid}>&amp;uid=<{$linkuid}><{/if}>"><img src="<{$myurl}>/images/down<{if $order=='date DESC'}>_red<{/if}>.png" border="0" alt="" style="vertical-align:text-top" /></a>)
      <{$lang_rating}> (<a href="<{$myurl}>/index.php?orderby=ratingA<{if $linkuid}>&amp;uid=<{$linkuid}><{/if}>"><img src="<{$myurl}>/images/up<{if $order=='rating ASC'}>_red<{/if}>.png" border="0" alt="" style="vertical-align:text-top" /></a><a href="<{$myurl}>/index.php?orderby=ratingD<{if $linkuid}>&amp;uid=<{$linkuid}><{/if}>"><img src="<{$myurl}>/images/down<{if $order=='rating DESC'}>_red<{/if}>.png" border="0" alt="" style="vertical-align:text-top" /></a>)
      <{$lang_popularity}> (<a href="<{$myurl}>/index.php?orderby=hitsA<{if $linkuid}>&amp;uid=<{$linkuid}><{/if}>"><img src="<{$myurl}>/images/up<{if $order=='hits ASC'}>_red<{/if}>.png" border="0" alt="" style="vertical-align:text-top" /></a><a href="<{$myurl}>/index.php?orderby=hitsD<{if $linkuid}>&amp;uid=<{$linkuid}><{/if}>"><img src="<{$myurl}>/images/down<{if $order=='hits DESC'}>_red<{/if}>.png" border="0" alt="" style="vertical-align:text-top" /></a>)
      <br /><{$lang_cursortedby}>
    </div>
	*}>



  <{if $navdisp}>
    <div style="float:left;"><{$navinfo}></div>
    <div style="text-align:right;"><{$nav}></div>
    <br style="clear:both;" />
  <{/if}>



  <!-- Start new link loop -->
  <div style="width:100%;">
  <{foreach item=coupon from=$coupons key=count name=i}>
    <{include file="db:`$mydirname`_coupon.html"}>
  <{/foreach}>
  </div>
  <!-- End new link loop -->


  <{if $navdisp}>
    <div style="float:left;margin-top:16px;"><{$navinfo}></div>
    <div style="text-align:right;"><{$nav}></div>
    <br style="clear:both;" />
  <{/if}>

<{/if}>


<{include file='db:system_notification_select.html'}>
<{include file="db:`$mydirname`_footer.html"}>
