<{php}>
  $font_color_by_cid = array(
    1 => '#000000' ,
    2 => '' ,
    3 => '' ,
  );
  $bg_color_by_cid = array(
    1 => '#FFFFFF' ,
    2 => '' ,
    3 => '' ,
  );
  $this->assign( 'color' , $font_color_by_cid );
  $this->assign( 'bgcolor' , $bg_color_by_cid );
<{/php}>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title><{$coupon.title}> - <{$xoops_sitename}></title>
</head>
<body style="
	color:<{if $color[$coupon.cid]}><{$color[$coupon.cid]}><{else}>#530<{/if}>;
	background:<{if $mobileitems[$coupon.cid].bg}>url('<{$myurl}>/images/m/bg_<{$coupon.cid}>.<{$mobileitems[$coupon.cid].bg}>')<{elseif $bgcolor[$coupon.cid]}><{$bgcolor[$coupon.cid]}><{else}>#FFF3ED<{/if}>;
">

<div class="header">
<a id="PAGE_TOP"></a>
<{if $mobileitems[$coupon.cid].title}>
  <img src="<{$myurl}>/images/m/title_<{$coupon.cid}>.<{$mobileitems[$coupon.cid].title}>" />
<{else}>
  <img src="<{$myurl}>/images/m/title_d.jpg" />
<{/if}>
</div>

<div style="font-weight:bold;color:#600;"><{$coupon.title}></div>


<div class="contents">
<{$coupon.description}><br />
<{foreach item=af from=$coupon.addfields}>
  <{if $af.title || $af.desc}>
    <b><{$af.title}> :</b> <{$af.desc}><br />
  <{/if}>
<{/foreach}>
</div>

<hr />

<b><{$limittime}></b><br />
<{$coupon.endtime}>

<hr />

<{$coupon_msg}>

<{*
<div class="footer">
<hr />
<{if $xmobile}>
  <a href="<{$xoops_url}>/modules/xmobile/?act=plugin&plg=<{$mydirname}>"><{$module_name}></a><br />
  <a href="<{$xoops_url}>/modules/xmobile/">XMOBILE</a><br />
<{/if}>
</div>
*}>

</body>
</html>