<table><tr>
  <td class="odd">
    <img src="<{$myurl}>/images/<{if $postperm}>yes<{else}>no<{/if}>.gif" />
    <{$smarty.const._MD_A_COUPONS_GP_PERM_TO_POST}>
  </td>
  <td class="even">
    <img src="<{$myurl}>/images/<{if $post_approval}>yes<{else}>no<{/if}>.gif" />
    <{$smarty.const._MD_A_COUPONS_GP_PERM_TO_P_APPROVE}>
  </td>
  <td class="odd">
    <img src="<{$myurl}>/images/<{if $editperm}>yes<{else}>no<{/if}>.gif" />
    <{$smarty.const._MD_A_COUPONS_GP_PERM_TO_EDIT}>
  </td>
  <td class="even">
    <img src="<{$myurl}>/images/<{if $edit_approval}>yes<{else}>no<{/if}>.gif" />
    <{$smarty.const._MD_A_COUPONS_GP_PERM_TO_E_APPROVE}>
  </td>
  <td class="odd">
    <img src="<{$myurl}>/images/<{if $delperm}>yes<{else}>no<{/if}>.gif" />
    <{$smarty.const._MD_A_COUPONS_GP_PERM_TO_DELETE}>
  </td>
  <td class="even">
    <img src="<{$myurl}>/images/<{if $del_approval}>yes<{else}>no<{/if}>.gif" />
    <{$smarty.const._MD_A_COUPONS_GP_PERM_TO_D_APPROVE}>
  </td>
</tr></table>
