<{include file="db:`$mydirname`_header.html"}>


<form action="<{$myurl}>/index.php?page=edit" name="postform" method="post" style="padding:2px;" >



<table border="1" style="padding:6px;border-collapse:collapse;empty-cells:show; border-color:#999;margin-bottom:16px;">

  <tr> 
    <th nowrap="nowrap" colspan="2"> 
      <{$smarty.const._MD_EDIT_DATA}> : ID <{$data.did}>
    </th>
  </tr>

<{* <!---- If you use the XCAT's category, delete comment out. It is necessary to be installed XCAT. ---->
  <{if $cattree}>
    <tr>
      <td class="head" nowrap="nowrap">
        <{$smarty.const._MD_FD_CATEGORY}>
      </td>
      <td class="<{cycle values='odd,even'}>" >
        <select name="cat_id">
          <option value="0"><{$smarty.const._MD_FD_NO_CATEGORY}></option>
          <{xcatsvc_catselect tree=$cattree selectedValue=$data.cat_id}>
        </select>
      </td>
    </tr>
  <{/if}>
*}>

  <{foreach item=f from=$fields key=count name=i}>
    <tr>
      <td class="head" nowrap="nowrap">
      	<{$f.fname}>
      	<{if $f.visible==1}>&nbsp;*<{/if}>
      </td>
      <td class="<{cycle values='odd,even'}>" >
        <input type="text" name="<{$mydirname}>_field<{$f.fid}>" id="<{$mydirname}>_field<{$f.fid}>" size="50" maxlength="255" value="<{$data.data[$f.fid]}>" />
      </td>
    </tr>
  <{/foreach}>


  <tr>
    <td class="head" valign="top">
      <{$smarty.const._MD_SUBMITTER}>
    </td>
    <td class="odd">
        <{$data.uname}>
    </td>
  </tr>

  <tr>
    <td class="head" valign="top">
      <{$smarty.const._DATE}>
    </td>
    <td class="even">
        <{"Y/n/j G:i"|date:$data.regidate}>
    </td>
  </tr>


  <tr class="foot">
    <td>&nbsp;</td>
    <td>
      <input type="submit" name="edit" class="button" value="<{$smarty.const._SUBMIT}>" />
      <{if $isadmin || ($delperm && $data.uid==$uid)}>
        <input type="button" value="<{$smarty.const._DELETE}>" onclick='if(confirm("<{$smarty.const._MD_DATA_DEL_MSG}>")){document.postform.deldata.value="1";submit();}' />
      <{/if}>
    </td>
  </tr>

</table>
* : <{$smarty.const._MD_VISIBLE_IN_LIST}>

<{$gticket}>
<input type="hidden" name="deldata" value="" />
<input type="hidden" name="did" value="<{$data.did}>" />
</form>

<{include file="db:`$mydirname`_footer.html"}>
