<{strip}>

<{if $use_count}>

	<{if $count}>
		<{$count|intval}>
	<{else}>
		0
	<{/if}>

<{else}>

	<{foreach item=d from=$data key=c name=j}>
		<table border="1" style="width:96%;border-collapse:collapse;empty-cells:show; border-color:#999;margin:6px 6px 16px;">
			<{if $catTitleArr}>
				<tr> 
					<td class="head" nowrap="nowrap">
						<{$smarty.const._MD_FD_CATEGORY}>
					</td>
					<td class="<{cycle values='odd,even'}>">
						<{assign var=cai_id value=$d.cat_id }>
						<a href="<{$myurl}>/index.php?page=categ&amp;cat_id=<{$cai_id}>"><{if $cai_id==0}><{$smarty.const._MD_FD_NONE}><{else}><{$catTitleArr[$cai_id]}><{/if}></a>
					</td>
				</tr>
			<{/if}>

			<{foreach item=f from=$fields key=count name=i}>
				<{if $f.visible==1}>
					<tr>
						<td class="head">
							<{$f.fname}>
						</td>
						<td class="<{cycle values='odd,even'}>" id="<{$mydirname}>_field_disp<{$f.fid}>">
							<{$d.data[$f.fid]}>
						</td>
					</tr>
				<{/if}>
			<{/foreach}>
		</table>
	<{/foreach}>

<{/if}>

<{/strip}>