<div style="text-align:center;padding:12px 0;">
  <a href="<{$myurl}>/"><img src="<{$myurl}>/images/logo.gif" alt="" /></a>
</div>

<div id="flatdataBreadcrumbs" style="margin:12px 6px;">
  <a href="<{$xoops_url}>/">SiteTop</a>
  <{foreach from=$xoops_breadcrumbs item="crumb" key=count}>
    <{*if $count gt 0 *}><img src="<{$myurl}>/images/a.gif" /> <{*/if*}>
    <{if $crumb.url}>
      <a href="<{$crumb.url}>"><{$crumb.name}></a>
    <{else}>
      <{$crumb.name}>
    <{/if}>
 <{/foreach}>
</div>


<div style="text-align:right;margin:0 0 8px 0;">

<a href="javascript:void(0)" onClick="if(document.getElementById('sf').style.display=='none'){document.getElementById('sf').style.display='block';}else{document.getElementById('sf').style.display='none';return false;}"><img src="<{$myurl}>/images/search.gif" style="vertical-align:middle;" /> <{$smarty.const._SEARCH}></a> 
<{if $postperm}>
  &nbsp;<a href="index.php?page=submit"><img src="<{$myurl}>/images/submit.gif" style="vertical-align:middle;" /> <{$smarty.const._MD_SUBMIT_DATA}></a>
<{/if}>

</div>


<div id="sf" style="text-align:right;display:<{if $sq}>block<{else}>none<{/if}>;">
<noscript></div><div id="sf_noscript" style="text-align:right;display:block;"></noscript>
	<form action="" method="get">
		<select name="ao" >
			<option value="0" <{if $ao==0}>selected="SELECTED"<{/if}> >AND</option>
			<option value="1" <{if $ao==1}>selected="SELECTED"<{/if}> >OR</option>
		</select>
		<select name="sf" >
			<option value="0"><{$smarty.const._ALL}></option>
			<{foreach item=f from=$fields}>
			<option value="<{$f.fid}>"  <{if $sf==$f.fid}>selected="SELECTED"<{/if}> ><{$f.fname}></option>
			<{/foreach}>
		</select>
		<{if $category && $cat_id>=0}>
			<input type="hidden" name="page" value="categ" />
			<input type="hidden" name="cat_id" value="<{$cat_id}>" />
		<{/if}>
		<input type="text" name="sq" size="30" maxlength="255" value="<{$sq}>" />
		<input type="submit" value="<{$smarty.const._SEARCH}>" />
	</form>
</div>


