<{$breadcrumb}>
<br />
	<{if $mod_pref.advertisement != ''}><div id="myshop_publicite"><{$mod_pref.advertisement}></div><{/if}>
<br />
<h2><img src="<{$smarty.const.MYSHOP_IMAGES_URL}>box.png" alt="" border="0" /><{$smarty.const._MI_MYSHOP_SMNAME5}></h2>
<div class="myshop_alphabet"><{foreach item=letter from=$alphabet}><a href="#<{$letter}>"><{$letter}></a> <{/foreach}></div>

<table border="0" cellpadding="0" cellspacing="0" class="myshop_whoswho">
<{foreach key=initiale item=donnees from=$manufacturers}>
<tr>
<td>

<table width="100%" cellspacing="0">
<tr>
<td class="myshop_catdescription">
        <table width="100%" cellspacing="0">
        <tr>
        <td align="center" width="80%"></td>
        <td align="center" width="20%">
        <div class="myshop_lettrine"><a name="<{$initiale}>"><span class="myshop_lettrine-L"><{$initiale}></span></a></div></td>
        </tr>
        <tr>
        <td colspan="2" class="myshop_listauthors">
        <div>
        <{foreach item=manufacturer from=$donnees}>
        <br /><img src="<{$smarty.const.MYSHOP_IMAGES_URL}>arrow-black2.png" alt="" border="0" /><a href="<{$manufacturer.manu_url_rewrited}>" title="<{$manufacturer.manu_href_title}>"><{$manufacturer.manu_name}>, <{$manufacturer.manu_commercialname}></a>
        <{/foreach}>
        </div>
        </td>
        </tr>
        </table>	
</td>
</tr>
</table>
</td>
</tr>
<{/foreach}>
</table>