<{if $actionForm->hasError()}>
  <div class="error">
    <ul>
      <{foreach item=message from=$actionForm->getErrorMessages()}>
        <li><{$message|xoops_escape}></li>
      <{/foreach}>
    </ul>
  </div>
<{/if}>
<form action="index.php?action=BmEdit" method="post">
  <{xoops_token form=$actionForm}>
  <{xoops_token form=$actionForm2}>
  <{xoops_input type=hidden name=bm_id value=$actionForm->get('bm_id')}>
  <{xoops_input type=hidden name=uid value=$actionForm->get('uid')}>
  <!--
  <{xoops_input type=hidden name=tag_id value=$actionForm2->get('tag_id')}>
  -->
  <{xoops_input type=hidden name=reg_unixtime value=$actionForm->get('reg_unixtime')}>
  <{xoops_input type=hidden name=ret value=$ret}>
  <table class="outer">
    <tr>
    <{if $actionForm->get('bm_id')}>
      <th colspan="2"><{$smarty.const._MD_DBKMARKEN_LANG_BM_EDIT}></th>
  <{else}>
      <th colspan="2"><{$smarty.const._MD_DBKMARKEN_LANG_ADD_A_NEW_BM}></th>
  <{/if}>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_DBKMARKEN_LANG_BM_TITLE}></td>
      <td class="odd">
        <{xoops_input type=text name=bm_title value=$actionForm->get('bm_title') size=50 maxlength=255}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_DBKMARKEN_LANG_URL}></td>
      <td class="odd">
        <{xoops_input type=text name=url value=$actionForm->get('url') size=50 maxlength=255}>
      </td>
    </tr>
    <tr>
      <td class="head" rowspan="2"><{$smarty.const._MD_DBKMARKEN_LANG_TAG_NAME}></td>
      <td class="odd">
        <{xoops_input type=text name=tag_name value=$actionForm2->get('tag_name') size=50 maxlength=255}><br />
        <{$smarty.const._MD_DBKMARKEN_LANG_TAG_FORMAT}>
      </td>
    </tr>
    <tr>
      <td class="odd">
		    <div id="popularTags">
					<{$smarty.const._MD_DBKMARKEN_LANG_MY_TAGS}>
					<{foreach from=$myTagArr item=mytag}>
						<span onclick="addTag(this);"><{$mytag}></span>
					<{/foreach}>
					<{if $allowUseredit!="0"}>
					<hr />
					<{$smarty.const._MD_DBKMARKEN_LANG_THISPAGE_TAGS}>
					<{foreach from=$popTagArr item=poptag}>
						<span onclick="addTag(this);"><{$poptag}></span>
					<{/foreach}>
					<{/if}>
				</div>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_DBKMARKEN_LANG_MEMO}></td>
      <td class="odd">
        <{xoops_dhtmltarea type=text name=memo value=$actionForm->get('memo')}>
      </td>
    </tr>
    <tr>
      <td class="foot" colspan="2">
        <input type="submit" class="formButton" value="<{$smarty.const._SUBMIT}>"/>
        <input type="submit" class="formButton" value="<{$smarty.const._MD_DBKMARKEN_LANG_CANCEL}>" name="_form_control_cancel"/>
      </td>
    </tr>
  </table>
</form>
