<h1><{$smarty.const._MD_CINEMARU_COMMENT_LIST}></h1>

<table width='100%' class='odd' cellspacing='1' cellpadding='4'>
  <tr>
    <td>
    
<{foreach from=$page_list item=i key=k}>
  <{if strcmp($i, '--') == 0 }>
  <{$k}> |
  <{else}>
    <a
href='<{$xoops_url}>/modules/<{$mydirname}>/movie_comment_list.php?offset=<{$i}><{if
$smarty.request.id}>&id=<{$smarty.request.id}><{/if}>'><{$k}></a> |
  <{/if}>
<{/foreach}>

    </td>
    <td align='right'>
    
<{if $need_prev_link }>
<a href="<{$xoops_url}>/modules/<{$mydirname}>/movie_comment_list.php?offset=<{$prev}><{if
$smarty.request.id}>&id=<{$smarty.request.id}><{/if}>"><{$smarty.const._MD_CINEMARU_PREV}>
</a>
<{else}>
<{$smarty.const._MD_CINEMARU_PREV}>
<{/if}>
<{if $need_next_link }>
<a href="<{$xoops_url}>/modules/<{$mydirname}>/movie_comment_list.php?offset=<{$next}><{if
$smarty.request.id}>&id=<{$smarty.request.id}><{/if}>"><{$smarty.const._MD_CINEMARU_NEXT}>
</a>
<{else}>
<{$smarty.const._MD_CINEMARU_NEXT}>
<{/if}>

    </td>
  </tr>
</table>

<table width='100%' class='outer' cellspacing='1' cellpadding='4'>
  <tr>
    <td class='head'>ID</td>
    <td class='head'><{$smarty.const._MD_CINEMARU_COMMENT}></td>
    <td class='head'><{$smarty.const._MD_CINEMARU_COMMENT_TIME}></td>
    <td class='head'><{$smarty.const._MD_CINEMARU_MOVIE}></td>
    <td class='head'><{$smarty.const._MD_CINEMARU_TIME}></td>
    <{if $show_name_comment_list}>
      <td class='head'><{$smarty.const._MD_CINEMARU_USER}></td>
    <{/if}>
    <td class='head'><{$smarty.const._MD_CINEMARU_ACTION}></td>
  </tr>

<{foreach from=$list item=i key=k}>
  <{cycle values="odd,even" assign="class"}>
  <tr>
    <td class="<{$class}>"><{$i.id|escape:"html"}></td>
    <td class="<{$class}>"><{$i.comment|escape:"html"}></td>
    <td class="<{$class}>"><{$i.comment_time_f}></td>
    <td class="<{$class}>"><a
href="<{$xoops_url}>/modules/<{$mydirname}>/movie.php?id=<{$i.movie_id|escape:"html"}>"><{$smarty.const._MD_CINEMARU_MOVIE}></a></td>
    <td class="<{$class}>"><{$i.reg_time|date_format:"%Y/%m/%d %H:%M"}></td>
    <{if $show_name_comment_list}>
      <td class="<{$class}>">
      <{if $i.reg_user == 0}>
      <{$i.uname|default:"GUEST"|escape:"html"}>
      <{else}>
      <a href="<{$xoops_url}>/userinfo.php?uid=<{$i.reg_user}>"><{$i.uname|escape:"html"}></a>
      <{/if}>
      </td>
    <{/if}>
    <td class="<{$class}>"><{if $delcomment_admin}><a
href="<{$xoops_url}>/modules/<{$mydirname}>/movie_comment_delete.php?comment_id=<{$i.id}><{if
$smarty.request.id}>&id=<{$smarty.request.id}><{/if}>"><{$smarty.const._MD_CINEMARU_DELETE}></a><{/if}></td>
  </tr>
<{/foreach}>  
  
</table>

    
