<h1><{$smarty.const._MD_CINEMARU_MOVIE_DELETE}></h1>

<form name="myform" id="myform"
action="<{$xoops_url}>/modules/<{$mydirname}>/movie_delete_do.php" method="post" enctype="multipart/form-data">
<table class="outer" width="100%">
  <tr>
    <th colspan="2" style="text-align:center;"><{$smarty.const._MD_CINEMARU_MOVIE_DELETE}></th>
    </tr>
  <tr>
      <td class="head"><{$smarty.const._MD_CINEMARU_TITLE}></td>
      <td class="even">
        <{$movie.title|escape:"html"}>
    </td>
  </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_CINEMARU_DESC}></td>
      <td class="odd">
        <{$movie.desc|escape:"html"}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_CINEMARU_COUNT}></td>
      <td class="odd">
        <{$movie.counter|escape:"html"}>
      </td>
    </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_CINEMARU_COMMENT}></td>
      <td class="odd">
        <{$movie.comment|escape:"html"}>
      </td>
    </tr>
    <{*
  <tr>
	
    <td class="head"><nobr><{$smarty.const._MD_CINEMARU_GENRE}></nobr></td>
    <td class="even">
    <{foreach from=$genre_list key=k item=i}>
    <nobr><input name="genre" type="radio" value="<{$k|escape:"html"}>" <{if
$smarty.request.genre == $k + 1}>CHECKED<{/if}>/><{$i|escape:"html"}></nobr>
    <{/foreach}>
    </td>
  </tr>
*}>
  <tr>
    <td colspan="2" class="foot" style="text-align:center;">
      <input type="hidden" name="id" value="<{$smarty.request.id|escape:"html"}>" />
      <input type="submit" value="<{$smarty.const._MD_CINEMARU_DELETE}>"  />
		    
    </td>
  </tr>
</table>
</form>
