

<script type="text/javascript" src="prototype.js"></script>
<script type="text/javascript">
function edit_form()
{
    var pars = 'id=<{$movie.id}>';
    var url = '<{$xoops_url}>/modules/<{$mydirname}>/tag_edit.php';
    
    Element.hide("tags");
    
    var myAjax = new Ajax.Request(
        url,
        {
            method: 'get', 
            parameters: pars, 
            onComplete: show_response
        }
    );
}

function add_tag()
{
    var new_tag = $F('new_tag');
    var pars = 'id=<{$movie.id}>&tag=' + new_tag;
    var url = '<{$xoops_url}>/modules/<{$mydirname}>/tag_add.php';
    
    Element.show("tags");
    
    re = RegExp("^.+$");
    if (re.test(new_tag)) {
        var myAjax = new Ajax.Request(
            url, 
            {
                method: 'get', 
                parameters: pars, 
                onComplete: show_response
            }
        );


    } else {
        alert('<{$smarty.const._MI_CINEMARU_INPUT_TAG}>');
    }
}

function delete_tag(id)
{
    var pars = 'movie_id=<{$movie.id}>&id=' + id;
    var url = '<{$xoops_url}>/modules/<{$mydirname}>/tag_delete.php';
    
    var myAjax = new Ajax.Request(
        url, 
        {
            method: 'get', 
            parameters: pars, 
            onComplete: show_response
        }
    );
}

function end_edit()
{
    var pars = 'id=<{$movie.id}>';
    var url = '<{$xoops_url}>/modules/<{$mydirname}>/tag_get.php';
    
    Element.show("tags");
    
    var myAjax = new Ajax.Request(
        url, 
        {
            method: 'get', 
            parameters: pars, 
            onComplete: show_response
        }
    );
}

function show_response(req)
{
    var item = $('edit_form_div');
    Element.update(item, req.responseText)
}
</script>


<table class="outer" cellspacing="1" width="100%">
  <tr>
    <td class="odd">
<h2><{$movie.title|escape:"html"}></h2>
<{if $movie.valid == 0}>
<font color='red'><b><{$smarty.const._MD_CINEMARU_MOVIE_NO_VALID2}></b></font><br>
<{/if}>
<{$movie.desc}><br>
    </td>
  </tr>
</table>
<br>

<div id="tags" style="float: left;">[<{if
$movie.tag_lock}><{$smarty.const._MD_CINEMARU_TAG}><{else}><a
href="javascript:onclick=edit_form();"><{$smarty.const._MD_CINEMARU_EDIT_TAG}>
</a><{/if}>]</div>
<div id="edit_form_div"><{$tag}></div>
<br style="clear: both;">

<!-- flash start -->
<{include file="db:`$mydirname`_movie_flash_player.html"}>
<!-- flash end -->

<{if $movie.file_type == $smarty.const.CINEMARU_FORM_FILE_TYPE_YOUTUBE_URL}>
<nobr><a href="http://www.youtube.com/">YouTube Video</a></nobr><br>
<{/if}>

<{if $user_name }>
<nobr>
<{$smarty.const._MD_CINEMARU_USER}>:<{if $movie.owner ==
0}><{$user_name|escape:"html"}><{else}><a
href="<{$xoops_url}>/userinfo.php?uid=<{$movie.owner}>"><{$user_name|escape:"html"}></a><{/if}>
<br>
</nobr>
<{/if}>
<nobr>
<{$smarty.const._MD_CINEMARU_COUNT}>:<{$movie.counter}>
<{$smarty.const._MD_CINEMARU_COMMENT}>:<{$movie.comment}></nobr><br>
<{if $xoops_userid == $movie.owner || $touchothers }>
  <nobr><a href="movie_edit.php?id=<{$movie.id}>"><{$smarty.const._MD_CINEMARU_EDIT}></a></nobr>
<{/if}>
<{if $xoops_userid == $movie.owner || $touchothers }>
  <nobr><a href="movie_delete.php?id=<{$movie.id}>"><{$smarty.const._MD_CINEMARU_DELETE}></a></nobr>
<{/if}>
<{if $auth_valid}>
  <{if $movie.valid == 0}>
    <nobr><a href="movie_valid_do.php?id=<{$movie.id}>"><{$smarty.const._MD_CINEMARU_MOVIE_VALID}></a></nobr>
  <{else}>
    <nobr><a href="movie_valid_do.php?id=<{$movie.id}>&novalid=1"><{$smarty.const._MD_CINEMARU_MOVIE_NO_VALID3}></a></nobr>
  <{/if}>
<{/if}>
<{if $showcomment}>
  <nobr><a href="movie_comment_list.php?id=<{$movie.id}>"><{$smarty.const._MD_CINEMARU_COMMENT_LIST}></a></nobr>
<{/if}>
<{if $show_report_link && $report }>
  <nobr><a href="movie_report.php?id=<{$movie.id}>"><{$smarty.const._MD_CINEMARU_VIOLATION_REPORT}></a></nobr>
<{/if}>

<{if $xoops_module_config.blog_paste}>
<br>
<br>
<!-- blog paste start -->
<form name="myform">
<{$smarty.const._MD_CINEMARU_BLOG_PASTE_TAG}><br>
<input type="text" name="flash_tag" id="flash_tag" value="<{$blog_paste|escape:"html"}>"
size="24" style="padding:1px; border:1px 1px #aaa;"
onClick="javascript:document.myform.flash_tag.focus();
document.myform.flash_tag.select();"></form>
<!-- blog paste end -->
<{/if}>

<br style="clear: both;">

