<object type="application/x-shockwave-flash"
data="<{$xoops_url}>/modules/<{$mydirname}>/player.swf?<{$t}>" width="512" height="470"
<{if $player_float}> style="float: left;"<{/if}>>
  <param name="movie" value="<{$xoops_url}>/modules/<{$mydirname}>/player.swf?<{$t}>" />
  <param name="FlashVars"
value="id=<{$smarty.request.id}>&file_url=<{if ($movie.file_type ==
$smarty.const.CINEMARU_FORM_FILE_TYPE_FILE_URL || $movie.file_type ==
$smarty.const.CINEMARU_FORM_FILE_TYPE_YOUTUBE_URL) && $movie.file_url !=
''}><{$movie.file_url}><{else}><{$xoops_url}>/uploads/<{$mydirname}>/movie/<{$movie.file}><{/if}><{if
$movie.image_file_url != ''}>&image_url=<{$movie.image_file_url}><{elseif
$movie.image_file}>&image_url=<{$xoops_url}>/uploads/<{$mydirname}>/image/<{$movie.image_file}><{/if}>&baseurl=<{$xoops_url}>/modules/<{$mydirname}>/<{if
$commentok == 0}>&comment_ng=1<{/if}><{if
$user_avatar}>&avatar_url=<{$xoops_url}>/uploads/<{$user_avatar}><{/if}><{if
$xoops_module_config.sp_command1}>&spcmd1=<{$xoops_module_config.sp_command1|escape:"html"}><{/if}><{if
$spcmd1url}>&spcmd1_url=<{$spcmd1url|escape:"html"}><{/if}><{if
$xoops_module_config.sp_command1_random}>&spcmd1r=<{$xoops_module_config.sp_command1_random|escape:"html"}><{/if}><{if
$xoops_module_config.sp_command2}>&spcmd2=<{$xoops_module_config.sp_command2|escape:"html"}><{/if}><{if
$spcmd2url}>&spcmd2_url=<{$spcmd2url|escape:"html"}><{/if}><{if
$xoops_module_config.sp_command2_random}>&spcmd2r=<{$xoops_module_config.sp_command2_random|escape:"html"}><{/if}><{if
$xoops_module_config.sp_command3}>&spcmd3=<{$xoops_module_config.sp_command3|escape:"html"}><{/if}><{if
$spcmd3url}>&spcmd3_url=<{$spcmd3url|escape:"html"}><{/if}><{if
$xoops_module_config.sp_command3_random}>&spcmd3r=<{$xoops_module_config.sp_command3_random|escape:"html"}><{/if}><{if
$autoplay}>&autoplay=1<{/if}>"
/>
</object>
