<h1><{$smarty.const._MD_CINEMARU_VIOLATION_REPORT}></h1>

<script type="text/javascript" src="prototype.js"></script>
<script type="text/javascript">
function submit_check()
{
    var title = $F('title');
    var desc = $F('desc');
    
    var err = "";
    
    if (title.length == 0) {
        err = "<{$smarty.const._MD_CINEMARU_ERROR_NO_TITLE}>\n";
    }
    if (1000 < desc.length) {
        err += "<{$smarty.const._MD_CINEMARU_ERROR_DESC_OVER}>";
    }
    if (0 < err.length) {
        alert(err);
    } else {
        document.myform.submit();
    }
}
</script>

<{if $error }>
<div class="errorMsg">
  <ul>
<{foreach from=$error item=i}>
    <li><{$i|escape:"html"}></li>
<{/foreach}>
  </ul>
</div>
<{/if}>

<form name="myform" id="myform" action="<{$xoops_url}>/modules/<{$mydirname}>/movie_report_do.php" method="post">
<input type="hidden" name="id" value="<{$smarty.request.id}>" />
<table class="outer" width="100%">
  <tr>
    <th colspan="2" style="text-align:center;"><{$smarty.const._MD_CINEMARU_VIOLATION_REPORT}></th>
    </tr>
  <tr>
      <td class="head"><{$smarty.const._MD_CINEMARU_TITLE}></td>
      <td class="even">
        <{$movie.title|escape:"html"}>
    </td>
  </tr>
  <tr>
      <td class="head"><nobr><{$smarty.const._MD_CINEMARU_VIOLATION_REPORT_CAT}></nobr></td>
      <td class="even">
        <input name="category" type="radio" value="1"><{$smarty.const._MD_CINEMARU_VIOLATION_REPORT_CAT_1}><br>
        <input name="category" type="radio" value="2"><{$smarty.const._MD_CINEMARU_VIOLATION_REPORT_CAT_2}><br>
        <input name="category" type="radio" value="3"><{$smarty.const._MD_CINEMARU_VIOLATION_REPORT_CAT_3}><br>
        <input name="category" type="radio" value="4" checked><{$smarty.const._MD_CINEMARU_VIOLATION_REPORT_CAT_4}>
    </td>
  </tr>
    <tr>
      <td class="head"><{$smarty.const._MD_CINEMARU_COMMENT}></td>
      <td class="odd">
        <textarea name="comment" id="desc" rows="10" cols="50"></textarea>
      </td>
    </tr>
  <tr>
    <td colspan="2" class="foot" style="text-align:center;">
<{if $edit == 1 }>    
      <input type="hidden" name="id"
value="<{$smarty.request.id|escape:"html"}>" />
<{/if}>
      <input type="submit" value="<{$smarty.const._MD_CINEMARU_VIOLATION_REPORT}>" />
		    
    </td>
  </tr>
</table>
</form>
