<a
href="<{$xoops_url}>/modules/<{$mydirname}>/movie.php?id=<{$movie.id}>"><img
src="<{if $movie.image_file_url != ''}><{$movie.image_file_url|escape:"html"}><{elseif
$movie.image_file}><{$xoops_url}>/uploads/<{$mydirname}>/image/<{$movie.image_file}><{else}><{$xoops_url}>/modules/<{$mydirname}>/images/no_image.png<{/if}>"
width="150" height="112"><br><{if $movie.title ==
''}>no title<{else}><{$movie.title_trunc|escape:"html"}><{/if}></a><{if $movie.valid ==
0}><font color='red'><b>(<{$smarty.const._MD_CINEMARU_MOVIE_NO_VALID2}>)</b></font><{/if}><br>
<{$smarty.const._MD_CINEMARU_COUNT}>:<{$movie.counter}> 
<{$smarty.const._MD_CINEMARU_COMMENT}><{$movie.comment}><br>
<font style="font-size: 9px;"><{$movie.desc_trunc|escape:"html"}></font><br>
