<?xml version="1.0" encoding="utf-8"?>
<feed version="0.3"
  xmlns="http://purl.org/atom/ns#"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xml:lang="ja">
      <title><{$rss_title}></title>
      <link rel="alternate" type="text/html" href="<{$rss_top_url}>" />
      <tagline><{$rss_summary}></tagline>
      <modified><{$time|date_format:"%Y-%m-%dT%TZ"}></modified>
      <copyright>Copyright 2006</copyright>
      <generator url="http://tokita.info/" version="">waffle</generator>

<{foreach from=$items key=key item=item}>
<entry>
<author>
<name></name>
</author>
<title><{$item.title|regex_replace:"/<[^<>]+>/i":""}></title>
<link rel="alternate" type="text/html" href="<{$item.url}>" />
<id><{$item.url|escape:"html"}></id>

<modified><{$item.date|date_format:"%Y-%m-%dT%TZ"}></modified>
<issued><{$item.date|date_format:"%Y-%m-%dT%TZ"}></issued>

<summary type="text/html"><{$item.body|regex_replace:"/<[^<>]+>/i":""}></summary>
<content type="text/html" mode="escaped" xml:base="http://tokita.info/modules/wordpress/index.php?p=58"><![CDATA[&lt;p&gt;<{$item.title}>&lt;/p&gt;
<{$item.body|nl2br|escape:"html"}>
]]></content>

</entry>
<{/foreach}>

</feed>
