<table style="width: 500px;">
<{foreach from=$table item=item}>
  <{if $item.valid }>
    <tr>
    <td><{$item.name|escape:"html"}></td>
    <td>
    <{if $ok_list[$item.id][2] }>
  <nobr>[ <a href="<{$index_php}>?t_m=ddcommon_insert&t_dd=<{$mydirname}>_data<{$item.id}>">ÅÐÏ¿</a> ]</nobr>
    <{assign var="chk" value="1"}>
    <{/if}>
    </td>
    <td>
    <{if $ok_list[$item.id][1] }>
  <nobr>[ <a href="<{$index_php}>?t_m=ddcommon_list&t_dd=<{$mydirname}>_data<{$item.id}>"> °ìÍ÷É½¼¨</a> ]</nobr>
    <{assign var="chk" value="1"}>
    <{/if}>
    </td>
    <td>
    <{if $item.rss}>
    <a href="<{$index_php}>?t_m=ddcommon_rss&t_dd=<{$mydirname}>_data<{$item.id}>&t_type=rss092">
    <img src="images/rss-0.92.png" border="0"></a>
    <a href="<{$index_php}>?t_m=ddcommon_rss&t_dd=<{$mydirname}>_data<{$item.id}>">
    <img src="images/rdf-1.0.png" border="0"></a>
    <a href="<{$index_php}>?t_m=ddcommon_rss&t_dd=<{$mydirname}>_data<{$item.id}>&t_type=rss20">
    <img src="images/rss-2.0.png" border="0"></a>
<{*
    <a href="<{$index_php}>?t_m=ddcommon_rss&t_dd=<{$mydirname}>_data<{$item.id}>&t_type=atom03">
    <img src="images/atom-0.3.png" border="0"></a>
*}>
    <{/if}>
    </td>
    </tr>
  <{/if}>
<{/foreach}>
</table>
<{if $chk != 1}>
<{$md_no_tables}>
<{/if}>
