<{if $grant_add }>
<a href="<{$index_php}>?t_m=ddcommon_insert&t_dd=<{$table_name}>"><{$md_insert}></a><BR>
<{/if}>
<{strip}>
<a href="<{$index_php}>?t_m=ddcommon_list&t_dd=<{$table_name}>&t_limit=10
<{if $t_order }>
  &t_order=<{$t_order}>
<{/if}>
<{if $t_order_r }>
  &t_order_r=<{$t_order_r}>
<{/if}>
<{/strip}>
">10</a> |

<{strip}>
<a href="<{$index_php}>?t_m=ddcommon_list&t_dd=<{$table_name}>&t_limit=50
<{if $t_order }>
   &t_order=<{$t_order}>
<{/if}>
<{if $t_order_r }>
  &t_order_r=<{$t_order_r}>
<{/if}>">50</a> |
<{/strip}> 

<{strip}>
<a href="<{$index_php}>?t_m=ddcommon_list&t_dd=<{$table_name}>&t_limit=100
<{if $t_order }>
   &t_order=<{$t_order}>
<{/if}>
<{if $t_order_r }>
  &t_order_r=<{$t_order_r}>
<{/if}>">100</a> |
<{/strip}>

<{strip}>
<a href="<{$index_php}>?t_m=ddcommon_list&t_dd=<{$table_name}>&t_limit=500
<{if $t_order }>
   &t_order=<{$t_order}>
<{/if}>
<{if $t_order_r }>
  &t_order_r=<{$t_order_r}>
<{/if}>">500</a> |
<{/strip}>

<{strip}>
<a href="<{$index_php}>?t_m=ddcommon_list&t_dd=<{$table_name}>&t_limit=1000
<{if $t_offset }>
  &t_offset=<{$t_offset}>
<{/if}>
<{if $t_order }>
   &t_order=<{$t_order}>
<{/if}>
<{if $t_order_r }>
  &t_order_r=<{$t_order_r}>
<{/if}>">1000</a><BR>
<{/strip}>

<{* ----- csv ------ *}>
<{if $grant_csv_output}>
<BR>
<a href="<{$index_php}>?t_m=ddcommon_csv&t_dd=<{$table_name}>"><{$md_csv_output}></a><BR>
<{/if}>

<{include file=$list_navi_bar'}>

<{* ----- main table ----- *}>
<table width='100%' class='outer' cellspacing='1' cellpadding='4'>
  <tr>
  <{foreach from=$map->column_map key=key item=item}>
    <{if $item.listview }>
    <td class='head'>
    <a href="<{$index_php}>?t_dd=<{$table_name}>&t_m=ddcommon_list&t_order=<{$item.key}><{strip}>
    <{if $t_order == $item.key && $t_order_r == 0 }>
      &t_order_r=1
    <{/if}>
    <{/strip}>"><{$item.desc|escape:"html"|truncate:40}></a>
    <{if $t_order == $item.key && $t_order_r }>
      <font color="red"><{$md_r_mark}></font>
    <{/if}>
    </td>
    <{/if}>
  <{/foreach}>
  <td class="head"></td>
  </tr>

  <{foreach from=$alldata item=item}>
    <tr>
      <{cycle values="odd,even" assign="class"}>
      <{foreach from=$map->column_map key=k item=i}>
        <{if $i.primary_key }>
          <{assign var="p_key" value=$item[$k] }>
	<{/if}>
        <{if $i.listview }>
          <td class="<{$class}>">
	  <{if $i.primary_key }>
	    <a href="<{$index_php}>?t_m=ddcommon_view<{$custom_view}>&id=<{$item[$k]}>&t_dd=<{$table_name}>"><{$item[$k]}></a>
	  <{elseif $i.type eq 'email' }>
	    <a href="mailto:<{$item[$k]}>"><{$item[$k]}></a>
	  <{elseif $i.type eq 'image' }>
	    <{$item[$k]}>
	  <{elseif $i.type eq 'image_url' }>
	    <{if isset($item[$k]) && $item[$k] }>
	    <img src="<{$item[$k]}>">
	    <{/if}>
	  <{elseif $i.type eq 'file' }>
	    <{$item[$k]}>
	  <{elseif $i.type eq 'htmltext' }>
	    <{$item[$k]}>
          <{elseif $i.type == 'epoctime' }>
	    <{if $item[$k] == 0 }>
	      <!-- n/a -->
	    <{else}>
              <nobr><{$item[$k]|date_format:"%Y-%m-%d"}></nobr>
	    <{/if}>
          <{elseif $i.type == 'url' }>
	    <a href="<{$item[$k]}>"><{$item[$k]}></a>
          <{elseif $i.type == 'radio' }>
	    <{if 0 < $item[$k] }>
	      <{foreach from=$i.enum key=kk item=ii }>
	        <{if ($kk + 1) == $item[$k] }>
	          <{$ii|escape:"html"}>
	        <{/if}>
	      <{/foreach}>
	    <{/if}>
          <{elseif $i.type == 'select' }>
	    <{foreach from=$i.enum key=kk item=ii }>
	      <{if ($kk + 1) == $item[$k] }>
	        <{$ii}>
	      <{/if}>
	    <{/foreach}>
          <{elseif $i.type == 'checkbox' }>
	    <{if isset($item[$k]) }>
	      <{$item[$k]}>
	    <{/if}>
	  <{elseif $i.type eq 'php_code' }>
	    <{$item[$k]}>
	  <{elseif $i.type eq 'password_plain' }>
	    --------
	  <{else}>
	    <{$item[$k]|escape:"html"|truncate:40}>
	  <{/if}>
	  </td>
	<{/if}>
      <{/foreach}>
      <td class="<{$class}>">
      <{if $grant_read }>
      <nobr><a href="<{$index_php}>?t_m=ddcommon_view<{$custom_view}>&id=<{$p_key}>&t_dd=<{$table_name}>"><{$md_detail}></a></nobr>
      <{/if}>
      <{if $grant_update }>
      <nobr><a href="<{$index_php}>?t_m=ddcommon_update&id=<{$p_key}>&t_dd=<{$table_name}>"><{$md_update}></a></nobr>
      <{/if}>
      <{if $grant_delete }>
      <nobr><a href="<{$index_php}>?t_m=ddcommon_delete&id=<{$p_key}>&t_dd=<{$table_name}>"><{$md_delete}></a></nobr>
      <{/if}>
      </td>
    </tr>
  <{/foreach}>
  
</table>

<{include file=$list_navi_bar'}>

<{if $listlength == 0 }>
<{$md_no_data}>
<{/if}>
