<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" 
xmlns:content="http://purl.org/rss/1.0/modules/content/">

<channel>
<title><{$rss_title}></title>
<link><{$rss_top_url}></link>
<description><{$rss_summary}></description>
<language>ja</language>
<copyright>Copyright 2006</copyright>

<pubDate><{$gmdate_r}> +0000</pubDate>
<generator>http://tokita.info/</generator>

<{foreach from=$items key=key item=item}>
<item>
    <title><{$item.title|regex_replace:"/<[^<>]+>/i":""}></title>
    <link><{$item.url|escape:"html"}></link>
    <pubDate><{$item.date|date_format:"%A, %d %b %Y %T"}> <{$time_zone_sign}><{$server_tz|string_format:"%02d"}>00</pubDate>

    <guid isPermaLink="true"><{$item.url|escape:"html"}></guid>

    <description><{$item.body|regex_replace:"/<[^<>]+>/i":""}></description>
    <content:encoded><![CDATA[<p><{$item.title}></P>
<{$item.body}>
]]></content:encoded>
</item>
<{/foreach}>

</channel>
</rss>
