<{if $errmsg }>
  <font color="red">
  <{foreach from=$errmsg item=i}>
    <{$i|escape:"html"}><br>
  <{/foreach}>
  </font>
<{/if}>

<form action="<{$index_php}>" method="post" enctype="multipart/form-data">
<input type="hidden" name="t_m" value="<{$action}>">
<input type="hidden" name="t_dd" value="<{$table_name}>">
<{if $id }>
<input type="hidden" name="id" value="<{$id}>">
<{/if}>
<table width='100%' class='outer' cellspacing='1'>
  <{foreach from=$map->column_map key=key item=item}>
    <{if $item.not_insert_form != 0 }>
      <{* skip *}>
    <{elseif $form_type == 'update' && $item.updateview == 0 }>
      <{* skip *}>
    <{elseif $form_type != 'update' && $item.insertview == 0 }>
      <{* skip *}>
    <{else}>
    
      <tr>
      <td class="head">
      <{$item.desc|escape:"html"}>
      
      <{if $item.not_null == 1}>
      *
      <{/if}>

      <{if $form_type == 'update' && $item.updatable == 0}>
        <input type="hidden" name="<{$item.name}>" value="<{$post[$item.name]|escape:"html"}>">
      <{/if}>
      </td>
      <td>
    
      <{if $item.type eq 'integer' }>
        <input type="text" name="<{$item.name}>" value="<{strip}>
	<{if isset($post[$item.name]) }>
	  <{$post[$item.name]|escape:"html"}>
	<{else}>
	  <{$item.default|escape:"html"}>
	<{/if}>
	<{/strip}>" <{if $form_type == 'update' && $item.updatable ==
0}>disabled<{/if}>>

      <{elseif $item.type eq 'string' or $item.type eq 'email' or 
      $item.type eq 'url' or $item.type eq 'image_url' }>
        <input type="text" name="<{$item.name}>"
	<{if 0 < $item.maxlength }>
	  maxlength="<{$item.maxlength}>"
	<{/if}>
	<{if 0 < $item.size }>
	size="<{$item.size}>"
	<{/if}>
	value="<{strip}>
	<{if isset($post[$item.name]) }>
 	  <{$post[$item.name]|escape:"html"}>
	<{else}>
 	  <{$item.default|escape:"html"}>
	<{/if}>
	<{/strip}>" <{if $form_type == 'update' && $item.updatable ==
0}>disabled<{/if}>>

      <{elseif $item.type eq 'textarea'}>
        <textarea name="<{$item.name}>"<{if 0 < $item.rows }> rows="<{$item.rows}>"<{/if}><{if 0 < $item.cols }>
cols="<{$item.cols}>"<{/if}>  <{if $form_type == 'update' && $item.updatable
== 0}>disabled<{/if}>><{strip}>
        <{if isset($post[$item.name]) }>
          <{$post[$item.name]|escape:"html"}>
        <{else}>
          <{$item.default|escape:"html"}>
        <{/if}>
        <{/strip}></textarea>
      <{elseif $item.type eq 'htmltext'}>
        <textarea name="<{$item.name}>"<{if 0 < $item.rows }> rows="<{$item.rows}>"<{/if}><{if 0 <
$item.cols }>
cols="<{$item.cols}>"<{/if}> <{if $form_type == 'update' && $item.updatable ==
0}>disabled<{/if}>><{strip}>
        <{if isset($post[$item.name]) }>
          <{$post[$item.name]|escape:"html"}>
        <{else}>
          <{$item.default|escape:"html"}>
        <{/if}>
    <{/strip}></textarea>

      <{elseif $item.type eq 'php_code'}>
        <textarea name="<{$item.name}>"<{if 0 < $item.rows }> rows="<{$item.rows}>"<{/if}><{if 0 <
$item.cols }>
cols="<{$item.cols}>"<{/if}> <{if $form_type == 'update' && $item.updatable ==
0}>disabled<{/if}>><{strip}>
        <{if isset($post[$item.name]) }>
          <{$post[$item.name]|escape:"html"}>
        <{else}>
          <{$item.default|escape:"html"}>
        <{/if}>
    <{/strip}></textarea>
      <{elseif $item.type eq 'radio'}>
        <{foreach from=$item.enum key=jj item=j}>
	  <input type="radio" name="<{$item.name}>" value="<{math equation="x
+ 1" x=$jj}>" <{strip}>
	  <{if $form_type == 'update'  }>
	    <{if isset($post[$key]) && ($post[$key] - 1) == $jj}>
	    checked
	    <{/if}>
	  <{elseif ($item.default - 1) == $jj }>
  	    checked
	  <{/if}>
	  <{/strip}> <{if $form_type == 'update' && $item.updatable ==
0}>disabled<{/if}>><{$j|escape:"html"}>
	<{/foreach}>
      <{elseif $item.type eq 'select'}>
        <select name="<{$item.name}>" <{if $form_type == 'update' &&
$item.updatable == 0 }>disabled<{/if}>>
        <{foreach from=$item.enum key=jj item=j}>
	  <option name="<{$item.name}>" value="<{math equation="x + 1" x=$jj}>" <{strip}>
	  <{if $form_type == 'update'  }>
	    <{if (isset($post[$key])) && ($post[$key] - 1) == $jj}>
	    selected
	    <{/if}>
	  <{elseif ($item.default - 1) == $jj}>
	    selected
	  <{/if}>
	  <{/strip}>><{$j}>
	<{/foreach}>
	</select>
      <{elseif $item.type eq 'checkbox'}>
        <input type="checkbox" name="<{$item.name}>" value="1"
	<{if $form_type == 'update'  }>
	    <{if isset($post[$key]) && $post[$key] }>
	    checked
	    <{/if}>
	<{elseif $item.default }>
	checked
	<{/if}> <{if $form_type == 'update' && $item.updatable == 0}>disabled<{/if}>><{$item.desc}>
      <{elseif $item.type eq 'image'}>
        <input type="hidden" name="MAX_FILE_SIZE" value="<{$max_file_size}>"  <{if $form_type == 'update' && $item.updatable == 0}>disabled<{/if}>/>
        <input name="<{$item.name}>" type="file" value="<{$md_refer}>" <{if $form_type == 'update' && $item.updatable == 0}>disabled<{/if}>/>
      <{elseif $item.type eq 'file'}>
        <input type="hidden" name="MAX_FILE_SIZE" value="<{$max_file_size}>"  <{if $form_type == 'update' && $item.updatable == 0}>disabled<{/if}>/>
        <input name="<{$item.name}>" type="file" value="<{$md_refer}>" <{if $form_type == 'update' && $item.updatable == 0}>disabled<{/if}>/>
      <{elseif $item.type eq 'password_plain' }>
        <input type="password" name="<{$item.name}>"
	<{if 0 < $item.maxlength }> 
	    maxlength="<{$item.maxlength}>"
	<{/if}> <{if 0 < $item.size }> size="<{$item.size}>"
	<{/if}> value="<{strip}>
	<{if isset($post[$item.name]) }>
 	  <{$post[$item.name]|escape:"html"}>
	<{else}>
 	  <{$item.default|escape:"html"}>
	<{/if}>
	<{/strip}>" <{if $form_type == 'update' && $item.updatable == 0}>disabled<{/if}>>
      <{elseif $item.type eq 'time'}>
	  <input type='text' name='<{$item.name}>' size=14 maxlength=10 value='<{strip}>
	  <{if isset($post[$key]) && $post[$key] }>
	    <{$post[$key]|escape:"html"}>
	  <{else}>
	    <{$item.default|escape:"html"}>
	  <{/if}>
<{/strip}>' <{if $form_type == 'update' && $item.updatable == 0}>disabled<{/if}>> <small><{$time_input_hint}></small>
      <{elseif $item.type eq 'date'}>
	  <input type='text' name='<{$item.name}>' size=14 maxlength=10 value='<{strip}>
	  <{if isset($post[$key]) && $post[$key] }>
	    <{$post[$key]|escape:"html"}>
	  <{else}>
	    <{$item.default|escape:"html"}>
	  <{/if}>
<{/strip}>' <{if $form_type == 'update' && $item.updatable == 0}>disabled<{/if}>> <small><{$date_input_hint}></small> 
      <{elseif $item.type eq 'datetime'}>
	  <input type='text' name='<{$item.name}>' size=23 maxlength=20 value='<{strip}>
	  <{if isset($post[$key]) && $post[$key] }>
	    <{$post[$key]|escape:"html"}>
	  <{else}>
	    <{$item.default|escape:"html"}>
	  <{/if}>
<{/strip}>' <{if $form_type == 'update' && $item.updatable == 0}>disabled<{/if}>> <small><{$datetime_input_hint}></small>
     <{elseif $item.type eq 'relation'}>
          <select name="<{$item.org_name}>" <{if $form_type == 'update' && $item.updatable == 0}>disabled<{/if}>>
	      <{foreach from=$item.rel_data key=jj item=j}>
	          <option value="<{$jj}>" <{strip}>
		  <{if $form_type == 'update'  }>
		  <{if (isset($post[$item.org_name])) && $post[$item.org_name] == $jj}>
		  selected
		  <{/if}>
		  <{elseif $item.default == $jj}>
		  selected
		  <{/if}>
		  <{/strip}>><{$j}>
	      <{/foreach}>
	  </select>
      <{/if}>
      </td>
      </tr>
    <{/if}>
  <{/foreach}>
  <tr>
      <td class="head"></td>
      <td class="head"><input type="submit"> <{$not_null}></td>
  </tr>
</table>
</form>
