<{if $no_data == 1 }>
<{$md_no_data}>
<{else}>

<table width='100%' class='outer' cellspacing='1'>
    <{foreach from=$map->column_map key=k item=i}>
    <{if $i.type == 'user_id' }>
      <{* skip user_id *}>
    <{elseif $i.detailview == 0}>
      <{* skip *}>
    <{else}>
    <tr>
       <td class="even">
         <{$i.desc|escape:"html"}>
       </td>
       <td>
	  <{if $i.type == 'email' }>
	    <a href="mailto:<{$row[$k]}>"><{$row[$k]}></a>
	  <{elseif $i.type == 'epoctime' }>
	    <{if $row[$k] == 0 }>
              <!-- n/a -->
	    <{else}>
              <nobr><{$row[$k]|date_format:"%Y-%m-%d %H:%M:%S"}></nobr>
	    <{/if}>
	  <{elseif $i.type == 'url' }>
	    <a href="<{$row[$k]}>"><{$row[$k]}></a>
	  <{elseif $i.type == 'image' }>
	    <{$row[$k]}>
	  <{elseif $i.type == 'image_url' }>
	    <img src="<{$row[$k]}>">
	  <{elseif $i.type == 'file' }>
	    <{$row[$k]}>
	  <{elseif $i.type == 'radio' }>
	    <{if 0 < $row[$k] }>
	      <{foreach from=$i.enum key=kk item=ii }>
	        <{if ($kk + 1) == $row[$k] }>
	          <{$ii|escape:"html"}>
	        <{/if}>
	      <{/foreach}>
	    <{/if}>
	  <{elseif $i.type == 'select' }>
	    <{foreach from=$i.enum key=kk item=ii }>
	      <{if ($kk + 1) == $row[$k] }>
	        <{$ii}>
	      <{/if}>
	    <{/foreach}>
	  <{elseif $i.type == 'checkbox' }>
	    <{if $row[$k]}>
	      1
	    <{else}>
	      0
	    <{/if}>
	  <{elseif $i.type == 'textarea'}>
	    <{$row[$k]|escape:"html"|nl2br}>
	  <{elseif $i.type == 'htmltext'}>
	    <{$row[$k]}>
	  <{elseif $i.type == 'php_code'}>
	    <{$row[$k]}>
	  <{elseif $i.type == 'password_plain'}>
	    --------
	  <{else}>
	    <{$row[$k]|escape:"html"}>
	  <{/if}>
       </td>
    </tr>
    <{/if}>
    <{/foreach}>
</table>

<{/if}>

