#Xigg {
  height: 100%;
  margin: 0;
  padding: 0;
}
#Xigg * {
  margin: 0;
}

#Xigg img {
  border: 0;
  vertical-align: middle;
}
#Xigg code {
  margin: 5px 0;
  padding: 10px;
  display: block;
  overflow: auto;
  font: 400 1em courier, monospace;
  line-height: 120%;
  white-space: pre;
  background-color: #f9f9f9;
  border: 1px dashed #999;
}
#Xigg acronym {
  cursor: help;
  border-bottom: 1px solid #777;
}
#Xigg dt {
  font-weight: bold;
  color: #FFB323;
}
#Xigg dd {
  margin-left: 0;
  padding-left: 10px;
}
#Xigg label {
  display: block;
  font-weight: bold;
}
#Xigg fieldset {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #999;
}
#Xigg input,
#Xigg textarea,
#Xigg select {
  padding: 2px;
  font: 400 1em verdana, sans-serif;
  color: #444;
  background-color: #efefef;
  border: 1px solid #999;
}
#Xigg input.button {
  padding: 2px 5px;
  font-size: 1.1em;
  color: #555;
  background-color: #eee;
  border: 1px solid #999;
}
#Xigg input:hover,
#Xigg textarea:hover,
#Xigg select:hover {
  color: #000;
  background-color: #ffe;
}
#Xigg input:focus,
#Xigg textarea:focus,
#Xigg select:focus {
  color: #000;
  background-color: #ffe;
  border: 1px solid #000;
}

#Xigg blockquote {
  margin: 3px 3px 3px 0;
  background-color: #f4f4ff;
  border: 1px dotted #bbf;
  border-left: 5px solid #bbf;
  padding: 0;
  padding-left: 10px;
}
#Xigg div.comment,
#Xigg div.trackback {
  clear: both;
  margin: 6px 0;
  padding: 0;
  background-color: #fff;
}
#Xigg div.exclamation {
  clear: both;
  margin: 5px 0;
  background: #fec url(../images/exclamation.gif) no-repeat 5px 50%;
  padding: 10px 0 10px 30px;
  border: 1px solid #fca;
}
#Xigg div.stop {
  clear: both;
  margin: 5px 0;
  background: #fee url(../images/stop.gif) no-repeat 5px 50%;
  padding: 10px 0 10px 30px;
  border: 1px solid #fbb;
}
#Xigg div.go {
  clear: both;
  margin: 5px 0;
  background: #efe url(../images/accept.gif) no-repeat 5px 50%;
  padding: 10px 0 10px 30px;
  border: 1px solid #bfb;
}

#Xigg ul.pages {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}
#Xigg ul.pages li {
  margin-left: 2px;
  display: inline;
  padding: 0;
  font-weight: bold;
}
#Xigg ul.pages li a {
  padding: 5px;
  margin: 0;
}
#Xigg ul.pages li.pagesSummary {
  display: none;
}
#Xigg ul.pages li.pagesCurrent {
  padding: 5px;
}

#Xigg .tagsCaption,
#Xigg .votesCaption,
#Xigg .commentsCaption,
#Xigg .nodeFormCaption,
#Xigg .trackbacksCaption {
  padding: 0;
  color: #F39F01;
  clear: both;
  border-bottom: 1px dotted #999;
  padding-bottom: 1px;
  margin-bottom: 2px;
}
#Xigg .trackbackLinkCaption,
#Xigg .commentFormCaption {
  font-size: 1.1em;
  color: #F17400;
  clear: both;
  margin: 0;
  padding-top: 5px;
}
#Xigg .commentReplyForm {
  margin: 0 10px;
}
#Xigg .commentBody,
#Xigg .trackbackBody {
  padding: 10px;
  border: 1px solid #999;
  border-bottom: none;
  margin-bottom: 0;
}
#Xigg .commentBody h3 {
  font-size: 1.2em;
}
#Xigg .commentPoster img {
  float: right;
  margin: 7px;
  margin-right: 10px;
  padding: 2px;
  border: 1px solid #ccc;
  background-color: #eee;
}
#Xigg .commentCtrl,
#Xigg .trackbackCtrl {
  clear: both;
  margin: 0;
  text-align: right;
  padding: 2px 5px;
  border: 1px solid #999;
  border-top: 1px dotted #999;
  background-color: #ffe;
}
#Xigg .commentFoot,
#Xigg .trackbackFoot {
  display: inline;
}
#Xigg .commentTitle,
#Xigg .trackbackTitle {
  background-color: #feb;
  border: 1px solid #999;
  padding: 2px 5px;
}
#Xigg .commentTitleText,
#Xigg .trackbackTitleText {
  font-weight: bold;
}
#Xigg .commentTitleToggle,
#Xigg .trackbackTitleToggle {
  float: right;
}
#Xigg .commentContent,
#Xigg .trackbackContent {
  clear: both;
}
#Xigg .commentContentFoot,
#Xigg .trackbackContentFoot {
  clear: both;
}
#Xigg .commentData,
#Xigg .trackbackData {
  border: 1px solid #999;
  border-top: none;
  border-bottom: none;
  background-color: #efefef;
  padding: 2px 5px;
}
#Xigg .commentData strong,
#Xigg .trackbackData strong {
  color: #F17400;
}
#Xigg .node {
  padding: 3px 2px;
  margin-bottom: 2em;
}
#Xigg .nodePreview {
  margin: 5px 0;
  border: 1px solid #999;
  background-color: #eee;
}
#Xigg .nodeContent {

}
#Xigg .nodeSource {
  clear: both;
  color: #F39F01;
  margin: 0;
  padding: 0;
  margin-bottom: -3px;
}
#Xigg .nodeSource a {
  text-decoration: none;
  color: #F39F01;
  padding-right: 13px;
}
#Xigg .nodeTitle {
  clear: both;
  font-size: 1.3em;
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
  border-bottom: 1px dotted #999;
}
#Xigg .nodeBody {

}
#Xigg .nodeBodyScreenshot {
  float: left;
  width: 120px;
  height: 120px;
  margin: 3px 10px 3px 0;
}
#Xigg .nodeInfo {
  margin: 0;
  line-height: 130%;
  padding: 2px;
}
#Xigg .nodeInfo strong {
  color: #F17400;
}
#Xigg .nodeInfoPoster img {
  float: left;
  margin-right: 5px;
  padding: 2px;
  border: 1px solid #ccc;
  background-color: #eee;
}
#Xigg .nodeInfoTags {
  background: transparent url(../images/tag_orange.gif) no-repeat;
  padding: 2px 0 2px 17px;
  line-height: 20px;
}
#Xigg .nodeLastUpdate,
#Xigg .commentLastUpdate {
  clear: both;
  color: #999;
  font-size: smaller;
}
#Xigg .nodeInnerLinks {
  clear: both;
  padding: 5px 0;
  float: right;
  height: 20px;
}
#Xigg .nodeTrackbackLink {
  padding: 5px 0;
}
#Xigg ul.voteUsers {
  clear: both;
  list-style: none;
}
#Xigg li.voteUser {
  list-style: none;
  width: 150px;
  float: left;
  padding-bottom: 0.1em;
}
#Xigg li.voteUser img {
  margin-right: 5px;
  vertical-align: text-bottom;
  padding: 2px;
  border: 1px solid #ccc;
  background-color: #eee;
}
#Xigg div.nodeVote {
  width: 55px;
  padding: 0;
  float: right;
  margin: 5px 0 5px 8px;
  text-align: center;
}
#Xigg div.nodeVoteCount {
  padding: 13px 0;
  background-color: #feb;
  font-size: 1.9em;
  color: #333;
  text-align: center;
  border: 1px solid #fb6;
}
#Xigg div.nodeVoteText {
  margin-top: 2px;
  border: 1px solid #fda;
  text-align: center;
  font-size: 0.8em;
  color: #aaa;
}
#Xigg div.nodeVoteText span {
  display: block;
  background-color: #ffe;
  padding: 2px 5px;
}
#Xigg div.nodeVoteText a {
  display: block;
  background-color: #ffe;
  padding: 2px 5px;
}
#Xigg .nodeVoteText a:hover {
  background-color: #ffc;
}
#Xigg div.nodeVoteError {
  font-size: 0.9em;
  color: #f00;
  font-weight: bold;
  line-height: 100%;
}
#Xigg .nodeCommentsLink {
  background: transparent url(../images/comment.gif) no-repeat;
  padding: 2px 0 2px 17px;
}
#Xigg .commentRepliesLink {
  background: transparent url(../images/reply.gif) no-repeat;
  padding: 2px 0 2px 18px;
}
#Xigg .nodeTrackbacksLink {
  background: transparent url(../images/trackback.gif) no-repeat;
  padding: 2px 0 2px 17px;
}
#Xigg .categoryTitle {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 0.2em;
  padding: 0;
  padding-left: 0.1em;
}
#Xigg .nodesBreadcrumb {
  font-size: 0.95em;
  padding: 0;
  margin: 0;
  padding-left: 0.1em;
}
#Xigg .commentsSort,
#Xigg .trackbacksSort,
#Xigg .votesSort {
  clear: both;
  background-color: #ffe;
  padding: 0 3px 2px 3px;
  font-size: 0.9em;
  font-weight: bold;
}
#Xigg .commentsSortNav,
#Xigg .trackbacksSortNav,
#Xigg .votesSortNav {
}
#Xigg .commentsSortToggle,
#Xigg .trackbacksSortToggle,
#Xigg .votesSortToggle {
  float: right;
}
#Xigg .nodesSearch {
  text-align: left;
  margin: 0;
  padding: 2px;
  padding-left: 5px;
  font-size: 85%;
  background-color: #ffe;
}
#Xigg .nodesSearch form {
  display: inline;
}
#Xigg .nodesFeed {
  float: right;
  padding-top: 5px;
  padding-right: 5px;
}
#Xigg table.nodesNav {
  width: 100%;
  clear: both;
  border-collapse: collapse;
  margin: 15px 2px 10px 2px;
}

#Xigg table.nodesNav td {
  font-size: 85%;
}

#Xigg table.nodesNavBottom {
  margin-top: 20px;
}
#Xigg td.nodesNavResults {
  text-align: left;
}
#Xigg td.nodesNavPages {
  text-align: center;
}
#Xigg td.nodesNavPages ul {
  text-align: center;
}
#Xigg td.nodesNavSort {
  text-align: right;
}
#Xigg .nodesHead {
  padding: 0;
  margin: 0;
  background-color: #fff;
}
#Xigg .nodesHead ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 1px;
border-bottom: 1px solid #fa6;
float:left;
}
#Xigg .nodesHead li {
  list-style: none;
  float: left;
  border: 1px solid #fa6;
  border-bottom: none;
  margin: 0;
  margin-left: 4px;
  font-weight: bold;
  padding: 0;
  margin-bottom: -1px;
}
#Xigg .nodesHead li.submit {
  float: right;
  margin-right: 4px;
}
#Xigg .nodesHead li a {
  padding: 1px 1.2em;
  background-color: #feb;
  font-size: 90%;
  /*display: block;*/
  float: left;
  text-decoration: none;
}
#Xigg .nodesHead li a:hover {
  background-color: #ffc;
}
#Xigg .nodesHead li.active {
  color: #000;
  padding: 1px 1.2em;
  background-color: #ffe;
  font-weight: bold;
  border-bottom: 1px solid #ffe;
  font-size: 90%;
}
#Xigg .nodesSortCurrent {
  font-weight: bold;
}
#Xigg .nodesSelectCategory {
  float: right;
  margin-right: 5px;
  font-size: 0.9em;
}
#Xigg .nodeVotes {
  margin-bottom: 10px;
}
#Xigg .toggleButton {
  font-size: 12px;
  font-weight: normal;
}
#Xigg .toggleButton a {
  text-decoration: none;
}
#Xigg .tagCloud a {
  text-decoration: none;
  padding: 2px;
}
/*For Text_Wiki toc*/
#Xigg .tocList
{
  width: 40%;
  border: 1px solid #999;
  background-color: #eee;
  padding: 0.8em 2em;
}
#Xigg .tocList strong
{
  margin-left: -1.3em;
}
#Xigg .tocItem
{
  background: transparent url(../images/bullet_black.gif) no-repeat top left;
  padding-left: 18px;
}

/*tabber*/
/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
#Xigg .tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
#Xigg .tabber {
}
#Xigg .tabberlive {
 margin-top: 1em;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
#Xigg ul.tabbernav
{
 width: 100%;
 float: left;
 margin:0;
 padding: 0;
 border-bottom: 1px solid #fb6;
 font-weight: bold;
}

#Xigg ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
 padding: 0;
 float: left;
}

#Xigg ul.tabbernav li a
{
 float: left;
 display: block;
 margin: 0;
 padding: 0.2em 0.5em;
 margin-left: 4px;
 margin-bottom: -1px;
 border: 1px solid #fb6;
 border-bottom: none;
 background-color: #feb;
 font-size: 0.9em;
}

#Xigg ul.tabbernav li a:hover
{
 background-color: #ffc;
}

#Xigg ul.tabbernav li.tabberactive a
{
 border-bottom: none;
 color: #000;
 background-color: #ffe;
 border-bottom: 1px solid #ffe;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
#Xigg .tabberlive .tabbertab {
 padding: 0;
}

#Xigg .tabberlive .tabbertab .commentsCaption,
#Xigg .tabberlive .tabbertab .trackbacksCaption,
#Xigg .tabberlive .tabbertab .votesCaption
{
 display:none;
}

#Xigg .xiggLink {
  padding: 10px;
  float: right;
  fond-size: 0.9em;
}

#Xigg .clearfix:after {
 content: ".";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;
}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */
