/* Treemenu Block */
td#mainmenu a.hereblock { display:block; }
td#mainmenu a.menu0 { padding-left:   4px; }
td#mainmenu a.menu1 { padding-left:  16px; }
td#mainmenu a.menu2 { padding-left:  28px; }
td#mainmenu a.menu3 { padding-left:  40px; }
td#mainmenu a.menu4 { padding-left:  52px; }
td#mainmenu a.menu5 { padding-left:  64px; }
td#mainmenu a.menu6 { padding-left:  76px; }
td#mainmenu a.menu7 { padding-left:  88px; }
td#mainmenu a.menu8 { padding-left: 100px; }
td#mainmenu a.menu9 { padding-left: 112px; }
td#mainmenu a.menu10{ padding-left: 124px; }

td#mainmenu a.hereblock { background-color: #ffeeff; }
td#mainmenu a.here  { background-color: #ffddff; }


/* Sitemap Block */
.<{$mydirname}>_sm_block { margin:0; padding:2px ; }

.<{$mydirname}>_sm_block div.tm0 { margin-left:37px;  text-indent:-37px; }
.<{$mydirname}>_sm_block div.tm1 { margin-left:33px;  text-indent:-25px; }
.<{$mydirname}>_sm_block div.tm2 { margin-left:41px;  text-indent:-25px; }
.<{$mydirname}>_sm_block div.tm3 { margin-left:49px;  text-indent:-25px; }
.<{$mydirname}>_sm_block div.tm4 { margin-left:57px;  text-indent:-25px; }
.<{$mydirname}>_sm_block div.tm5 { margin-left:65px;  text-indent:-25px; }
.<{$mydirname}>_sm_block div.tm6 { margin-left:73px;  text-indent:-25px; }
.<{$mydirname}>_sm_block div.tm7 { margin-left:81px;  text-indent:-25px; }
.<{$mydirname}>_sm_block div.tm8 { margin-left:89px;  text-indent:-25px; }
.<{$mydirname}>_sm_block div.tm9 { margin-left:97px;  text-indent:-25px; }
.<{$mydirname}>_sm_block div.tm10{ margin-left:105px; text-indent:-25px; }

#<{$mydirname}>_sitemap .hereblock { background-color: #ffeeff; }
#<{$mydirname}>_sitemap .here  { background-color: #ffddff; }
#<{$mydirname}>_sitemap a  { font-weight:normal; }

