@charset "UTF-8";


.main{width:70em;}
.dl20{ background-color:#F25C5C ;}
.dl30{background-color:#EDD5A6; }
.dl40{ background-color:#EBBB6E;}
.dl50{ background-color:#C6FFA1 ;}
.dl60{ background-color:#ABD1AF ;}
.dl70{ background-color:#62959C; } 
h3,a {padding-left:0.3em;}