<dl>
  <dt><{$smarty.const._MD_BIZPOLL_LANG_CHOICE_ID}></dt>
  <dd><{$object->getShow('choice_id')}></dd>
  <dt><{$smarty.const._MD_BIZPOLL_LANG_TITLE}></dt>
  <dd><{$object->getShow('title')}></dd>
  <dt><{$smarty.const._MD_BIZPOLL_LANG_ENQ_ID}></dt>
  <dd><{$object->getShow('enq_id')}></dd>
  <dt><{$smarty.const._MD_BIZPOLL_LANG_UID}></dt>
  <dd><{$object->getShow('uid')}></dd>
  <dt><{$smarty.const._MD_BIZPOLL_LANG_WEIGHT}></dt>
  <dd><{$object->getShow('weight')}></dd>
  <dt><{$smarty.const._MD_BIZPOLL_LANG_DESCRIPTION}></dt>
  <dd><{$object->getShow('description')}></dd>
</dl>
