<h3><{$smarty.const._MD_BIZPOLL_LANG_POLL_DELETE}></h3>

<div class="confirm"><{$smarty.const._MD_BIZPOLL_MESSAGE_CONFIRM_DELETE}></div>

<form action="./index.php?action=PollDelete" method="post">
  <table class="outer">
    <tbody>
      <tr>
        <th class="head"><{$smarty.const._MD_BIZPOLL_LANG_POLL_ID}></th>
        <td class="<{cycle values="odd,even"}>"><{$object->getShow('poll_id')}></td>
      </tr>
      <tr>
        <th class="head"><{$smarty.const._MD_BIZPOLL_LANG_ENQ_ID}></th>
        <td class="<{cycle values="odd,even"}>"><{$object->getShow('enq_id')}></td>
      </tr>
      <tr>
        <th class="head"><{$smarty.const._MD_BIZPOLL_LANG_UID}></th>
        <td class="<{cycle values="odd,even"}>"><{$object->getShow('uid')}></td>
      </tr>
      <tr>
        <th class="head"><{$smarty.const._MD_BIZPOLL_LANG_NAME}></th>
        <td class="<{cycle values="odd,even"}>"><{$object->getShow('name')}></td>
      </tr>
      <tr>
        <th class="head"><{$smarty.const._MD_BIZPOLL_LANG_CHOICE_ID}></th>
        <td class="<{cycle values="odd,even"}>"><{$object->getShow('choice_id')}></td>
      </tr>
      <tr>
        <th class="head"><{$smarty.const._MD_BIZPOLL_LANG_IP}></th>
        <td class="<{cycle values="odd,even"}>"><{$object->getShow('ip')}></td>
      </tr>
      <tr>
        <th class="head"><{$smarty.const._MD_BIZPOLL_LANG_COMMENT}></th>
        <td class="<{cycle values="odd,even"}>"><{$object->getShow('comment')}></td>
      </tr>
      <tr>
        <th class="head"><{$smarty.const._MD_BIZPOLL_LANG_REG_UNIXTIME}></th>
        <td class="<{cycle values="odd,even"}>"><{$object->get('reg_unixtime')|xoops_formattimestamp:l}></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td class="foot" colspan="2">
          <{xoops_token form=$actionForm}>
          <{xoops_input type=hidden name=poll_id value=$actionForm->get('poll_id')}>
          <input type="submit" class="formButton" value="<{$smarty.const._DELETE}>"/>
          <input type="submit" class="formButton" value="<{$smarty.const._CANCEL}>" name="_form_control_cancel"/>
        </td>
      </tr>
    </tfoot>
  </table>
</form>
