<div class="bizpoll">
<h1><{$enq->getShow('title')}></h1>

<div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
<hr />
<dl>
<{foreach item=obj from=$objects}>
  <dt>
  	<strong>
  	<{foreach item=choice name=choice from=$obj->mChoice}>
  		<{$choice->getShow('title')}><{if ! $smarty.foreach.choice.last}>, <{/if}>
  	<{/foreach}>
  	</strong> &nbsp; 
    (by <{if $obj->get('uid')>0}><{$obj->getShow('uid')|xoops_user:"uname"}>
    <{else}><{$obj->getShow('name')}>
    <{/if}>, 
  	<{$obj->get('reg_unixtime')|xoops_formattimestamp:l}>)
  </dt>
  <dd><{$obj->getShow('comment')}></dd>
<{/foreach}>
</dl>
<hr />
<div class="pagenavi"><{xoops_pagenavi pagenavi=$pageNavi}></div>
</div>
