<h2><font color="#FF0000"><b><{$smarty.const._MD_D3DOWNLOADS_HISTORY}></b></font> : <{$history.title}></h2>
<table class="outer">
	<tr valign="top" align="left">
		<td class="head">
			<label for="title"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_TITLE}></label>
		</td>
		<td class="even">
			<{$history.title}>
		</td>
	</tr>
	<tr valign="top" align="left">
		<td class="head">
			<label for="title"><{$smarty.const._MD_D3DOWNLOADS_DATE}></label>
		</td>
		<td class="even">
			<{$history.date}>
		</td>
	</tr>
	<tr valign="top" align="left">
		<td class="head"><label for="url"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_URL}></label></td>
		<td class="even">
			<{$history.filelink}>
		</td>
	</tr>
	<{if $history.filename}>
		<tr valign="top" align="left">
			<td class="head"><label for="filename"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_FILENAME}></label></td>
			<td class="even">
				<{$history.filename}><br>
			</td>
		</tr>
	<{/if}>
	<tr valign="top" align="left">
		<td class="head"><label for="cid"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_CATEGORY}></label></td>
		<td class="even">
			<{$history.ctitle}>
		</td>
	</tr>
	<tr valign="top" align="left">
		<td class="head"><label for="description"><{$smarty.const._MD_D3DOWNLOADS_SUBMIT_DESCRIPTION}></label></th>
		<td class="even">
			<{$history.description}>
		</td>
	</tr>
</table>
<br />
<b><{$smarty.const._MD_D3DOWNLOADS_HISTORYLIST}></b><br />
<{foreach from=$historylist item="historylist"}>
<{$historylist.history_date}> : <{$historylist.history_title}> <a href="<{$mod_url}>/admin/index.php?page=history&amp;id=<{$historylist.history_id}>"><{$smarty.const._MD_D3DOWNLOADS_VIEWHISTORY}></a><br />
<{/foreach}>
<br />
<b><{$smarty.const._MD_D3DOWNLOADS_NOWDATALIST}></b>
<br />
<table width='100%' cellspacing='0' class='outer'>
	<tr>
		<td class="head" colspan='2' align='left' height="18">
			<{$smarty.const._MD_D3DOWNLOADS_CATEGORY}> <{$down.category}>
		</td>
	</tr>
	<tr>
		<td class='even' width='65%' style='text-align:left;vertical-align:top;'>
			<{if ! $down.broken_link}>
				<{$down.filelink}><b><{$down.title}></b><br />
			<{else}>
				<b><{$down.title}></b>&nbsp;(&nbsp;<font color="#FF0000"><b>broken file !!</b></font>&nbsp;)<br /><{$down.url}>
			<{/if}>
		</td>
		<td class='even' style='text-align:right;vertical-align:bottom;' width='35%'>
		<b><{$smarty.const._MD_D3DOWNLOADS_VERSION}>:</b>&nbsp;<{$down.version}><br /><b><{$smarty.const._MD_D3DOWNLOADS_DATE}>:</b>&nbsp;&nbsp;<{$down.updated}>
		</td>
	</tr>
	<tr>
		<td colspan='2' class='odd' align='left'>
			<b><{$smarty.const._MD_D3DOWNLOADS_DESCRIPTION}></b>
		    	<br />
			<{if $down.shots && ! $down.broken_link}>
				<{$down.shots}>
			<{/if}>
			<{$down.description}>
			<br />
		</td>
	</tr>
	<tr>
		<td colspan='2' class='even' align='left'>
			<{$smarty.const._MD_D3DOWNLOADS_SIZE}>&nbsp;<{$down.size}><{$smarty.const._MD_D3DOWNLOADS_KB}><br />
			<{$smarty.const._MD_D3DOWNLOADS_PLATFORM}>&nbsp;<{$down.platform}><br />
			<{$smarty.const._MD_D3DOWNLOADS_HOMEPAGE}>&nbsp;<a href="<{$down.homepage}>" target="_blank"><{$down.homepage}></a>
		</td>
	</tr>
</table>
