<form name="approvalmanager" id="approvalmanager" action="<{$mod_url}>/admin/index.php?page=<{$page}>" method="post">
<{$gticket_hidden}>
<h3><{$smarty.const._MD_D3DOWNLOADS_H2APROVALLIST}> ( <{$unaproval_sum}> )</h3>
<hr />
<table class="outer">
	<tr>
		<th style="text-align:center;">
			<{$smarty.const._MD_D3DOWNLOADS_TH_ID}>
		</th>
		<th style="text-align:center;">
			<{$smarty.const._MD_D3DOWNLOADS_TH_TITLE}>
		</th>
		<th style="text-align:center;">
			<{$smarty.const._MD_D3DOWNLOADS_TH_CATEGORY}>
		</th>
		<th style="text-align:center;">
			<{$smarty.const._MD_D3DOWNLOADS_TH_CONTENTSACTIONS}>
			<input type="checkbox" onclick="with(document.approvalmanager){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].id.indexOf('col_action_')>=0){elements[i].checked=this.checked;}}}">
		</th>
	</tr>
	<{foreach from=$unapproval item="unapproval"}>
		<tr class="<{cycle values="even,odd"}>">
			<td style="text-align:center;">
				<{$unapproval.requestid}>
			</td>
			<td nowrap="nowrap">
				<{$unapproval.title}>
			</td>
			<td nowrap="nowrap">
				<{$unapproval.ctitle}>
			</td>
			<td nowrap="nowrap" style="text-align:center;">
				<a href="<{$mod_url}>/admin/index.php?page=approval&amp;requestid=<{$unapproval.requestid}>"><{$smarty.const._MD_D3DOWNLOADS_APPROVAL}></a> |
				<input type="checkbox" name="action_selects[<{$unapproval.requestid}>]" id="col_action_<{$unapproval.requestid}>" value="1" /><br />
				<{if $unapproval.user_url}>
					<a href="<{$unapproval.user_url}>" target="_blank"><{$unapproval.postname}></a><br />
				<{else}>
					<{$unapproval.postname}><br />
				<{/if}>
				<{$unapproval.date}>
			</td>
		</tr>
	<{/foreach}>
	<tr>
		<th colspan="11" style="text-align:right;">
			<{$smarty.const._MD_D3DOWNLOADS_LABEL_FILECHECKED}>
			<input type="submit" name="unapproval_delete" value="<{$smarty.const._MD_D3DOWNLOADS_BTN_DELETE}>" onclick="return confirm('<{$smarty.const._MD_D3DOWNLOADS_CONFIRM_DELETE}>');" />
		</th>
	</tr>
</table>
</form>
<br />
<form name="modfilemanager" id="modfilemanager" action="<{$mod_url}>/admin/index.php?page=<{$page}>" method="post">
<{$gticket_hidden}>
<h2><{$smarty.const._MD_D3DOWNLOADS_H2MODFILELIST}> ( <{$modfile_sum}> )</h2>
<table class="outer">
	<tr>
		<th style="text-align:center;">
			<{$smarty.const._MD_D3DOWNLOADS_TH_ID}>
		</th>
		<th style="text-align:center;">
			<{$smarty.const._MD_D3DOWNLOADS_TH_TITLE}>
		</th>
		<th style="text-align:center;">
			<{$smarty.const._MD_D3DOWNLOADS_TH_CATEGORY}>
		</th>
		<th style="text-align:center;">
			<{$smarty.const._MD_D3DOWNLOADS_TH_CONTENTSACTIONS}>
			<input type="checkbox" onclick="with(document.modfilemanager){for(i=0;i<length;i++){if(elements[i].type=='checkbox'&&elements[i].id.indexOf('col_action_')>=0){elements[i].checked=this.checked;}}}">
		</th>
	</tr>
	<{foreach from=$modfile item="modfile"}>
		<tr class="<{cycle values="even,odd"}>">
			<td style="text-align:center;">
				<{$modfile.requestid}>
			</td>
			<td nowrap="nowrap">
				<{$modfile.title}>
			</td>
			<td nowrap="nowrap">
				<{$modfile.ctitle}>
			</td>
			<td nowrap="nowrap" style="text-align:center;">
				<a href="<{$mod_url}>/admin/index.php?page=approval&amp;requestid=<{$modfile.requestid}>"><{$smarty.const._MD_D3DOWNLOADS_APPROVAL}></a> |
				<input type="checkbox" name="modfile_selects[<{$modfile.requestid}>]" id="col_action_<{$modfile.requestid}>" value="1" /><br />
				<{if $modfile.user_url}>
					<a href="<{$modfile.user_url}>" target="_blank"><{$modfile.postname}></a><br />
				<{else}>
					<{$modfile.postname}><br />
				<{/if}>
				<{$modfile.date}>
			</td>
		</tr>
	<{/foreach}>
	<tr>
		<th colspan="11" class="foot" style="text-align:right;">
			<{$smarty.const._MD_D3DOWNLOADS_LABEL_FILECHECKED}>
			<input type="submit" name="modfile_delete" value="<{$smarty.const._MD_D3DOWNLOADS_BTN_DELETE}>" onclick="return confirm('<{$smarty.const._MD_D3DOWNLOADS_CONFIRM_DELETE}>');" />
		</th>
	</tr>
</table>
</form>