<table width="100%" cellspacing="0">
	<tr>
		<td class="d3downloads_head" colspan="2" align="left" height="18">
			<{$block.lang_ctitle}> <{$block.download.category}>
		</td>
	</tr>
	<tr>
		<td class="d3downloads_single_frame_title" width="80%">
			<{if ! $block.download.broken_link}>
				<{$block.download.filelink}><b><{$block.download.title}></b></a><{$block.download.new}><{$block.download.pop}><br />
				<{if $block.download.gif_image !="download.png"}>
					<{$block.download.filelink}><img src="<{$block.mod_url}>/images/<{$block.download.gif_image}>" width="110" height="18"></a>
				<{else}>
					<{$block.download.filelink}><img src="<{$block.mod_url}>/images/<{$block.download.gif_image}>" width="19" height="19"></a>
				<{/if}>
			<{else}>
				<b><{$block.download.title}></b>
			<{/if}>
		</td>
		<td class="d3downloads_single_frame_version" width="20%">
			<b><{$block.lang_version}>:</b>&nbsp;<{$block.download.version}><br /><b><{$block.lang_updated}>:</b>&nbsp;&nbsp;<{$block.download.updated}>
		</td>
	</tr>
	<tr>
		<td colspan="2" class="d3downloads_odd" align="left">
    			<b><{$block.lang_description}></b>
		    	<br />
			<div class="d3downloads_single_frame_description">
				<{if $block.canuseshots &&  ! $block.download.broken_link}>
					<{$block.download.shots}>
				<{/if}>
				<{$block.download.description}>
			</div>
			<br />
		</td>
	</tr>
	<tr>
		<td colspan="2" class="d3downloads_even" align="left">
			<img src="<{$block.mod_url}>/images/counter.png" border="0" align="absmiddle" alt="<{$block.lang_hits}>" title="<{$block.lang_hits}>" />
			&nbsp;<{$block.download.hits}>&nbsp;&nbsp;<img src="<{$block.mod_url}>/images/size.png" border="0" align="absmiddle" alt="<{$block.lang_size}>" title="<{$block.lang_size}>" />&nbsp;<{$block.download.size}>&nbsp;&nbsp;<img src="<{$block.mod_url}>/images/platform.png" border="0" align="absmiddle" alt="<{$block.lang_platform}>" title="<{$block.lang_platform}>" />&nbsp;<{$block.download.platform}>&nbsp;&nbsp;<img src="<{$block.mod_url}>/images/home.png" border="0" align="absmiddle" alt="<{$block.lang_homepage}>" title="<{$block.lang_homepage}>"/>&nbsp;<a href="<{$block.download.homepage}>" target="_blank"><{$block.download.homepage}></a>
		</td>
	</tr>
</table>