<div align="right">
	<{if $select_id}>
		<a href="<{$mod_url}>/rss.php?cid=<{$select_id}>">[RSS]</a>&nbsp;
		<a href="<{$mod_url}>/index.php?page=atom&amp;cid=<{$select_id}>">[ATOM]</a>
		<!-- Correction when RDF is necessity -->
		<{* &nbsp;<a href="<{$mod_url}>/index.php?page=rdf&amp;cid=<{$select_id}>">[RDF]</a> *}>
	<{else}>
		<a href="<{$mod_url}>/rss.php">[RSS]</a>&nbsp;
		<a href="<{$mod_url}>/index.php?page=atom">[ATOM]</a>
		<!-- Correction when RDF is necessity -->
		<{* &nbsp;<a href="<{$mod_url}>/index.php?page=rdf">[RDF]</a> *}>
	<{/if}>
</div>
<table width="100%" border="0" cellspacing="5" cellpadding="0" align="center">
	<tr>
		<{foreach from=$subcategories item=cat key=count}>
			<td valign="top" align="right">
				<{if $cat.imgurl != ""}>
					<a href="<{$mod_url}>/index.php?cid=<{$cat.cid}>">
					<img src="<{$cat.imgurl}>" width="70" border="0" alt="<{$cat.title}>" title="<{$cat.title}>" /></a>
				<{else}>
					<a href="<{$mod_url}>/index.php?cid=<{$cat.cid}>">
					<img src="<{$mod_url}>/images/folder.png" alt="<{$cat.title}>" title="<{$cat.title}>" /></a>
				<{/if}>
			</td>
			<td valign="top" align="left" width="33%">
				<a href="<{$mod_url}>/index.php?cid=<{$cat.cid}>"><span style="font:bold 150%;"><{$cat.title}></span></a>
				<!-- Correction when CAT+SUBCAT TOTAL is necessity -->
				<{* &nbsp;<{$smarty.const._MD_D3DOWNLOADS_BCAT_TOTAL}><{$cat.bcat_total}> *}>
				&nbsp;(<{$cat.subcat_total}>)&nbsp;
				<a href="<{$mod_url}>/rss.php?cid=<{$cat.cid}>">[RSS]</a>
				<!-- Correction when ATOM for cat is necessity -->
				<{* &nbsp;<a href="<{$mod_url}>/index.php?page=atom&amp;cid=<{$cat.cid}>">[ATOM]</a> *}>
				<!-- Correction when RDF for cat is necessity -->
				<{* &nbsp;<a href="<{$mod_url}>/index.php?page=rdf&amp;cid=<{$cat.cid}>">[RDF]</a> *}>
				<br />
				<{foreach from=$cat.subcategories item=subcat}>
					<{if $subcat.number_of_subcat}>
						<a href="<{$mod_url}>/index.php?cid=<{$subcat.cid}>"><img src="<{$mod_url}>/images/folder.png" alt="" /><{$subcat.title}><img src="<{$mod_url}>/images/subcat.png" width="15" height="15" /></a>&nbsp;<a href="<{$mod_url}>/rss.php?cid=<{$subcat.cid}>">[RSS]</a>
						<!-- Correction when ATOM for cat is necessity -->
						<{* &nbsp;<a href="<{$mod_url}>/index.php?page=atom&amp;cid=<{$subcat.cid}>">[ATOM]</a> *}>
						<!-- Correction when RDF for cat is necessity -->
						<{* &nbsp;<a href="<{$mod_url}>/index.php?page=rdf&amp;cid=<{$subcat.cid}>">[RDF]</a> *}>
						<br />
					<{else}>
						<a href="<{$mod_url}>/index.php?cid=<{$subcat.cid}>"><img src="<{$mod_url}>/images/subcat.png" width="15" height="15" alt="" /><{$subcat.title}></a>&nbsp;(<{$subcat.subcat_total}>)&nbsp;<a href="<{$mod_url}>/rss.php?cid=<{$subcat.cid}>">[RSS]</a>
						<!-- Correction when ATOM for cat is necessity -->
						<{* &nbsp;<a href="<{$mod_url}>/index.php?page=atom&amp;cid=<{$subcat.cid}>">[ATOM]</a> *}>
						<!-- Correction when RDF for cat is necessity -->
						<{* &nbsp;<a href="<{$mod_url}>/index.php?page=rdf&amp;cid=<{$subcat.cid}>">[RDF]</a> *}>
						<br />
					<{/if}>
				<{/foreach}>
			</td>
<{if ($count+1) is div by 3}>
	</tr>
	<tr>
<{/if}>
		<{/foreach}>
	</tr>
</table>