<table width="100%" cellspacing="0" class="d3downloads_outer">
	<tr>
		<td class="d3downloads_head" colspan="2" align="left" height="18">
			<{$smarty.const._MD_D3DOWNLOADS_CATEGORY}> <{$down.category}>
		</td>
	</tr>
	<tr>
		<td class="d3downloads_single_frame_title" width="80%">
			<{if ! $down.broken_link}>
				<{$down.filelink}><b><{$down.title}></b></a><{$down.new}><{$down.pop}><br />
				<{if $down.gif_image !="download.gif"}>
					<{$down.filelink}><img src="images/<{$down.gif_image}>" width="110" height="18"></a>
				<{else}>
					<{$down.filelink}><img src="images/<{$down.gif_image}>" width="19" height="19"></a>
				<{/if}>
			<{else}>
				<b><{$down.title}></b>
				<{if $xoops_isadmin}>
					&nbsp;(&nbsp;<font color="#FF0000"><b>broken file !!</b></font>&nbsp;)
				<{/if}>
			<{/if}>
		</td>
		<td class="d3downloads_single_frame_version" width="20%">
			<b><{$smarty.const._MD_D3DOWNLOADS_VERSION}>:</b>&nbsp;<{$down.version}><br /><b><{$smarty.const._MD_D3DOWNLOADS_DATE}>:</b>&nbsp;&nbsp;<{$down.updated}>
		</td>
	</tr>
	<tr>
		<td colspan="2" class="d3downloads_odd" align="left">
    			<b><{$smarty.const._MD_D3DOWNLOADS_DESCRIPTION}></b>
		    	<br />
			<div class="d3downloads_single_frame_description">
				<{if $canuseshots &&  ! $down.broken_link}>
					<{$down.shots}>
				<{/if}>
				<{$down.description}>
			</div>
			<br />
		</td>
	</tr>
	<tr>
		<td colspan="2" class="d3downloads_even" align="left">
			<img src="images/counter.gif" border="0" align="absmiddle" alt="<{$smarty.const._MD_D3DOWNLOADS_DOWNSUM}>" title="<{$smarty.const._MD_D3DOWNLOADS_DOWNSUM}>" />
			&nbsp;<{$down.hits}>&nbsp;&nbsp;<img src="images/size.gif" border="0" align="absmiddle" alt="<{$smarty.const._MD_D3DOWNLOADS_SIZE}>" title="<{$smarty.const._MD_D3DOWNLOADS_SIZE}>" />&nbsp;<{$down.size}>&nbsp;&nbsp;<img src="images/platform.gif" border="0" align="absmiddle" alt="<{$smarty.const._MD_D3DOWNLOADS_PLATFORM}>" title="<{$smarty.const._MD_D3DOWNLOADS_PLATFORM}>" />&nbsp;<{$down.platform}>&nbsp;&nbsp;<img src="images/home.gif" border="0" align="absmiddle" alt="<{$smarty.const._MD_D3DOWNLOADS_HOMEPAGE}>" title="<{$smarty.const._MD_D3DOWNLOADS_HOMEPAGE}>"/>&nbsp;<a href="<{$down.homepage}>" target="_blank"><{$down.homepage}></a>
		</td>
	</tr>
	<tr>
		<td colspan="2" class="d3downloads_foot" align="center">
			<div>
				<b><{$smarty.const._MD_D3DOWNLOADS_RATINGC}></b> <{$down.rating}> (<{$down.votes}>&nbsp;<{$smarty.const._MD_D3DOWNLOADS_VOTEC}>)
			</div>
			<a href="<{$mod_url}>/index.php?page=ratefile&amp;cid=<{$down.cid}>&amp;lid=<{$down.id}>"><{$smarty.const._MD_D3DOWNLOADS_RATE}></a> 
			<{if $down.canedit}>
				| <a href="<{$mod_url}>/index.php?page=modfile&amp;cid=<{$down.cid}>&amp;lid=<{$down.id}>"><{$smarty.const._MD_D3DOWNLOADS_MODIFY}></a> 
			<{/if}>| 
			<a href="<{$mod_url}>/index.php?page=brokenfile&amp;cid=<{$down.cid}>&amp;lid=<{$down.id}>"><{$smarty.const._MD_D3DOWNLOADS_REPORTBROKEN}></a> | <a target="_top" href="<{$down.mail_link}>"><{$smarty.const._MD_D3DOWNLOADS_TELLAFRIEND}></a> | <a href="<{$mod_url}>/index.php?page=singlefile&amp;cid=<{$down.cid}>&amp;lid=<{$down.id}>">
			<{if $down.d3comment && $down.cancomment}>
				<{$smarty.const._MD_D3DOWNLOADS_COMMENTS}> (<{$down.comments}>)
			<{elseif ! $down.singlelink}>
				<{$smarty.const._MD_D3DOWNLOADS_SHOWDETAIL}></a>
			<{/if}>
		</td>
	</tr>
</table>
<br />