/* ------------ for common ------------ */

.d3downloads_bold
{
	font-size: 100%; 
	font-weight: bold; 
}

/* ------------ for table ------------ */

.d3downloads_outer {
	border: 1px solid #EEE;
}

.d3downloads_head {
	padding: 5px;
	color: inherit;
	border-bottom: 1px solid #CACACA;
	background: #F2F2F2;
}
.d3downloads_even {
	padding: 2px;
	color: inherit;
	border-bottom: 1px solid #CACACA;
	background: #F7F7F7;
}
.d3downloads_odd {
	padding: 2px;
	color: inherit;
	border-bottom: 1px solid #CACACA;
	background: #FAFAFA;
}
.d3downloads_foot {
	padding: 5px;
	font-weight: bold;
}

tr.d3downloads_even td {
	padding: 2px;
	border-bottom: 1px solid #CACACA;
}

tr.d3downloads_odd td {
	padding: 2px;
	border-bottom: 1px solid #CACACA;
}

tr.d3downloads_even {
	color: inherit;
	background: #F7F7F7;
}

tr.d3downloads_odd {
	color: inherit;
	background: #FAFAFA;
}

tr.d3downloads_odd:hover, tr.even:hover {
	color: #000;
	border-bottom: 1px solid #CACACA;
	background: #DFDFDF;
}

td.d3downloads_admin_link
{
	padding: 2px;
	color: inherit;
	border-bottom: 1px solid #CACACA;
	background: #F7F7F7;
	text-align:right;
}

td.d3downloads_single_frame_title
{
	padding: 2px;
	color: inherit;
	border-bottom: 1px solid #CACACA;
	background: #F7F7F7;
	text-align:left;
	vertical-align:top;
	line-height: 190%;
}

td.d3downloads_single_frame_version
{
	padding: 2px;
	color: inherit;
	border-bottom: 1px solid #CACACA;
	background: #F7F7F7;
	text-align:right;
	vertical-align:bottom;
}

div.d3downloads_single_frame_description
{
	color: #000000;
	margin:  1px;
	padding: 3px;
	text-align: left;
}

div.d3downloads_single_frame_description
{
	color: #000000;
	margin:  1px;
	padding: 3px;
	text-align: left;
}

.d3downloads_single_frame_description a img {
	margin: 0 2px 3px 0;
	padding: 5px;
	border: 1px solid #CCC;
}

.d3downloads_link_single_frame_description img {
	margin: 0 2px 3px 0;
	padding: 5px;
}

/* ------------ for submitlink ------------ */

div.d3downloads_submitlink
{
	text-align: right;
}

/* ------------ for sortedby ------------ */

div.d3downloads_sortedby
{
	text-align: center;
}

/* ------------ for pagenav ------------ */

div.d3downloads_pagenav
{
	text-align: center;
}

/* ------------ for broken ------------ */

div.d3downloads_brokenlink_frame
{
	margin:  5px;
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #808080;
}

div.d3downloads_brokenlink_form
{
	margin:  0px;
	padding: 3px;
	text-align: center;
}

/* ------------ for ratelink ------------ */

div.d3downloads_ratelink_frame
{
	margin:  5px;
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #808080;
}

div.d3downloads_ratelink_form
{
	margin:  0px;
	padding: 3px;
	text-align: center;
}

/* ------------ for error_message ------------ */

div.d3downloads_error_message
{
	color: #FF0000;
	font-size: 100%; 
	font-weight: bold; 
	margin:  5px;
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #808080;
}


