<{if $mod_config.show_breadcrumbs}>
	<b><{$category_path}></b>
<br />
<{/if}>
<div class="d3downloads_ratelink_frame">
	<div align="center">
		<h4><{$down.title}></h4>
	</div>

	<ul>
		<li><{$lang_voteonce}>
		<li><{$lang_ratingscale}>
		<li><{$lang_beobjective}>
		<li><{$lang_donotvote}>
	</ul>

	<div class="d3downloads_ratelink_form">
		<form method="post" action="<{$mod_url}>/index.php?page=<{$page}>&amp;lid=<{$down.lid}>">
			<input type="hidden" name="lid" value="<{$down.lid}>" />
				<select name="rating">
					<option>--</option>
					<option>10</option>
					<option>9</option>
					<option>8</option>
					<option>7</option>
					<option>6</option>
					<option>5</option>
					<option>4</option>
					<option>3</option>
					<option>2</option>
					<option>1</option>
				</select>&nbsp;&nbsp;
			<input type="submit" name="submit" value="<{$lang_rateit}>" />
			<input type=button value="<{$lang_cancel}>" onclick="history.back();" />
		</form>
	</div>
</div>