.sTag{
	color:	#316AC5;
	cursor:	pointer;
}
.uTag{
	color:	#999999;
	cursor: pointer;
	text-decoration: underline;
}
.tagList{
	color:	#316AC5;
	font-size:	90%;
}

.tagCloudColumn{
	float:	right;
	border:	1px solid #999999;
	width:	220px;
	padding:	5px 10px 10px 10px;
	margin: 3px;
	background-color: #ffffff;
	line-height: 2em;
}

.bookmarklist{
	float: left;
}
.bookmarkList li{
	border-bottom: 1px dashed #999999;
	padding:	10px;
	list-style-type: none;
	margin: 3px 5px;
}

.toptab{
}
.toptab li{
	margin-bottom:	10px;
	margin-left:	0px;
	float:	left;
	margin-right:	15px;
	padding-left: 20px;
	background:	url(images/menu_listmark.gif);
	background-repeat:	no-repeat;
	list-style-position:	inside;
	list-style-type:	none;
}
.clear{
	clear:	both;
}
