<{if $perm}>
<table width="100%">
    <tr>
        <td width="50%" align="center">
            <form action="update.php" method="post">
                <input type="hidden" name="id" value="<{$item_defs.id.value}>" />
                <input type="submit" value="<{$_UPDATE}>" />
            </form>
        </td>
        <td width="50%" align="center">
            <form action="delete.php" method="post">
                <input type="hidden" name="id" value="<{$item_defs.id.value}>" />
                <input type="submit" value="<{$_DELETE}>" />
            </form>
        </td>
    </tr>
</table>
<br />
<{/if}>

<table class="outer" cellpadding="1" cellspacing="1" border="0">
    <tr>
        <th colspan="2" align="center"><{$_DETAIL}></th>
    </tr>
    <tr>
        <td class="head" nowrap="nowrap"><{$_UNAME}></td>
        <td class="<{cycle values="odd,even"}>">
            <{if $item_defs.add_uid.value > 0}>
            <a href="<{$xoops_url}>/userinfo.php?uid=<{$item_defs.add_uid.value}>"><{$item_defs.uname.value}></a>
            <{else}>
            <{$smarty.const._GUESTS}>
            <{/if}>
        </td>
    </tr>
    <tr>
        <td class="head" nowrap="nowrap"><{$_ADD_DATE}></td>
        <td class="<{cycle values="odd,even"}>"><{$item_defs.add_date.value}></td>
    </tr>
    <{foreach from=$item_defs item="item" key="item_name"}>
    <{if $item.detail}>
    <tr>
        <td class="head" nowrap="nowrap">
            <{$item.caption}>
            <{if $item.show_desc !== ''}><br /><span style="font-weight: normal; font-size: 80%;"><{$item.show_desc}></span><{/if}>
        </td>
        <td class="<{cycle values="odd,even"}>">
            <{if $item.type == 'image'}>
            <{if $item.value != ''}>
            <a href="<{$item.value}>" target="_blank"><img src="<{$item.value}>" alt="<{$item.caption}>" width="<{$cfg_detail_image_width}>px" /></a>
            <{/if}>
            <{elseif $item.type == 'file'}>
            <{if $item.value != ''}>
            <a href="<{$item.value}>" target="_blank"><{$_FILE}></a>
            <{/if}>
            <{else}>
            <{$item.value}>
            <{/if}>
        </td>
    </tr>
    <{/if}>
    <{/foreach}>
</table>

<{include file='db:system_notification_select.html'}>

<br />
<{$commentsnav}>
<center><{$lang_notice}></center>
<{if $comment_mode == "flat"}>
    <{include file="db:system_comments_flat.html"}>
<{elseif $comment_mode == "thread"}>
    <{include file="db:system_comments_thread.html"}>
<{elseif $comment_mode == "nest"}>
    <{include file="db:system_comments_nest.html"}>
<{/if}>
