.trashcan_nw {
	width: 16px;
	height: 36px;
	background: transparent url(trashcan/top_left.gif) no-repeat 0 0;		
}

.trashcan_n {
	height: 36px;
	background: transparent url(trashcan/top_mid.gif) repeat-x 0 0;	
	width: 100%;
}

.trashcan_ne {
	width: 12px;
	height: 36px;
	background: transparent url(trashcan/top_right.gif) no-repeat 0 0;		
}

.trashcan_e {
	height: 100%;
	width: 4px;
	background: transparent url(trashcan/center_right.gif) repeat-y 0 0;	
}

.trashcan_w {
	height: 100%;
	width: 7px;
	background: transparent url(trashcan/center_left.gif) repeat-y 0 0;		
}

.trashcan_sw {
	width: 16px;
	height: 24px;
	background: transparent url(trashcan/bottom_left.gif) no-repeat 0 0;			
}

.trashcan_s {
	height: 24px;
	background: transparent url(trashcan/bottom_mid.gif) repeat-x 0 0;	
	width: 100%;
}

.trashcan_se {
	width: 12px;
	height: 24px;
	background: transparent url(trashcan/bottom_right.gif) no-repeat 0 0;			
}

.trashcan_sizer {
	width: 12px;
	height: 24px;
	background: transparent url(trashcan/sizer.gif) no-repeat 0 0;	
	cursor:se-resize;	
}

.trashcan_close {
	width: 19px;
	height: 19px;
	background: transparent url(trashcan/close.gif) repeat-x 0 0;			
	position:absolute;
	top:10px;
	right:0px;
	cursor:pointer;
	z-index:1000;
}

.trashcan_title {
	float:left;
	height:14px;
	font-size:16px;
	text-align:center;
	width:100%;
	color:#FFF;
}

.trashcan_content {
	overflow:auto;
	font-size: 10px;
	background:#979BA1;
}

