<h3><{$mod_name}></h3>
<hr />

<h4><{$smarty.const._MD_A_PICO_H2_IMPORTFROM}></h4>
<div class="tips">
	<{$smarty.const._MD_A_PICO_HELP_IMPORTFROM}>
</div>
<form name="importfrom" action="<{$mod_url}>/admin/index.php?page=import" method="post">
	<{$gticket_hidden}>
<p>	
<label for="import_mid"><{$smarty.const._MD_A_PICO_LABEL_SELECTMODULE}></label>
<br />
<p><select name="import_mid" id="import_mid"><{html_options options=$import_from_options}></select>
	<input type="submit" name="do_import" value="<{$smarty.const._MD_A_PICO_BTN_DOIMPORT}>" onclick="return confirm('<{$smarty.const._MD_A_PICO_CONFIRM_DOIMPORT}>')" />
</p>
<br />

</form>
<hr />
<h4><{$smarty.const._MD_A_PICO_H2_SYNCALL}></h4>
    <div class="tips">
    <{$smarty.const._MD_A_PICO_HELP_SYNCALL}>
    </div>
<form name="syncall" action="<{$mod_url}>/admin/index.php?page=import" method="post">
	<{$gticket_hidden}>
	<p>
    <input type="submit" name="do_syncall" value="<{$smarty.const._MD_A_PICO_BTN_DOSYNCALL}>" />
	<br />
	</p>
    <br />

</form>

