/*----- d3blog common -----*/
/* for d3blog text sanitizer */
.blogleft { float:left; margin:0 5px 5px 0; padding:0; }
.blogright { float:right; margin:0 0 5px 5px; padding:0; }
.blogcenter { display:block; text-align:center; margin:0 5px 5px; padding:0; }  /* TO DO */
.blogQuote {
    display: block;
    margin: 1em 0 1em 2em;
    border-left: 3px solid #000;
    padding-left: 1em;
    font-size: 1.1em;
}
.blogCode {
    display: block;
    background-color: #f6f6ce;
    border: 1px dotted #336;
    font: 0.9em "Lucida Console", "Courier New", Courier, monospace;
    margin: .5em 0;
    padding: .5em;
    line-height: 1.5em;
    display: block;
    white-space: pre;
    text-align: left;
}

.d3blogBlockTable {
    width: 100%;
    border-collapse: collapse;
    color: #1b1b18;
    font-size: 1em;
}
.d3blogBlockTable  th {
    font-weight: bold;
    background: #2F5376;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #bfbfbf;
    line-height: 2.0;
}
.d3blogBlockTable td { border: 1px solid #bfbfbf; line-height: 1.5; }
.d3blogBlockTable .even td { background-color: #dee3e7; }
.d3blogBlockTable .odd td { background-color: #E9E9E9; }
.d3blogBlockTable .center { text-align:center; }
.d3blogBlockTable .right { text-align:right;}
.d3blogBlockTable .top { vertical-align:top;}
.d3blogBlockTable .middle { vertical-align:middle;}
.d3blogBlockTable .bottom { vertical-align:bottom;}

.d3blogBlockTable dl,
.d3blogBlockTable dt,
.d3blogBlockTable dd { margin:0; padding:0; }

/* calendar block */
#d3blogBlockCalendar {
    empty-cells: show;
    font-size: 100%;
    margin: 0 auto;
    width: 132px;   /* change if you like:  pixels = column with * 7 + cellspacing */
                    /* sample 14*7+6=104 or 18*7+6=132 or 22*7+6=160 */
}

#d3blogBlockCalendar a {text-decoration: underline;}

#d3blogBlockCalendar a:hover { background: transparent; color: #c00;}

#d3blogBlockCalendar caption {
    color: #000;
    font: 100% Tahoma, Arial, Serif;/* Font-size critical if you change box width */
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#d3blogBlockCalendar #to-this { padding: 0; }
#d3blogBlockCalendar caption a { text-decoration:none; }
#d3blogBlockCalendar caption a:hover { color: #c00; }
#d3blogBlockCalendar a#to-nextM { padding: 0 7px; }
#d3blogBlockCalendar a#to-prevM { padding: 0 7px; }

#d3blogBlockCalendar th {
    text-transform: none;
    font-size: 90%; /* Font-size critical if you change box width */
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    width: 18px;    /* Critical if you change box width */
    height: 18px;   /* Critical if you change box width */
    background: #2F5376;
    padding: 0;
}

#d3blogBlockCalendar td {
    color: #000;
    font: normal 100% Tahoma, Arial, Serif; /* Font-size critical if you change box width */
    text-align: center;
    vertical-align: middle;
    width: 18px;    /* Critical if you change box width */
    height: 18px;   /* Critical if you change box width */
    padding: 0;
}

#d3blogBlockCalendar .today { border: 1px solid #369; }
#d3blogBlockCalendar .today a{ text-decoration: none !important; }

#d3blogBlockCalendar th.sunday,
#d3blogBlockCalendar td.sunday {}
#d3blogBlockCalendar th.saturday,
#d3blogBlockCalendar td.saturday {}
#d3blogBlockCalendar td.prevmonth,
#d3blogBlockCalendar td.nextmonth {color: #dda;}  /* hides if the same color used as background */

/* category block */
.d3blogBlockCategory { margin:0 0 0 3px; padding:0; list-style:inside; }
.d3blogBlockCategory li { margin:0; padding:0; }
.d3blogBlockCatChild { margin:0 0 0 8px; padding:0; list-style:inside; }

/* archive block */
.d3blogBlockArchive { margin:0 0 0 3px; padding:0; list-style:inside square; }
.d3blogBlockArchive li { margin:0; padding:0; }
.d3blogBlockArchNav { margin:0 8px 0 0; text-align:right; }
.d3blogBlockArchSort { margin:0 0 0 8px; }

/* latest entries block */
.d3blogBlockLatestEntries { margin:0 0 0 3px; padding:0; list-style:inside; }
.d3blogBlockLatestEntries li { margin:0; padding:0;}
.d3blogBlockLatestEntries li p { margin:.3em 0 .3em 1em; padding:0;}

/* recent trackback block */
.d3blogBlockTB { margin:0 0 0 3px; padding:0; list-style:inside; }
.d3blogBlockTB li { margin:0; padding:0; }
.d3blogBlockTB .tbdate {}

/* recent comment block */
.d3blogBlockComments { margin:0 0 0 3px; padding:0; list-style:inside; }
.d3blogBlockComments li { margin:0; padding:0; }
.d3blogBlockComments li span {}

.moreBlogs { display:block; text-align:right; }

/***------------ experimental -------------***/
/* Clearing float   www.positioniseverything.net */
.clearFix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearFix {
	display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearFix {height: 1%;}
.clearFix {display: block;}
/* End hide from IE-mac */
