/*----- experiment for hodaka  -----*/
/*
code {
    background-color: #f6f6ce;
    border: 1px dotted #336;
    font: 0.9em "Lucida Console", "Courier New", Courier, monospace;
    margin: .5em 0;
    padding: .5em;
    line-height: 1.3em;
    display: block;
    white-space: pre;
    text-align: left;
}
code em {
    color : #c00;
    font-style : normal;
}
*/

/*----- d3blog common -----*/
/* for d3blog text sanitizer */
.blogleft { float:left; margin:0; padding:0; }
.blogright { float:right; margin:0; padding:0; }
.blogBody {	overflow:auto;/* this is the key for good browsers*/ }
/* mac hide \*/
* html .blogBody {height:1%}
/* end hide*/
.blogcenter { display:block; text-align:center; margin:0 auto; padding:0; } /* TO DO */
.blogQuote {
    display: block;
    margin: 1em 0 1em 2em;
    border-left: 3px solid #000;
    padding-left: 1em;
    font-size: 1.1em;
    overflow: auto;
    width: 95%;
}
.blogCode {
    display: block;
    background-color: #f6f6ce;
    border: 1px dotted #336;
    font: 0.9em "Lucida Console", "Courier New", Courier, monospace;
    margin: .5em 0;
    padding: .5em;
    line-height: 1.5em;
    white-space: pre;
    text-align: left;
    overflow: auto;
    width: 95%;
}

.accesskey { text-decoration:underline; }
.structurelabel {
    position: absolute;
    left: -5000px;
    width: 4000px;
}
map { margin:0; padding:0 }

#d3blogCommonNavi { height:1.4em; margin-bottom:1em; padding:.2em 0; border-bottom:2px solid #eee; }
.d3blogCatNavi { float:left; list-style:none; margin:0; padding:0;}
.d3blogCatNavi li { display:inline; line-height:1; margin:0; padding:0 .1em 0 0; }

.d3blogNavigation { list-style:none; margin: 0; padding:0; float:right; }
.d3blogNavigation li { display:inline; line-height:1; border-right:1px solid #999; margin:0; padding:0 .2em; color:#ddd; }
.d3blogNavigation li.noentry { border-right:1px solid #ddd; }
.d3blogNavigation li.last { border:none; }

/*** for xoops page navigation ***/
/* centering the box */
.pagenaviOuter{
	position: relative;
	left: 50%;
	float: left;
	clear:both;
	margin: 2em 0;
}
/* page navi list */
.xoopspagenavi {
	position: relative;
	left: -50%;
	text-align:center;
  margin: 0;
	padding: 0;
	list-style-type: none;
	white-space: nowrap;
	color: #999;
}
.xoopspagenavi li {
  display: inline;
	font-family: verdana, arial, sans-serif;
	font-size: 9px;
	font-weight: bold;
	margin: 0;
	padding: 5px 0 4px 0;
	background-color: #fff;
	border: 1px solid #c0c0c0;
	/*position: relative;*/
}
* html .xoopspagenavi li { /*margin-left: -4px;*/ padding: 0; }
.xoopspagenavi li.pageCurrent span,
.xoopspagenavi li.pageSkip span,
.xoopspagenavi li a {
	margin: 0;
	padding: 5px 9px 4px 9px;
	color: #808080;
	text-decoration: none;
}
* html .xoopspagenavi li a,
* html .xoopspagenavi li.pageCurrent span,
* html .xoopspagenavi li.pageSkip span {
  margin-right: -3px;
}
.xoopspagenavi li a:visited {
  color: #808080;
}
.xoopspagenavi li a:hover,
.xoopspagenavi li.pageCurrent span {
  color: #808080;
	background-color: #eee;
	text-decoration: none;
}
/* bullet cosmetics */
.xoopspagenavi li.pagePrev a {
	background: #fff url(../images/laquo_bullet.gif) 0 50% no-repeat;
  padding-left: 17px;
}
.xoopspagenavi li.pagePrev a:hover {
	background: #eee url(../images/laquo_bullet_on.gif) 0 50% no-repeat;
}
.xoopspagenavi li.pageNext a {
	background: #fff url(../images/raquo_bullet.gif) 100% 50% no-repeat;
	padding-right: 17px;
}
.xoopspagenavi li.pageNext a:hover {
	background: #eee url(../images/raquo_bullet_on.gif) 100% 50% no-repeat;
}

/*----- Figure Handler -----*/
/* http://code.google.com/p/easy-designs/wiki/FigureHandler */
/* default */
.figure {
  clear: both;
  margin: .3em .3em 1em 0;
  width: 160px;
  display: inline;
}
.figure.figureleft {
  float: left;
}
.figure.figcenter {
	margin: .3em auto 1em auto;
	float: none;
}
.figure.figright {
	margin: .3em 0 1em .3em;
	float: right;
}
.figure p {
  margin: 0;
  width: auto;
}
.figure .credit {
  font-size: .8em;
  text-align: right;
}
.figure .credit cite {
  font-style: inherit;
}
.figure .caption {
  font-style: italic;
  font-size: .9em;
}
.figure .title {
  font-style: normal;
  font-weight: bold;
}
.figure .title:after {
  content: ":";
}

/* customized sample
.figure {
  margin: 0 0 1.5em;
}
.figure p {
  margin: 0;
  width: auto;
}
.figure .credit {
  font-size: .8em;
  text-align: right;
}
.figure .credit cite {
  font-style: inherit;
}
.figure .caption {
  font-style: italic;
  font-size: 1.1em;
}
.figure .title {
  font-style: normal;
  font-weight: bold;
}
.figure .title:after {
  content: ":";
}
.figure.half-col,
.figure.third-col {
  float: right;
  margin: .3em 0 1em;
}
.figure.half-col p,
.figure.half-col img,
.figure.third-col p,
.figure.third-col img {
  clear: both;
  float: right;
}
.figure.half-col {
  width: 260px;
}
.figure.third-col {
  width: 180px;
}
.figure.quarter-col {
  float: left;
  margin: .3em 0 1em;
  width: 140px;
}
sample end */

/***------ main_header.html ------***/
#d3blogFeeder { float:right; margin:0 0 1.5em; padding:0;}
/* case image
#d3blogFeeder li { display:inline; float:left; margin:0; padding:0; width:85px; padding-left:2px; }
#d3blogFeeder li img { vertical-align:bottom; }
*/
#d3blogFeeder li { display:inline; float:left; margin:0; padding:0 5px; border-left:1px solid #999; }
#d3blogFeeder li.first { border:none;}

#d3blogHeader {
    clear: both;
    margin: 0 0 1.5em;
    padding: 0;
    font-size: 1.2em;
    font-weight: bold;
}

/***------ main_index.html ------***/
.d3blogCategory {
    margin: 0;
    padding: 5px 5px 0;
    font-size: 1em;
}
.d3blogCategory a { font-size:1em; }

/*#d3blogCatree { clear:both; margin-bottom:10px; padding:5px; border-top:1px solid #999; }
.d3blogCatreeLeft { clear:both; display:inline; float:left; }
.d3blogCatreeRight { display:inline; float:left; padding-left:3em; } IE doen't work */

.d3blogCatree {
    clear: both;
    margin-bottom: 10px;
/*  margin:10px auto;*/     /* case center */
    display: table;         /* ie doen't understand */
    border-top: 1px solid #999;
    padding: 5px;
    white-space: nowrap;
}
.d3blogCatree li.level1 {
    display: table-cell;    /* ie doen't understand */
    position: relative;
    margin: 0;
    padding-right: 0;
    vertical-align: top;    /* ie drops down to bottom if you erase */
    width: 13em;
}
.d3blogCatree li li {
    margin-left: 14px;
}

#d3blogCategoryNaviMap { margin-bottom:1em; padding-bottom:.1em; border-bottom:2px solid #eee; }

.d3blogPageNavigation { clear:both; text-align:right; border-top:1px solid #999; line-height:1.5; }

/***------ inc_entry.html ------***/
.d3blogEntry { margin:0 0 1em; }
.d3blogEntryHeader {
    clear: both;
    margin-bottom: 1em;
    padding: 0;
    border-left: 5px solid #999;
}
.d3blogEntryTitle {
    margin: 0;
    padding: 7px 7px 7px 7px;
/*  border-left: 5px solid #999;
  border-bottom: 3px solid #999;*/
}
.d3blogEntryTitle a { font-size:1.2em; font-weight:bold; letter-spacing:1px; }
.d3blogEntryCreated {}
.d3blogEntryCategory,
.d3blogEntryBlogger { margin: 0; padding:0 0 7px; }
.d3blogEntryCategory { float:left; padding-left:20px; }
.d3blogEntryBlogger { float:right; }
.d3blogEntryCategory dt,
.d3blogEntryCategory dd,
.d3blogEntryBlogger dt,
.d3blogEntryBlogger dd { display:inline; margin:0; padding:0; float:left}
.d3blogAvatar { vertical-align:bottom; border:none; }

.d3blogContents {
    clear: both;
    margin-left: 20px;
    margin-bottom: 2px;
    padding: 5px;
    border-bottom: 1px dotted #999;
    line-height: 1.5;
}
.d3blogContents dl, .d3blogContents ol, .d3blogContents ul { margin: 2px; padding: 2px; }
.d3blogContents ul {list-style:square inside; margin-left: 1em; }
.d3blogContents ol {list-style:decimal inside; margin-left: 1em; }
.d3blogContents dt { margin-left: 1em; font-weight: bold; }
.d3blogContents dd { margin-left: 3em; }
.d3blogContents li {}
.d3blogContents .xoopsCode {
    width: 95%;
    overflow: auto;
    margin: 10px 0;
    padding: 5px;
    border: 1px dotted #999;
}
.d3blogContents img { margin: 10px; padding:0; }
.d3blogContents .readMore {
    display: block;
    padding-top: 1em;
}
#d3blogSeperator { clear:none; margin: 0; padding:.2em; }
.d3blogLatterHalf { margin-top: 1em; }

.blogImage { margin-right:10px; padding:0; width:160px; font-weight:normal; float:left}
.blogImageRight { margin-left:10px; padding:0; width:160px; font-weight:normal; float:right}
/* \*/
* html .blogImage { margin-right:5px; }
* html .blogImageRight { margin-left:5px; }
/* */
.blogImage img { margin:0; }
.blogImage span { display:block; }

.d3blogFooter { clear:both; margin:0; padding:0; float:right; line-height:1.0; }
.d3blogFooter li { display:inline; float:left; margin:0; padding: 0 3px; border-right:1px solid #999; font-size: .9em; }
.d3blogFooter li.last { border:none; }
.d3blogFooter a {}
.d3blogFooter .unapproved { color:#cc0000; }

/*------ main_details.html ------*/

#d3blogTrackback {
    clear:both;
    font-size:1.2em;
    font-weight:bold;
    line-height:1.5;
    margin: 1em 0;
    padding: 7px 7px 7px 20px;
    border-left: 5px solid #999;
}
#d3blogShowTrackbackURL { margin:1em 0 1em 20px; padding:7px; font-size:1.1em; font-weight:bold; }
#d3blogGetTrackbackURL { margin-left:.5em; font-weight:normal; font-size:1em; }
#d3blogTrackbackURL { margin-left:.5em; font-style:normal; font-weight:normal; font-size:1em; }

#d3blogTrackbackTransmit { margin:1em 0 1em 20px; padding:7px; font-size:1.1em; font-weight:bold; }
#d3blogTrackbackTransmitted { margin:1em 0 1em 40px; padding:0; }
.d3blogSentTrackbackURL { margin:0 0 1em; padding:0; }
.d3blogTrackbackCreated { margin-left:1em; font-size:.9em; }

#d3blogTrackbackReceive { margin:1em 0 1em 20px; padding:7px; font-size:1.1em; font-weight:bold; }
#d3blogTrackbackReceived { margin:1em 0 1em 40px; padding:0; }
.d3blogTBTitle { margin:0; padding:0; font-weight:normal; }
.d3blogTBCreated { margin-left:.5em; font-size:.9em; font-weight:normal; }
.d3blogTBContents { margin:0 0 0 2em; padding:0; line-height:1.5; border-bottom:1px dotted #999;}
.d3blogTBFooter { margin:0 0 1em; padding:0; text-align:right; }

/* print_and_friend */
.print_and_friend{ text-align:right; }
.print_and_friend li{ display:inline; margin-left:10px; }

/* comments */
.d3blogCommentNotice {
    clear:both;
    font-size:1.2em;
    font-weight:bold;
    line-height:1.5;
    margin-bottom: 1em;
    padding: 7px;
    border-left: 5px solid #999;
}
.d3blogCommentNavi * { clear:both; vertical-align: middle; }
.d3blogComment {  margin-left:20px; }
#d3blogComNavBar { margin-left:20px; }

#d3blogPreviewComment { margin-bottom:1em; }
#d3blogPreviewCommentTitle {}
#d3blogPreviewCommentBody {}
#d3blogConferComment {}
#d3blogConferCommentTitle {}
#d3blogConferCommentHead {}
#d3blogConferCommentBody {}

#d3blogCommentPost {
    clear:both;
    font-size:1em;
    font-weight:bold;
    line-height:1.5;
    margin-bottom: 1em;
    padding: 7px;
    border-left: 5px solid #999;
}
#d3blogCommentForm { font-size:1em; margin-left:20px; }
#d3blogCommentForm fieldset { border:none; }
#d3blogCommentForm legend { line-height:1.5; }
#d3blogCommentForm legend em { font-weight:bold; font-style:normal; }
#d3blogCommentForm .label { display:block; line-height:1.5; }
#d3blogCommentForm .control { display:block; margin:0; padding:0; line-height:1.5; }
#d3blogCommentForm #com_options { display:none; }

/***--------d3blog_archive.html------***/

#d3blogSelBox{ margin:0 auto 10px; border: none; vertical-align:middle; text-align:center; }
#d3blogSelBox label { margin-right: 1em; }

#d3blogArchTable {
    width: 100%;
    border-collapse: collapse;
    color: #1b1b18;
    font-size: 1em;
    table-layout: fixed;
}
#d3blogArchTable .head th {
    font-weight: bold;
    background: #2F5376;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #bfbfbf;
    line-height: 2.5;
}
#d3blogArchTable td { border: 1px solid #bfbfbf; line-height: 1.5; }
#d3blogArchTable .even td { background-color: #dee3e7; }
#d3blogArchTable .odd td { background-color: #E9E9E9; }
#d3blogArchiveFooter { margin:10px 0 0 0; padding:0; }
#d3blogArchiveFooter li { list-style:none; color:#000; }
#d3blogArchiveFooter .d3blogArchTotal{ float: left; }
#d3blogArchiveFooter .d3blogArchPagenav{ float: right; text-align: right;}

/***--------- main_submit.html ----------***/
#d3blogDeleteHeader { margin:0 0 1em; padding:0 5px; font-size:1.2em; }
#d3blogConfirmMessage { margin:0 0 1em; padding:0 5px; font-size:1.1em; }
#d3blogDeleteEntry { margin:0 0 1em 1em; }
#d3blogDeleteEntry dt { font-weight:bold; }
#d3blogDeleteEntry dd { margin-left:2em; }
#confirmdelete fieldset,
#canceldelete fieldset { float:left; display:inline; border:none; }

#d3blogPreviewHeader { margin:0 0 1em; padding:0 5px; font-size:1.2em; }

/* xoopsForm */
#d3blogForm {
    width: 100%;
    margin: 0 auto;
}

#d3blogForm fieldset {
    margin: 1em 0 0 0;
    padding: 0;
    border-width: 1px;
    border-color: #776d6b;
    border-style: none;
}
#d3blogForm legend {
    padding: 3px 0;
    font-weight: bold;
}
#d3blogForm em {
    font-style: normal;
    font-weight: bold;
    color: #f00;
}

#d3blogForm .label {
    clear: left;
    display: block;
    padding: 3px 0;
    padding-left: 5px;
    float: left;
    width: 100px;
    line-height: 1.2;
    border-top:1px solid silver;
    vertical-align: middle;
}
#d3blogForm .control {
    display: block;
    margin: 0 0 0 105px;
    padding: 3px 0;
    line-height: 1.2;
    border-top:1px solid silver;
    vertical-align: middle;
}
#d3blogForm input checkbox {
    margin: 0;
    padding: 0;
    border-style: none;
    color: #000;
    background: transparent;
}
#d3blogForm input, .xoopsForm select, .xoopsForm textarea {
    border-style: solid;
    border-width: 1px;
    border-color: #aaaa94 #dfdfd6 #dfdfd6 #aaaa94;
    vertical-align: bottom;
    color: #696969;
    background: #f1f1ed;
    padding: 3px;
}*/
/*#d3blogForm input radio {
    border-style: none;
    color: #000;
    background: transparent;
}

#d3blogForm .formSubmit {
    margin: 0 0 1em;
    color: #444;
    border: none;
}
#d3blogForm .formSubmit input {
    margin-right: .5em;
    border-width: 2px;
    border-color: #587B9C #1A3854 #1A3854 #587B9C;
    width: 6em;
    vertical-align: middle;
    color: #fff;
    background: #2F5376;
}*/

#d3blogForm #title,
#d3blogForm #contents,
#d3blogForm #trackback_url { width: 500px; }
#d3blogForm input[type="text"]:focus, #d3blogForm textarea:focus {
  background-color: #fff;
}

/***------------ experimental -------------***/
/* Clearing float   www.positioniseverything.net */
.clearFix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearFix {
	display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearFix {height: 1%;}
.clearFix {display: block;}
/* End hide from IE-mac */

.clearall { clear:both; }