<{include file="db:`$mydirname`_header.html"}>



<{if $coupons != ""}>

  <h3><{if $past}><{$smarty.const._MD_PAST}><{else}><{$smarty.const._MD_FUTURE}><{/if}></h3>

  <{if $navdisp}>
    <div style="float:left;"><{$navinfo}></div>
    <div style="text-align:right;"><{$nav}></div>
    <br style="clear:both;" />
  <{/if}>

  <table class="outer">
  <tr>
    <th><{$smarty.const._MD_COUPONTITLE}></th>
    <th><{$smarty.const._MD_STARTDATE}></th>
    <th><{$smarty.const._MD_ENDDATE}></th>
    <th><{$smarty.const._MD_LASTUPDATEC}></th>
    <th><{$smarty.const._EDIT}></th>
  </tr>
  <{foreach item=cp from=$coupons}>
    <tr class="<{cycle values='odd,even'}>">
      <td><a href="<{$myurl}>/index.php?lid=<{$cp.lid}>"><{$cp.title}></a></td>
      <td><{$cp.starttime}></td>
      <td><{$cp.endtime}></td>
      <td><{$cp.regidate}></td>
      <td><a href="<{$myurl}>/index.php?page=edit&amp;lid=<{$cp.lid}>"><{$smarty.const._EDIT}></a></td>
    </tr>
  <{/foreach}>
  </table>

  <{if $navdisp}>
    <div style="float:left;margin-top:16px;"><{$navinfo}></div>
    <div style="text-align:right;"><{$nav}></div>
    <br style="clear:both;" />
  <{/if}>

<{/if}>



<{include file="db:`$mydirname`_footer.html"}>
