<{include file="db:`$mydirname`_header.html"}>
<{if $coupon}>


<{include file="db:`$mydirname`_coupon.html" link=$coupon}>

<{*
<!-- d3forum comment integration -->
<{if $comment_dirname && $comment_forum_id }>
  <{d3forum_comment dirname=$comment_dirname forum_id=$comment_forum_id  id=$coupon.lid subject=$coupon.title class="couponsCommentContent" mytrustdirname="coupons"}>
<{/if}>
*}>

<{include file='db:system_notification_select.html'}>


<{/if}>
<{include file="db:`$mydirname`_footer.html"}>