<div style="text-align:center;">
<!-- Google CSE Search Box Begins -->

<form id="searchbox_<{$block.xcsearch_id[0].cx}>" action="<{$smarty.const.XOOPS_URL}>/modules/<{$block.dirname}>/">
  <input type="hidden" name="cx" value="<{$block.xcsearch_id[0].cx}>" />

  <input name="q" type="text" size="25" />
  <input type="submit" name="sa" value="Search" />
  <input type="hidden" name="cof" value="FORID:11" />
  <input name="ie" value="<{$smarty.const._CHARSET}>" type="hidden">
  <input name="oe" value="<{$smarty.const._CHARSET}>" type="hidden">
</form>

<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=searchbox_<{$block.xcsearch_id[0].cx|escape}>"></script>

<!-- Google CSE Search Box Ends -->
</div>
