<?php
global $xoopsConfig, $xoopsUser, $xoopsUserIsAdmin, $xoopsLogger, $xoopsModule, $xoopsOption, $xoopsDB, $xoopsRequestUri, $xoopsTpl;
include XOOPS_ROOT_PATH . '/header.php';
$header = sprintf('
%2$s
<link rel="alternate" type="application/rss+xml" title="RSS 1.0" href="%1$s" />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="rsd.php" />
%3$s
%4$s
', $this->Request->createUri(array('base' => '/rss', 'params' => array('period' => 'new'))), $CSS, $JS_HEAD, $HTML_HEAD);
$xoopsTpl->assign('xoops_module_header', $header);
if (!empty($PAGE_TITLE)) {
    $xoopsTpl->assign('xoops_pagetitle', h($PAGE_TITLE));
}
?>
<div id="Xigg">
<?php if (!empty($FLASH)):?>
<?php   foreach ($FLASH as $_flash):?>
<?php     if ($_flash['error']):?>
  <div class="stop">
<?php     else:?>
  <div class="go">
<?php     endif;?>
    <p><?php _h($_flash['msg']);?></p>
  </div>
<?php   endforeach;?>
<?php endif;?>
<?php echo $CONTENT;?>
</div>
<?php echo $JS_FOOT;?>
<?php include XOOPS_ROOT_PATH . '/footer.php';?>